[2015-07-19 06:45] #315 closed

[2015-07-19 06:46] steida commented on #309
no activity

[2015-07-19 06:46] #309 closed

[2015-07-19 06:46] steida commented on #314
new flux just landed

[2015-07-19 06:46] #314 closed

[2015-07-19 06:47] steida commented on #296
they come from server, hard to implement

[2015-07-19 06:47] #296 closed

[2015-07-19 06:47] steida commented on #88
or not

[2015-07-19 06:47] #88 closed

[2015-07-19 06:49] steida commented on #299
No, Karma is for browserstack, not for us. For unit testing, mocha + Node.js is right.

[2015-07-19 06:49] #299 closed

[2015-07-19 06:49] steida commented on #99
over este scope

[2015-07-19 06:49] #99 closed

[2015-07-19 06:50] steida commented on #292
not yet

[2015-07-19 06:50] #292 closed

[2015-07-19 06:50] #287 closed

[2015-07-19 06:50] #291 closed

[2015-07-19 06:51] #286 closed

[2015-07-19 06:51] #285 closed

[2015-07-19 06:51] #318 closed

[2015-07-19 06:56] steida commented on #42
over este.js scope

[2015-07-19 06:56] #42 closed

[2015-07-19 06:57] #148 closed

[2015-07-19 06:57] steida commented on #289
invariant

[2015-07-19 06:57] #289 closed

[2015-07-19 06:58] #241 closed

[2015-07-19 06:58] steida commented on #266
dev tools are coming

[2015-07-19 06:58] #266 closed

[2015-07-19 06:59] steida commented on #320
Will be fixed with new react-router.

[2015-07-19 06:59] #320 closed

[2015-07-19 07:00] #237 closed

[2015-07-19 07:01] #279 closed

[2015-07-19 07:01] steida commented on #228
over este scope

[2015-07-19 07:01] #228 closed

[2015-07-19 07:02] steida commented on #55
someday...

[2015-07-19 07:04] steida commented on #311
on activity

[2015-07-19 07:04] #311 closed

[2015-07-19 07:07] steida opened #351 "Consider removing Karma"
Unit tests should be able to run in plain Node without Phantom or whatever. Where DOM is involved, we need real many real browsers in browserstack anyway. So for the best TDD, investigate plain Node approach.

[2015-07-19 07:12] grabbou opened #352 "Pass services to actions as object"
https://github.com/este/este/blob/feb1bd1ff4d45c5af0ba5c92db2b0efff0c0d4a0/src/client/auth/actions.js#L9

[code]

So we can destruct and choose only the ones we want. Easier, we don't need to remember the order.

[2015-07-19 07:16] steida commented on #352
I see your point, but almost all actions with need the same set of dependencies, so...

[2015-07-19 07:17] steida commented on #345
So for some reason, last intl doesn't work. @grabbou Care to fix it?

[2015-07-19 07:18] steida commented on #244
one day

[2015-07-19 07:18] #244 closed

[2015-07-19 07:19] grabbou commented on #352
Really? Hmm, maybe in this example as you have only two action files... But in real life? `auth` actions will need validate and msg, `orders` actions will need XHR/API/whatever to issue a request w/o using validate/msg at all.

[2015-07-19 07:22] grabbou commented on #352
Anyway, I am not gonna argue with you on that. It's out of scope of this project. I am gonna shape it into my needs which is cool. Maybe some day someone asks for the same and then, I'll be able to give him the solution.

[2015-07-19 07:24] steida commented on #352
Feel free to send PR.

[2015-07-19 07:32] grabbou commented on #352
If you fancy, you can always keep it in both ways
[code]
Will send over proposal later.

[2015-07-19 08:06] grabbou commented on #345
Will check, had same issue.

[2015-07-19 18:15] #345 closed

[2015-07-19 18:16] steida opened #353 "Update to intl 1.0.0"
https://github.com/andyearnshaw/Intl.js/issues/118, same error here

[2015-07-19 18:23] steida commented on #351
this looks promising https://github.com/mako-taco/react-fluxthis-webpack-mocha-gulp/blob/master/gulpfile.js

[2015-07-19 19:21] steida commented on #351
https://twitter.com/steida/status/622847957373743104

[2015-07-19 20:13] steida commented on #55
https://github.com/gaearon/redux/issues/290

[2015-07-20 09:39] mirimCZ commented on #339
Its detail but it might be better to name "controlling page" other way, than "page.react.js". Can be confusing for newcommers, when I open module, I'm looking for somethink like "index" (standart from npm) or somethink with same name module has (same name? oh, this looks important), page is more like "what ever bro..."

@grabbou what do you think?

[2015-07-20 10:40] grabbou commented on #55
Does it support let/const finally?

[2015-07-20 10:41] ronag commented on #55
Nope

[2015-07-20 10:52] grabbou commented on #55
-.-

[2015-07-20 13:40] mirimCZ opened #354 "Describe workflow needed to create new feature"
Add to wiki all steps needed while creating new feature.

Where to register:
* store
* action
* route > page

Then automate with cli.

[2015-07-20 14:48] mirimCZ commented on #354
* create directory representing feature
* create handler component for route = page
* add page to routes
* create store and register in src/client/app/store.js
* create actions and register in src/client/app/app.react.js

Now you  can call actions and unidirectional flow is compled.

Reviewed by @steida in person.

[2015-07-20 14:56] steida opened #355 "este-bare"
Write gulp task for removing examples and other stuff.

[2015-07-20 16:13] grabbou commented on #355
Is gulp really going to remove all the actions and unused elements?

[2015-07-20 16:14] steida commented on #355
Probably not :)

[2015-07-20 17:18] fk1blow opened #357 "Testing from a local ip won't load app.js"
Although webpack config has a '0.0.0.0', trying to access the dev app from a mobile device,
it loads the prerendered html but doesn't load the app.js(hence css, images, etc).

[2015-07-20 17:44] mirimCZ commented on #355
Node script can solve this, right? Can it be command in cli?

[2015-07-20 17:54] steida commented on #357
Thank you for inho. Can you investigate it please?

[2015-07-20 18:52] grabbou commented on #355
The only way I can see it implemented is either do it manually, use comments like /* todo-start */ /* todo-end */ in each file to mark content that can be stripped out (yet again tricky to handle imports and so on) or with CLI - the only `gentle` solution yet will require dozens of hours to make it efficient.

Do we really need that? With new flux which is just one file, can we just make an app wi

[2015-07-20 18:52] grabbou commented on #357
What browser/device? I can check it in the office (will do on iOS, didn't have any issues before though)

[2015-07-20 18:53] grabbou commented on #354
(That's why I need to finish up the CLI)
Good job!

[2015-07-20 19:02] tajo commented on #355
:+1:

Then you can use `este-cli` to generate todo-mvc. It should be easier to add stuff than remove it, right?

[2015-07-20 19:39] fk1blow commented on #357
Tested on android 5.1, chrome; it doesn;t work on iphone 6 safari, as well or
anything that wants to connect to the app within a LAN.

One thing to note is that running the app with `gulp -p` works ok, so a network
problem is out of the question.

[2015-07-20 20:22] grabbou commented on #355
The problem is - there's no core apart from 3 or 4 files. Most of the stuff we do is nailing down patterns which bare version will be missing (as they are not always used in every project).

[2015-07-20 20:36] steida opened #358 "finish dev tools"
Show collapsable right bottom corner with:
- checks: log actions, with payloads, show render
- help, key shortcuts for save/load app state
- inspect state in dev console
- don't load for production

[2015-07-20 20:36] fabriciocolombo commented on #357
I think it's because app always point to localhost when running in dev mode.

https://github.com/este/este/blob/master/src/server/frontend/render.js#L53-L55

[2015-07-20 20:37] grabbou commented on #358
(y) tomorrow?

[2015-07-20 20:38] grabbou opened #359 "Make a branch with the previous Este"
Can we make a branch with the latest previous Este version we had before the rewrite? Might be quite useful for those who won't migrate / don't have time / are in progress with their projects and want to sync up with the changes we've done?

[2015-07-20 20:39] steida commented on #359
Make sense. Can you do it please?

[2015-07-20 20:40] grabbou commented on #359
Yes, just need to find the sha of commit

[2015-07-20 20:41] steida commented on #358
Sure

[2015-07-20 20:42] steida commented on #355
Exactly. Also, we need starter kit for 80 % use cases.

[2015-07-20 20:43] grabbou commented on #355
Yeah, but I would love CLI to be capable to start off with nothing. It should be able to create every file, e.g. create `initial state.js` if missing or `app.react.js` when missing, that's the future goal, so you can start off with empty folder :)

[2015-07-20 20:45] steida commented on #355
Yeah, it's great idea to have Este Starter Kit built with cli and Este Bare only :-)

[2015-07-20 21:26] fk1blow commented on #357
I forgot to mention that, my bad(i'm sorry) but @fabriciocolombo  is right; i even
tried to hardcode the lan ip inside the `webpack/devserver.js` file and at some point,
and didn't work.

[2015-07-20 21:35] grabbou commented on #357
I think it should accept command line argument `ip` so you can specify the IP you want to use from now one. E.g. `gulp --ip 172.0.0.5`

[2015-07-20 21:51] steida commented on #357
That's a good idea, but isn't better to have possibility to run everything from localhost?

[2015-07-20 22:28] steida commented on #358
- convert `- [este] 13.441999995848164` to `- [este] app render 13.44ms`

[2015-07-20 22:56] steida commented on #358
Dev tools should render separate component with own state into `<body><div className="este-dev-tools">`

[2015-07-20 23:41] fabriciocolombo commented on #357
There is no way to detect the ip automatically? Like `window.location.hostname` on client side

[2015-07-20 23:48] steida commented on #357
Idk, try it and send pull request #openSourceSucks ;)

[2015-07-20 23:51] fabriciocolombo commented on #357
:+1:

[2015-07-21 00:08] steida opened #360 "Rename Flux decorator to flux"
because it is method, not class

[2015-07-21 00:25] #360 closed

[2015-07-21 03:21] fabriciocolombo commented on #357
server.address().address returns the [bounded server address](https://nodejs.org/api/net.html#net_server_address) , but i don't know how pass this to the frontend middleware (JS newbie)

Can you help me @grabbou?

[2015-07-21 06:17] grabbou commented on #357
It's not gonna work. It will still return `127.0.0.1` which is still loopback IP in this case and won't point to that machine when accessed remotely. What we are looking for is ability to infer IP address assigned within specified network.

A good solution would've been to do something like this:
https://gist.github.com/grabbou/d4b2340fd4953e22f0d1#file-file-js-L38
https://gist.github.com/grabbou/

[2015-07-21 06:22] grabbou commented on #359
https://github.com/este/este/tree/este-v1

[2015-07-21 06:22] #359 closed

[2015-07-21 08:57] grabbou opened #362 "Clean up render method in server a bit"
Shouldn't this
https://github.com/este/este/blob/master/src/server/frontend/index.js#L32
be
[code]
I believe it's more smart syntax although render method accepts unlimited number of arguments (states) to pass

[2015-07-22 01:26] #357 closed

[2015-07-22 02:17] steida opened #364 "Este Universal"
- browser/server/mobile/desktop/common
- one cli to rule them all

[2015-07-22 02:29] steida opened #365 "Use hashes instead of version numbers for long lived assets"
Then remove version from package.json

[2015-07-22 02:50] steida opened #366 "rename _appState to _initialState"

[2015-07-22 08:07] pepakriz opened #368 "Enable CircleCI integration"
This repository is already tested on CircleCI. So why integration is not [enabled](https://github.com/este/este/settings/hooks)?

[2015-07-22 10:59] AugustinLF opened #369 "Add lazy-loading of route configuration (need react-router 1.X)"
It is now possible to dynamically load parts of the app. We could have a look at how to make that work with Este, once the react-router 1.0 branch is merged.

[2015-07-22 14:32] steida commented on #368
I believe it's enabled https://circleci.com/gh/este/este or what do you mean?

[2015-07-22 15:25] pepakriz commented on #368
I mean something like this: ![integration](http://i.stack.imgur.com/Kueuk.png)

[2015-07-22 16:21] steida commented on #368
We have circleci, why to add travis? Requiring CLA is bullshit, we don't need that. Is codeclimete worth it?

[2015-07-22 20:42] grabbou commented on #368
WAT?

[2015-07-22 20:44] grabbou commented on #368
@steida the above screenshot is from CircleCI, or actually from ANY provider supporting this. And yes, we need it, at least to ensure no bugs are in the code in regards to code style (saves your time). We don't care that much about CircleCI so I would say this might be a nice addition that can help others test code before publishing for review.

[2015-07-22 20:46] grabbou commented on #369
But it might be a little overkill given how small the app is. But yes, on the other hand, we can lazy load `authenticated` user page, so it doesn't get downloaded on the initial load when user is not logged in.

[2015-07-22 21:13] steida commented on #369
I think, we should have este/este-everything, as place for as much demos as possible, maybe :-)
Meanwhile, we can create este-something to demonstrate that pattern.

[2015-07-22 21:15] steida commented on #368
Maybe I'm missing something. We already have CI enabled.

[2015-07-22 22:34] anilanar opened #371 "Todos won't work in Safari 7.1.7"
I was exploring react-flux-ES2015 to start development with them and found `este`. However Todos in example app won't work in Safari 7.1.7 (OSX Mavericks) although it does in Chrome 44, so I kind of have my doubts about this stack. Although I'm ready to give up browser compatibility with older IEs, this is not OK.

There is an error in console in case it prevents loading/running some of the JS:

[2015-07-22 22:48] AugustinLF commented on #369
Hmmm, even if of course it is overkill, este/este is also there to show what is doable/how things should be done, no? But yes, perhaps a este-something would work, even if that makes it harder to maintain.

[2015-07-22 23:54] steida commented on #371
Thank you for reporting this issue. It's minor thing, I will fix it now. Btw, Este is about shared the best patterns and practiques. Read the code, learn. Then decide ;)

[2015-07-22 23:56] steida commented on #371
Btw, testing with browser stack across all browsers and platforms is planned as well.

[2015-07-23 00:06] steida commented on #371
Meanwhile, use Chrome or comment out https://github.com/este/este/blob/4114bf03ffa4bd56d43fb5d93f5f06a4c58e2448/src/client/lib/flux/decorate.js#L41

[2015-07-23 00:18] steida opened #372 "displayName and name for higher order components"
I think `displayName` is good enough with current stack. TODO: Check it, if fail, use `name` as well.

displayName is probably stripped from compiled code. Maybe overridable name is the best approach.

Ensure all higher order components have suffix.

[2015-07-23 01:23] steida opened #373 "Use onFooFieldChange"
instead of setFooField

[2015-07-23 04:47] grabbou commented on #369
like `todomvc` repo? :dart:

[2015-07-23 04:49] grabbou commented on #368
Yes, but.. Github Status API somehow not working http://blog.circleci.com/github-status-support/ Should run `npm test` on every single pull request we receive.

[2015-07-23 04:50] grabbou commented on #371
https://gist.github.com/paulirish/5438650 ?

[2015-07-23 09:37] markopavlovic commented on #359
thx was looking for this :+1:

[2015-07-24 12:10] mirimCZ opened #374 "Material Design as standart UI lib?"
https://www.google.com/design/

http://material-ui.com/#/

Follows pit of success pattern, and also multiplatform pattern. Removes boilerplate code in stylus, but adds dependency.

[2015-07-24 12:11] abelaska commented on #374
+1

[2015-07-24 12:13] grabbou commented on #374
-1, I think it's going to be too much opinionated. There are people that don't like MaterialUI and I'm one of them. Will add even more elements to be deleted when users start a new project. I think pure styles are ok, or bootstrap, or a simple grid components, something like that.

[2015-07-24 12:22] bulby97 commented on #374
+1, so CssInJs all the way ?

[2015-07-24 13:44] tomfrew commented on #374
-1

I would really suggest avoiding material design as the standard ui library. It's a very opinionated design framework and while there are applications that suit the style I believe that for a lot of applications it does more harm than good.

For me a few of major issues with the material design language are:
* Strong reliance on the hamburger icon which hide navigation items and so rally reduce

[2015-07-24 16:56] steida commented on #374
Este.js is about sharing common patterns and practiques so este/este should stay as minimal as possible. But we can have este/material-ui, if there is something worth to demonstrate.

[2015-07-24 16:59] #374 closed

[2015-07-29 20:50] grabbou opened #376 "Better way to inject dependencies"
Imagine having plenty of actions and plenty of custom `helper` files, instead of passing them everywhere, I would suggest slightly more "clever" syntax...

Say every `action.js` file can optionally have the following lines:
[code]

Implementation:
[code]

3rd parameter `deps` defaulting to an array and then, destructing in create method. Imo useful when you don't need `validate` in every action fi

[2015-07-29 23:41] grabbou commented on #376
Imo critical as people tend to use CommonJS anyway.

[2015-07-29 23:41] grabbou opened #377 "Document that there's no block scope in switch/case"
Not sure if obvious for everyone. Previously we had cursor(cur => ...) at the top level of the case so the issue wasn't there.

[2015-07-29 23:43] grabbou opened #378 "[Idea] Dispatch could accept an array"
E.g.

[code]

Simple check for `Array.isArray` on `action` argument + recursive iteration in forEach should do the trick in non obtrusive way.

[code]

WDYT? Any side-effects/issues?

[2015-07-29 23:45] grabbou commented on #372
Can we use babel plugin that adds that automatically? ;)

[2015-07-30 12:13] steida commented on #378
I had such discussion with Samuel. Imagine long list of emails with just one action emails.setAsRead(123). Sooner or later someone would dispatch dozens actions to set whole list as read. As result, it would produce long list of actions. Such api would lead developer to misuse it. Isn't it better to change action to accept list of ids? Like email.setAsRead([123, 345]).

Sooner or later someone wou

[2015-07-30 12:13] #378 closed

[2015-07-30 12:14] steida commented on #378
Therefore, dispatch is aimed for just one action, and it's up to developer to create composite actions.

[2015-07-30 12:15] grabbou commented on #378
Well, it's just a syntax sugar on top that will just dispatch them separately. The only difference is you don't have to write dispatch 2 times ;)

[2015-07-30 12:15] steida commented on #377
Yeah, but developer can use update or updateIn with new Flux as well, or create function for even more complicated update. Feel free to send PR.

[2015-07-30 12:15] #377 closed

[2015-07-30 12:17] grabbou opened #379 "[Idea] Favour `remove` in Records instead of re-setting default values"
Thanks to Records everywhere, this is now possible on every level.

https://facebook.github.io/immutable-js/docs/#/Record

Instead of
[code]
we can define initialState like below:
[code]
and when we want to get back to default values, we just write
[code]

[2015-07-30 12:18] grabbou commented on #377
Leaving it open with a label `waiting for PR` or `in progress` would've been surely more helpful than closing, but I see we are with `inbox 0` approach here :+1:

[2015-07-30 12:23] steida commented on #379
Current approach is good enough. Good enough is crucial concept allowing you to finish real things.

[2015-07-30 12:23] #379 closed

[2015-07-30 12:25] steida commented on #378
No. Such api would lead developer toward bad code. During manual loop typing, developer can realize, that action should accept list of ids instead.

[2015-07-30 12:26] #376 closed

[2015-07-31 12:00] grabbou commented on #180
Can confirm improving babel parser to skip `node_modules` as well as setting correct testPathDirs (so it does not loops through node_modules) improves it to run within 2/3 seconds for ~20 tests. To me, not a problem given the nice React-Native support and the fact, it still runs fast on the CI.

[2015-07-31 12:04] grabbou commented on #180
I can confirm that fixing babel parser to skip `node_modules` as well as setting correct testPathDir so it does not loop through node_modules makes start-up time to be less than 1 second. Also, optimising imports makes my tests run in less than 0.1 so very acceptable.

[2015-07-31 12:24] gaurav- commented on #107
But I don't see the convention being followed yet; I see the ".react.js" being used instead of ".jsx". Any plans to change that? @steida @tajo

[2015-07-31 12:46] grabbou commented on #107
Doesn't really matter, it's more a personal preference imo. To me react works better as I often skip extensions at all, so writing `item.react` clearly indicates it's the component. But for those who follow Airbnb guides, probably best to use PascalCase and jsx :)

[2015-07-31 17:35] steida commented on #180
Still, jsdom is deal breaker for Node 0.12 and what is worse, auto mocking is brittle and magic.

[2015-07-31 18:32] grabbou commented on #180
I am testing react native, so auto mocking is actually my friend (React-Native provides lots of modules you can `require` during its runtime that are not available in test environments, so at least with Jest I can easily mock them, see https://github.com/este/native/blob/master/src/app/menu.style.js#L1

[2015-07-31 18:35] grabbou commented on #180
+ I think as per tests, what matters are the solid and reasonable use cases, not the framework being used :}

[2015-08-01 19:06] steida opened #380 "Consider enable babel polyfill by default"
@grabbou

[2015-08-01 20:16] steida commented on #352
Is still an issue to be solved? WDYT?

[2015-08-01 20:31] #373 closed

[2015-08-01 20:37] #366 closed

[2015-08-01 21:05] #371 closed

[2015-08-01 21:07] #355 closed

[2015-08-01 21:09] steida commented on #351
Leave Karma for now. Having tests debugable in Chrome dev tools is convenient.

[2015-08-01 21:09] #351 closed

[2015-08-01 21:11] steida commented on #331
@mirimCZ Can you pls send a new PR, where tests are side by side to files? Like `getrandomstring.test.js` or something like that?

[2015-08-01 21:12] steida commented on #331
@grabbou WDYT?

[2015-08-01 21:12] steida commented on #354
@grabbou I would say everything is pretty stabilized so you can update cli.

[2015-08-01 21:14] steida commented on #350
Already fixed.

[2015-08-01 21:14] #350 closed

[2015-08-01 21:15] steida commented on #354
@mirimCZ Meanwhile, can you add some basic steps to wiki workflow linked in readme please? Thank you!

[2015-08-01 22:31] grabbou commented on #331
I am using the above convention in my native app and it works well. (maybe because I am using `jest`, but all in all, I like to keep my tests a part of the code).

[2015-08-02 00:29] steida commented on #353
Done.

[2015-08-02 00:29] #353 closed

[2015-08-02 00:29] #352 closed

[2015-08-02 00:30] #331 closed

[2015-08-02 00:30] steida commented on #369
It's nice to have, not required.

[2015-08-02 00:30] #369 closed

[2015-08-02 00:31] steida commented on #368
Can you explain what is wrong? CI works well.

[2015-08-02 00:31] #368 closed

[2015-08-02 00:32] steida commented on #362
PR pls

[2015-08-02 00:32] #362 closed

[2015-08-02 00:34] steida opened #381 "Choose favicon & native icon"

[2015-08-02 00:34] steida opened #382 "Global error handler"

[2015-08-02 00:34] #382 closed

[2015-08-02 00:34] steida opened #383 "Client side error reporting"

[2015-08-02 01:27] steida opened #384 "Editable pattern"
Still to discuss. Let's see what I will implement for songary.

[2015-08-02 10:01] grabbou commented on #362
Why you close issues not yet solved? It makes it a lot hard to filter out these already fixed.

[2015-08-02 10:02] grabbou commented on #368
We said that couple of times, have you seen the image from 3rd comment? It shows what particular feature is missing. CircleCI or whatever should test every pull request and update its status accordingly.

[2015-08-02 10:21] tacone commented on #382
Yhur uy heyufo hp uo

[2015-08-02 10:23] tacone commented on #382
Per P

[2015-08-02 10:59] steida commented on #368
Am I blind? Every PR is tested, look
![screen shot 2015-08-02 at 12 58 27](https://cloud.githubusercontent.com/assets/66249/9025814/45d51ada-3916-11e5-8dcd-5e052c3a7549.png)

[2015-08-02 10:59] steida commented on #362
Because no activity

[2015-08-02 11:01] grabbou commented on #368
This PR has no tests https://github.com/este/este/pull/370
but this shows green status https://github.com/este/este/pull/321, why?

[2015-08-02 13:03] steida commented on #368
Ok, should be enabled right now. Thank you :-)
Thing is, circleci has almost no configuration, and this is some experimental option hidden inside tweaks.

http://jamessoftwareengineer.azurewebsites.net/circleci-pull-request-testing-and-badges/

[2015-08-02 14:04] grabbou commented on #368
Yeah, that's why I'm with `Codeship` ;) But awesome, let's see how it works from now on.

[2015-08-02 14:16] grabbou commented on #382
Have you managed to implement that? @steida
Also, not sure if the above are just spam

I am dispatching `apiError` action that's located in `app/actions` and handled in `app/store` and rendered in `app.js` (well, actually passed to my Navbar component that can also represent an error state).

[2015-08-02 14:31] steida commented on #382
I will port it from some project, but no ETA yet.

[2015-08-03 13:29] steida opened #385 "webpack: configure for use with CDN"
Should be based on https://github.com/este/este/pull/95
Remove dependency on package.json version.

[2015-08-03 19:53] steida opened #386 "add mobile detection"
Sometime we need to know whether user device is mobile or tablet. For example, autoFocus on desktop is very useful while on mobile it isn't.

Other usecases:

- Desktop devices get at fancy video background on the top of the page
- Mobile devices get a background image.
- Paralax scrolling is disabled for mobile devices.
- Navigation is optimized to your device`s form factor.
- You get different a

[2015-08-03 20:33] steida commented on #386
Pattern: Use media queries as much as possible, but for actions and rendering, we need user agent detection. useragent unfortunately doesn't support isMobile like closure library does https://github.com/google/closure-library/blob/fe1c7f35b57353d4d1af9e2d707f96c2afcfefad/closure/goog/labs/useragent/device.js#L34

[2015-08-03 21:18] steida commented on #386
Current approach:

[code]

[2015-08-04 09:00] XeeD commented on #386
The `userAgent` function doesn't have to return a Promise.

BTW I have a Higher order component which detects the device based on viewport size and then passes it down to the component as props. It is usefull when CSS media queries are not enough for responsive design, but that is probably different use case then what this issue is about, right?

[2015-08-04 10:00] grabbou commented on #386
No need to add top level `ua` field in my opinion. Top level field = store. I would just add it to `app.isMobile` as I treat my app stuff as global config / user preferences.

[2015-08-04 10:41] pewh opened #387 "no html file on gulp build"
Hi all.
I want to use este-app with cordova.
When I do `gulp build` on este-app, it returns app.css and app.js file
Because cordova need `index.html`, so I manually create html file:

	<!doctype html>
	<html>
		<head>
			<link rel="stylesheet" href="app.css">
		</head>
		<body>
			<div id='app'></div>
			<script src='app.js'></script>
		</body>
	</html>

When I run index.html, nothing is rendered

[2015-08-04 12:07] steida commented on #387
Check `html.react.js` to see what need to be rendered.

[2015-08-04 12:07] #387 closed

[2015-08-04 12:18] steida commented on #386
@XeeD Yes, slightly different use case.
@grabbou That's exactly how I solved it :-)

[code]

[2015-08-04 13:02] mirimCZ commented on #374
Heading was wrong, it should be Material Design as standart UI "pattern/guide". I know I mentioned library, week later I hate it, and cannot recommend it.

Anyway... Material Design is common pattern / practice, implementation is separate concern (there is Polymer obvsly, and material-ui lib I mentioned before, and many others...). Sugesting good design guidlines is imo part of good profesional fu

[2015-08-04 13:02] steida commented on #374
I vote for este-materialui project.

[2015-08-04 15:04] pewh commented on #387
Thanks for the response. It seems `body` element need to be rendered, so I change html content:

	<!doctype html>
	<html>
	    <head>
	        <link rel="stylesheet" href="app.css">
	    </head>
	    <body>
	    </body>
	    <script src='app.js'></script>
	</html>

When I open the page, it still blank. My console shows error `Uncaught Error: Minified exception occurred; use the non-minified dev en

[2015-08-04 17:45] Webkadabra opened #388 "Sails.js integration"
First of all, thank You for this kit - I'm pretty new to Node.js, and now working on moving PHP-backed application to Node.js.

I spent few days now exploring all React/Node starter kits and this one looks as the one I like the most.
I have one question though - it would be great to have it integrated with Sails.js. Thanks!

[2015-08-05 01:07] steida commented on #388
Thank you. I believe your questions were answered in gitter.

[2015-08-05 01:07] #388 closed

[2015-08-05 01:08] steida opened #389 "Split test to device projects"
/test to /client/test etc.

[2015-08-05 08:12] pewh opened #390 "Hang on gulp build"
Hello all.
When I do `gulp build`, gulp seems hang on last line:

[code]

If I do `gulp build --production`, it show nyan-cat, app.js & app.css generated. But when I open those, console show error:
[code]

In development, no error in console. But it just show warning:
[code]

My gulp version:
CLI version 3.9.0
Local version 3.9.0
OS: Ubuntu 15.04

Other Libraries that used:
- material-ui
- react-t

[2015-08-05 13:37] steida commented on #390
There is nothing special with Este, and circle ci build works. Probably something at your side, can't help.

[2015-08-05 13:37] #390 closed

[2015-08-05 16:34] mirimCZ commented on #354
Request for comments draft – Features

*What is Feature?*
Feature represents one logical content part (entity) of your application – eg „todos“, „menu“, „articles“, „users“. PROPOSAL: It should be content related, bussiness logic should be moved to /lib/ (and possibly exported as npm package, if you are sure it will be reusable again), eg „acl“, „firebase“, „bookshelf“.
Every feature should be as

[2015-08-05 16:43] ja-be opened #391 "Protected pages with initial state"
I commented this on gitter yesterday.

I am saving the user in server's session at user log in. The problem is that when you reload the protected page the app redirects you to /login, because willTransitionTo() is called before revive().

You can see an example here: https://github.com/ja-be/este

[2015-08-05 16:47] mirimCZ commented on #389
https://github.com/este/este/issues/331#issuecomment-126953839

Still relevant?

[2015-08-05 19:57] steida commented on #389
Yes sir.

[2015-08-05 22:14] Webkadabra opened #392 "Having issues using bower - modules can't be found"
I've tried adding bower support like so: http://webpack.github.io/docs/usage-with-bower.html

Unfortunately, this does not really work: any time I try to require some bower module, e.g.

or

Compiler says it can't find this module. I actually tried quite a lot of things, and I already have working webpack-bower config (from old project, which I try to migrate to estE), but somehow what work in one

[2015-08-05 22:42] mirimCZ commented on #392
Hi,
do you realy insist on using bower? What components do you need? I see you are trying include jquery, why do you need it?

You realy should get along with este (and React) without using jQuery, you actualy want it, since jQuery is one huge bad practice. Try to search for same plugins implemented in React, worked for me so far.

My guess would be, that compiler is trying to find files in bad lo

[2015-08-05 22:47] Webkadabra commented on #392
Hi! I'm using it for plugin http://ichord.github.io/At.js/ (and it requires other jquery plugins like Caret.js).

Also, there is strange issue: if I add bower plugin to webpack config then, on client side, I have "React is not defined" issue.

[2015-08-05 23:29] steida commented on #392
It's not Este issue, please complain at webpack.

[2015-08-05 23:29] #392 closed

[2015-08-06 01:06] steida opened #393 "HTTPS"
Prepare app to http://www.paulirish.com/2010/the-protocol-relative-url/

[2015-08-06 09:04] cjk commented on #392
@Webkadabra FWIW, you need to tell webpack in it's config to "provide" jQuery for you, like so:

[code]

And I would install jQuery using npm, not bower. Less hassle, except you do a lot more with Bower anyways.

[2015-08-06 09:16] grabbou commented on #393
You mean what in particular?
[code]

[2015-08-06 11:12] grabbou commented on #392
Remember to put your bower path into webpack config so require can resolve that location ;)

[2015-08-06 12:46] steida commented on #393
Not sure, maybe protocol should be relative, and once app is running in https, make them https absolute.

[2015-08-06 12:49] steida opened #394 "Pass state to actions creators."
CreateAction proposal

[code]

Not having pass everything through parents props is pretty handy sometime. WDYT?

[2015-08-06 12:54] steida commented on #372
No. https://github.com/RickWong/react-transmit/pull/35

We need Component.displayName || Component.name. Can you solve this issue pls?

[2015-08-06 13:23] grabbou commented on #394
When?
This may lead to actions accessing state for required elements instead of receiving them directly. Imo, the only use-case for state access is to allow 3rd party services, like `firebase` or `api` to access e.g. user state and get accessToken or something similar. I would prefer services (the ones you pass into actionCreators) have access to state instead (and that's what we are currently doi

[2015-08-06 13:32] steida commented on #394
Hmm, it maybe makes sense to have deps abstracted in services, not sure.

That's exactly what we want I think. Props are passed to components for fast rendering and law of demeter. But once something is rendered, what's the point to create another abstraction?

[2015-08-06 13:32] grabbou commented on #394
Also, if you are not specifying dependencies in your actions like above (then, you don't know what's the exact order of your services injected unless you check app.react.js), I'd prefer injecting them like this:
```create(dispatch, {api, validate, router})``` so you can actually decide which ones to pick w/o thinking about their order. Imagine in one creator you want to access only `router`, then,

[2015-08-06 13:33] grabbou commented on #394
@steida I am saying this:
[code]
is better than implicit
[code]
where getVenues gets location inside it.

At least for me :)

[2015-08-06 13:36] grabbou commented on #394
The only issue is that you start requiring these services in your action creators which means you need to mock these imports (in case e.g. actions is using a module that's not available in test environment - e.g. in React Native).

[2015-08-06 13:38] grabbou commented on #393
I would just use https if resource is available under it. Otherwise, you might be accessing secure resources with http (when your app does not have secure protocol) which is not always working as I am pretty sure not everybody is redirecting automatically (sometimes even Chrome can warn)

[2015-08-06 14:06] steida commented on #394
Hmm, mocking app state. It's good or bad? We have two options: 1) mocking app state 2) mocking something simpler, like service.

I think app state should be pretty stable, therefore easily mockable.

[2015-08-06 19:25] steida commented on #394
I was thinking about it. Maybe.

[2015-08-06 20:33] steida opened #395 "npm dedupe and npm shrinkwrap"
Not sure whether is using it for production is recommented therefore be demonstrated in Este.

[2015-08-06 21:43] steida commented on #372
Ok, correct approach is always use `Component.displayName || Component.name`. It's because displayName is generated from createClass or is overriden in custom ES6 class component. Name is just constructor name, which can be overriden with displayName ofc.

[2015-08-06 23:58] steida opened #396 "Isomorphic data fetching"
Proposal:

- render first app with initialstate
- wait for all actions fetching datas to be done
- get the new appstate
- rerender app with new appstate without calling any fetch actions anymore

Unfortunately, it's impossible until React fix setState on the server: https://github.com/facebook/react/issues/3620#issuecomment-122905471

So, we have to use HOC only for client side, and userstate on s

[2015-08-07 00:31] steida opened #397 "Add invariant checks to Flux dispatch."
[code]

[2015-08-07 07:45] grabbou commented on #395
npm shrinkwrap definitely for development mode to lock down your nested dependencies. `npm dedupe` recommended for both envs to flatten directory architecture and maybe (?) speed up lookups, although it's default behaviour in npm 2.

[2015-08-07 07:47] grabbou commented on #395
It's only useful on server side though where you `can't` build your server. On the frontend side where we ship and build manually, not an issue (it will be the issue when CI service will be building app manually and sending to CDN for example).

[2015-08-07 09:40] XeeD commented on #395
:+1:  Shrinkwrap is definitely something you need for production. You need to have exactly the same version of libraries on production against which you run tests and QA. No one wants surprises on production servers.

The lack of automatic version locking was the thing that surprised me most when coming from Ruby world where Bundler is the tool of choice.

[2015-08-07 09:43] XeeD commented on #396
Do I understand it correctly, that all fetched data should be part of appState and represented by Immutable data structures?

[2015-08-07 10:58] steida commented on #396
Yes.

[2015-08-07 18:22] sebmarkbage commented on #396
That React issue is not about that. That issue is simply about making sure that setState in componentWillMount works. It still doesn't enable async rendering or multi-pass rendering on the server, which we're not really exploring atm but someone else could build a renderer that supports it.

[2015-08-07 19:14] steida commented on #396
Thank you for comment Sebastian. I know, what I need it just working renderToString without setState errors. That's because in componentWillMount actions go through Este Flux, which call another setState. Just do setState noop after initial render, and I will be happy. Multipass rendering would be nice, but I don't need it right now.

[2015-08-07 19:21] steida commented on #396
Sebastian, do you know how Relay can resolve HOC fetchers on server side when first loaded data causes another nested component to be fetched? I mean, somethink like container component fetching list of ids, pass every id into some sub component, where it's used for next fetching? Does Relay even support such use case?

[2015-08-10 06:30] gad2103 opened #398 "FOUC?"
curious why this is so drastic running locally (haven't tested on a server)

[2015-08-10 09:28] XeeD commented on #398
This is due to how Webpack delivers CSS content in development mode (it is inserted via JS). This enables hot reload for CSS files. In production there is compacted CSS file with all styles and it is delivered normally so there is no flash.

[2015-08-10 09:32] #398 closed

[2015-08-10 13:59] steida commented on #398
We should write FAQ for this and another questions.

[2015-08-10 14:38] gad2103 commented on #398
Thanks much! I'm looking forward to using this!!!!

On Mon, Aug 10, 2015, 9:59 AM Daniel Steigerwald <notifications@github.com>
wrote:

[2015-08-11 07:57] AugustinLF commented on #398
@steida Done #399

[2015-08-11 08:55] AugustinLF opened #400 "Update Documentation"
In order to have a proper doc, I think several steps need to/can be done:
- [x] Add FAQ
- [x] Use este in 1 minute.  [Polymer](https://github.com/Polymer/polymer#polymer-in-1-minute) has something like that. We should determine what fits here (at least, create a new composant, dispatch an action). (#415)
- [ ] Description of what is a feature, how to build one. #354 is a first draft, I still need

[2015-08-11 15:00] steida commented on #400
It's perfect! I have a lot of work for next two weeks, but I will definitely help after that. Feel free to update anything, thank you.

[2015-08-11 18:28] jhabdas opened #401 "Please remove the word "minimal" from the description"
There's a lot of stuff in here. Like, a lot. As a result, I'd suggest removing the word "minimal" from the project description. It's a bit misleading honestly. Especially for those just trying to get started, it's a lot to take in.

[2015-08-11 18:31] jhabdas commented on #401
The dependency tree following `npm install`:

[code]

[2015-08-11 18:31] obimod commented on #401
+1.. this thing is massive

[2015-08-11 18:37] obimod commented on #401
I think that this is a neat collection of libraries. Do any overlap the functionality of others? It would be interesting to see lists of functionality and which libraries overlap as the start to a conversation about reduction.

[2015-08-11 18:45] jhabdas commented on #401
One thing I appreciated about how @jupl organized his projects together, separating add-ons so they can be included separately and on an as-needed basis. One could argue separation would make things harder to understand. But when it can take [months](https://github.com/karma-runner/karma/issues/1078) to get simple bugs fixed in downstream dependencies like karma it can sometimes feel better to err

[2015-08-11 19:10] jhabdas opened #402 "Updates to starter app"
This project is a good example of the more sophisticated applications of React while still making it appear easy. But I feel there can be some improvements to the example app provided to ensure users are considering (or at least inheriting) best practices:

- [ ] Eliminate the [FOUC](https://en.wikipedia.org/wiki/Flash_of_unstyled_content) experienced when loading the app for the first time. I fee

[2015-08-11 21:46] AugustinLF commented on #401
Hmmm, not sure I agree. A lot (a majority perhaps) of these dependencies are used for the build process (webpack + gulp) and testing, so in some way, the number of modules "used by the developer" is limited. The API surface for the developer is actually quite minimal.

But on the other thing, I agree that the este repos are weirdly (lack of better word) organised. One of our goals is to do some he

[2015-08-11 23:26] dfogas commented on #401
Is minimal equal to easy to learn? Este is definetely not beginner's stuff, more like intermediate to advanced. Sure some examples can be found where fairly simple to use things have pretty complex structure behind them - F1 car for example :-)

[2015-08-12 07:24] AugustinLF commented on #401
It's indeed not the same thing. The question is, which point of view are you using when talking about minimal, the one of the developer of este, or the "user" of este? For instance, I still did not really understand the underlying mechanics of how the messages get pulled out of their folders (didn't try much though), but it's extremely easy to use.

[2015-08-12 07:49] jhabdas commented on #401
Thanks for carrying this discussion further, everyone. Assuming "minimal" is one notch above "barebones" I'd argue some of the deps unrelated to the build machinery (i.e. Gulp + Webpack) should be axed to remain "complete" yet still minimal. Specifically I'd ditch Autoprefixer and Flux. Though the API footprint may be light the cognitive overhead of concepts such as pre- and post-processing of CSS

[2015-08-12 07:51] jhabdas commented on #401
/eof

[2015-08-12 08:01] jhabdas commented on #401
I realize I contradicted myself slightly, though I hope my points still came across.

[2015-08-12 08:25] steida commented on #402
That's the most bullshit comment I had to read last month.
1) FOUC - you don't read issues nor faq, so I will not spend time to explaining anything to you
2) Ha ha ha ha ha ha.

Seriously. Read more, write less. kthxbai

[2015-08-12 08:25] #402 closed

[2015-08-12 08:40] steida commented on #396
Ok, I can check it right now :) http://facebook.github.io/relay/

Questions:

- does Relay support sockets? We love sockets for reactive UI
- we still need Flux, and server side Flux would be nice, but there is setState bug

[2015-08-12 08:49] grabbou commented on #396
My question:
- How Relay can be integrated with single-app state and store reducers? Looks like they are somehow trying to accomplish the same thing, for the details, see my Gitter link.

[2015-08-12 14:14] jhabdas commented on #402
Thanks for the quick turnaround and spending time to maintain this project. I opened this issue in hopes to improve the Este.js project given I'd linked to it from my blog and was considering trying it out. Perhaps I should reconsider.

[2015-08-12 14:17] jhabdas commented on #402
@pp-koch for your entertainment

[2015-08-12 14:48] grabbou commented on #402
@steida it's generally common nowadays that people either do not read readmes or just miss few points located at the bottom, especially given the fact that in our case the FAQ was merged yesterday.

@jhabdas I can only ask you to give the project another go and probably join in our Gitter account where we are all ready to help you and obviously, discuss various aspects of Este, including the ones

[2015-08-12 15:23] jhabdas commented on #402
Thanks for pointing me to the information, Mike. I'll give it another read.

[2015-08-12 15:28] grabbou commented on #402
BTW, feel free to DM with any questions, I'll try to get back to you as soon as I have a couple of free minutes ;)

[2015-08-12 21:29] steida commented on #402
@jhabdas Please accept my apologize, I was waiting for two hours in super hot room for some government bureaucracy sh** from 6 30 a.m.

[2015-08-12 22:49] steida commented on #401
It's minimal for our purposes. The basic rule is `everything except kitchen sink`.

[2015-08-12 22:50] #401 closed

[2015-08-13 00:28] jhabdas commented on #402
It's all good. I know what it's like to wait for government, though I can
only imagine your annoyance. Apology accepted.
On Wed, Aug 12, 2015 at 4:29 PM Daniel Steigerwald <notifications@github.com>
wrote:

[2015-08-13 02:31] steida commented on #391
Thank you for reporting. Feel free to send PR, or please wait till I fix it once we switch to new react-router.

[2015-08-13 07:50] XeeD commented on #391
The new react-router does not address this issue IMO. It defines `onEnter` prop for routes which takes function, but I couldn't find any way how to inject some kind of context (appState for user, or even `req`) into the function without having to define routes for each request.

[2015-08-13 21:40] steida commented on #394
Implemented.

[2015-08-13 21:40] #394 closed

[2015-08-13 21:40] steida commented on #380
@grabbou WDYT?

[2015-08-13 23:44] grabbou commented on #380
Isn't it enabled by default? That's quite interesting.

[2015-08-14 10:54] steida commented on #402
Thank you :-)

[2015-08-15 14:46] pastorgluk opened #408 "componentWillMount is not called for any child component"
1. Add componentWillMount to any component

Result: it is never get called, it is called only for app.react.js

But componentDidMount called correctly.

[2015-08-15 16:59] steida commented on #408
Tested on notfound.react and home index. It works. There is nothing special in Este.

[2015-08-15 16:59] #408 closed

[2015-08-16 17:55] mixophrygian opened #409 "repository https://github.com/este/bare.git not found"
Still offering the empty project template?

[2015-08-16 20:19] PetrSnobelt opened #410 "Todos are not editable?"
I clone repo today and todos are not editable.
Is it bug or feature?

[2015-08-16 21:11] steida commented on #409
Sorry, but it's hard to sync more Este repos. But you can createa Bare Este in 10 minutes just by deleting files.

[2015-08-16 21:41] steida commented on #410
I have to reimplement it. I improved editable pattern. You can check github.com/steida/songary meanwhile.

[2015-08-16 21:41] #410 closed

[2015-08-17 00:24] mixophrygian commented on #409
Cool, thanks.  You might consider deleting that link from the readme, then.

[2015-08-17 00:32] steida commented on #409
Thank you for reporting it.

[2015-08-17 00:32] #409 closed

[2015-08-18 21:13] ilionic commented on #384
I saw you removed editable from songary, are you cooking something new? :+1:
Do you plan to change a lot in current editable pattern?

[2015-08-19 07:46] steida commented on #384
Yes, I made a better pattern for that. WIll release it this week.

[2015-08-19 13:19] steida opened #412 "Downgrade eslint"
https://github.com/eslint/eslint/issues/3440

[2015-08-19 21:21] ilionic commented on #386
@steida you mentioned use media queries as much as possible. Which pattern/library do you use for selectively rendering components based on media queries? There are few libraries around, but noticed some issues with server-side rendering.

[2015-08-20 12:28] grabbou commented on #412
Seems to be fixed already, maybe just upgrade will work?

[2015-08-20 12:30] grabbou commented on #397
Gonna add that tomorrow morning.

[2015-08-20 12:32] grabbou commented on #395
I would only say it's needed for the server side of stuff. I am having frontend/backend folders separated with its own package.json so dependency management it's easier.

[2015-08-20 12:33] grabbou commented on #364
On a side note - I quite like what Hapi.js does with its universe - lots of packages and general ecosystem that just feels nice. Maybe worth considering its direction and going toward Este universe that's a 1st choice for everybody wanting to either do something efficiently or start React.js journey? :P

[2015-08-20 12:35] grabbou commented on #358
Just a quick update after our Skype call - this is definitely to be implemented soon, before WebExpo. Need to dive in into Redux a bit more and then, fork its dev tools so they work with our app.

[2015-08-20 12:35] grabbou commented on #347
I'll make another changelog this Sunday.

[2015-08-20 12:37] grabbou commented on #393
Otherwise, when you toggle `https` globally for the entire app, keep this in mind:
[code]
;)

[2015-08-20 12:39] grabbou commented on #400
Add a note about dispatching async actions, especially a transition process from previous `pendingActions` array and why it was an anti-pattern (answered already at Gitter). Describe various techniques, like having `isPending` on your form and various places where you can issue your request (e.g. componentDidMount) depending on desired end effect.

[2015-08-20 12:40] grabbou commented on #400
Mention blocks in switch-case that might be helpful.

[2015-08-20 12:40] grabbou commented on #400
The last one - describe the testing process of components that are decorated with some HOCs like @exposeRouter and so on.

[2015-08-20 12:41] grabbou commented on #400
As per 'use Este in 1 minute' - I would just put our flux in a separate repo (lib/flux), optionally specify it as a dependency of the project (or just keep it bundled), anyway, add that guide to newly created repo. I can take care of that. @steida

[2015-08-20 12:42] AlesJiranek commented on #400
If it would be possible, I would like to read something about testing actions which dispatch multiple actions at once. Like login in auth actions.

[2015-08-20 13:49] AugustinLF commented on #400
@AlesJiranek  Yep, I used a trick for that, but it's really not satisfactory. Normally it should be quite easy to use a sinon's stub, but I had a weird bug and couldn't make it work.

@grabbou I'll try to free some time to write something down tomorrow. And I strongly agree with bundlising the `@flux(store)` part, should be easily doable. It would be nice to simply get it from npm.

[2015-08-20 21:00] grabbou commented on #400
Huge +1, it would also allow to compete with `redux` and other flux libraries/frameworks just to simply show our point of view (it's still 80% of our app if we strip out all the todo stuff). Este bare can be actually an `example` folder from `flux` repo with one component and a store.

[2015-08-20 23:06] steida commented on #364
I have zero experience with hapi. Can you highlight some of its benefits?

[2015-08-20 23:07] steida commented on #395
@XeeD Can you add it to the wiki page deployment pls?

[2015-08-20 23:10] steida commented on #386
I would not selective render anything based on media queries.

[2015-08-20 23:21] #393 closed

[2015-08-20 23:21] steida commented on #347
Awesome. Thank you.

[2015-08-20 23:26] #412 closed

[2015-08-21 01:05] #389 closed

[2015-08-21 01:06] steida opened #413 "Tests should be side by files"
getrandomstring.js
getrandomstring.test.js

[2015-08-21 10:12] AugustinLF commented on #354
So, a bit late on the feedback.

I now agree (opposed to what I used to say on gitter) that a page should belong to a feature. However, I'm less sure about the fact that a feature needs to have one (and only) page. Firstly, there are complex "features", shared across several pages. Even if they don't have a lot of shared logic (the records at least), putting them all flat, as feature would be weir

[2015-08-21 12:02] tomoakley opened #414 "Using my own Sass setup with Este"
Hi - really liking the look of Este, just wondering how I would go about using my own Sass setup?

[2015-08-21 12:15] AugustinLF commented on #414
What does your set up do? Because to have the css hot loadable, you need to load it inline, through webpack. We use sass-loader (it's already set up) to do so, but we don't have any specific needs, other than importing scss files in our js files.

There might be a tricky way to do it without webpack, but I don't see how to do it. However, I guess it's possible to have an external CSS file, but I t

[2015-08-21 12:32] tomoakley commented on #414
it's essentially just a load of @import files (e.g _header.scss, _footer.scss, for each part of the page) and then some Sass-specific files like _variables.scss etc. Pretty similar to this structure: http://thesassway.com/beginner/how-to-structure-a-sass-project

I've used <a href="http://browsersync.io">Browsersync</a> in the past, if there was an easy to add that in  to Este and then use Sass an

[2015-08-21 14:26] steida commented on #414
Import them from app.sass or add link into html.react.js.

[2015-08-21 14:26] #414 closed

[2015-08-21 16:22] AugustinLF commented on #400
#415 is a first proposition for the `este in one minute`.

[2015-08-22 06:08] islahul opened #417 "Add sub-route example in este for beginners"
A sub route example will really help for beginners like me to understand structure of the app with sub routes. It will also make best practices more explicit.
It could be a description view for a todo.

[2015-08-22 15:29] steida commented on #397
Any progress?

[2015-08-22 20:35] steida commented on #417
Yeah, that would be nice.

[2015-08-22 20:35] #417 closed

[2015-08-22 23:56] steida commented on #413
@grabbou Can you do that please?

[2015-08-23 20:13] steida opened #418 "Add promise sugar for action creators dispatch"
[code]

[2015-08-23 22:40] steida commented on #418
hmm, too smart

[2015-08-23 22:40] #418 closed

[2015-08-24 11:49] mirimCZ commented on #354
I think you misunderstood me, or I now misunderstood you. I didnt want to say you can have only one page in feature, but that you must have at least one page in feature - that would be index.react.js. You can of course have several other pages (views) composed of feature bits (records at least).

Mantra would be "Every feature can show something to the user. There are no logic-only features." I do

[2015-08-24 15:44] AugustinLF commented on #354
I understand and agree with what you're saying. Still not sure of the `index.react.js`, since this would imply that there is a main one.

We switch to a `todos.page.react.js`. A bit verbose (the `.react` is not really useful), but this has the benefit of making it really easy to find which are the main composants.

[2015-08-24 17:29] mirimCZ commented on #354
Agreed. I would ommit the `.react` definitely. `index.react.js` imply exactly what it should imply, altho I would say it is default one, main suggest there is some important stuff going on, default can be blank or what ever... Tiny details :)

Having special suffix for page component is nice, I would like it.

[2015-08-24 18:42] steida commented on #354
`.react` is definitelly useful, otherwise we would have clashes with models, like user.js and user.react.js.

[2015-08-24 20:03] suchitpuri opened #419 "What is "React with server side rendering on expressjs backend.""
Hi I have been using the este app for some time now. Many times while using a react plugin i get this error "Reference Error: window is not defined".

After digging somewhat into the issue i found out that the app is trying to render the plugin on the server but it is not able to find the "window".

**Can someone please explain how does este uses server side rendering and how can i disable it ?**

[2015-08-24 20:13] steida commented on #419
Comment this code https://github.com/este/este/blob/6bcfb9b22bc00cea69a65218ea7f7ffd63da5e31/src/server/main.js#L15

But server side rendering is great. I would try to fix such plugin or you can mock window. Google it.

[2015-08-24 20:13] #419 closed

[2015-08-24 20:24] geoRG77 commented on #381
I used http://realfavicongenerator.net/ to create placeholder "E" favicon when testing Este so it has nice icons for iOS/Android/Windows Phone (homescreen/bookmark panel/tiles).

<img width="644" alt="screen shot 2015-08-24 at 22 14 08" src="https://cloud.githubusercontent.com/assets/735057/9451354/67dbf8a2-4aae-11e5-91f7-68f36e0b68fa.png">

[2015-08-24 21:08] steida commented on #381
My friend created these suggestions

![unnamed](https://cloud.githubusercontent.com/assets/66249/9452526/ffaf2202-4ab4-11e5-80dd-1d77aea60ce0.png)

[2015-08-24 21:29] geoRG77 commented on #381
I personally like CT and JS as they are somehow unique and easy to recognize :) It's great to have favicon to quickly switch between browser tabs but my purpose of doing all the mobile icons was to implement it and test it before production ready graphic is done so I'm sure it works on all devices.

[2015-08-25 06:37] suchitpuri commented on #419
Thanks a lot

[2015-08-25 07:12] mirimCZ commented on #354
I edited my previous post, didn't want to remove it everywhere, but only if you are using another keyword...

[2015-08-25 07:56] mirimCZ commented on #381
Rather JS than CT.

[2015-08-25 09:44] grabbou commented on #418
Good to implement privately imo.

[2015-08-25 09:44] grabbou commented on #120
? @steida missclick?

[2015-08-25 09:44] grabbou commented on #413
On holidays. Tomorrow - yes.

[2015-08-25 09:45] grabbou commented on #347
Holidays as always delayed everything. But I am speaking with @AugustinLF today on Skype to get this things done before WebExpo and WebCampZg. Will update the issue later today.

[2015-08-25 09:46] grabbou commented on #397
Yeah, #holidays, but tomorrow with other issues I'm assigned to.

[2015-08-25 09:46] grabbou commented on #364
Would you like to know more about Hapi.js as a framework compared to Express or about their organisation structure I was referring to?

[2015-08-25 09:47] grabbou commented on #395
@XeeD I think you can just copy&paste or link to NPM docs where shrinkwrap is described very well :) Recently there were issues with React-native projects running w/o it so handy info.

[2015-08-25 11:46] steida commented on #364
Probably both :-)

[2015-08-25 11:47] steida commented on #347
Awesome

[2015-08-25 11:48] steida commented on #120
Now, I want to add similar component :-)

[2015-08-25 11:48] ilionic opened #420 "Deploy to Heroku broken"
Tried to deploy Este to Heroku (With deploy button).  Build failed.
Log: https://gist.github.com/ilionic/096406e3776967fd912d

[2015-08-25 11:50] steida commented on #420
Hmm, but it worked. I would remove iojs from engines, that should help.

[2015-08-26 14:33] grabbou commented on #413
@steida can Eslint accept a regex or something so we can apply different settings to `.test.js` files? Don't want to define `describe` and other globals for the whole project.

[2015-08-26 16:07] AugustinLF commented on #413
You can use a .eslintignore, but then, it won't lint this files.

[2015-08-26 18:10] grabbou commented on #413
I think that's fine @AugustinLF since we don't care about test cases that much I guess

[2015-08-26 22:00] AugustinLF commented on #413
Yes, as far as I know, without linting twice, there's no way to have different set ups. But not linting tests should be fine.

[2015-08-26 22:27] steida commented on #413
No, tests must be linted as well. Don't treat them as second class citizens.

[2015-08-29 10:46] grabbou commented on #413
Agreed. Since we cannot apply conditional rules to test files (as far as I know), my suggestion is to ignore all test files while linting and add
[code]
With test_settings.json body defined like so:
[code]
What do you think @steida ?

[2015-08-29 10:50] grabbou commented on #347
We are preparing trello board with roadmap with @AugustinLF, will be ready by the end of the week. The plan is to finish all the things before WebExpo!

[2015-08-29 12:30] steida commented on #347
All right! :-)

[2015-08-30 22:50] steida commented on #420
Fixed.

[2015-08-30 22:50] #420 closed

[2015-08-31 02:17] steida opened #422 "disable coverage generation"
until it be fixed

[2015-08-31 02:36] steida opened #423 "put back old switch case indentation"
update eslint

[2015-08-31 08:03] grabbou commented on #423
More description? Why etc?

[2015-09-01 18:38] PetrSnobelt commented on #323
You can try use
import 'bootstrap/dist/css/bootstrap.css';
in your js file

[2015-09-01 21:47] #385 closed

[2015-09-04 21:58] steida commented on #372
Ok, I think function name better then endless FooBlaBarRequireAuthWhatever..., and because Este preserves function name and new React dev tools uses it, we don't need to define displayName at all.

[2015-09-04 22:19] #372 closed

[2015-09-04 22:20] steida commented on #423
wrong idea

[2015-09-04 22:20] #423 closed

[2015-09-04 23:08] steida opened #425 "add este/component"
Boilerplate for React component written in babeljs with limited dev stack for linting, tests, etc.

[2015-09-05 14:37] grabbou commented on #425
What is `babeljs`?

[2015-09-05 14:58] #422 closed

[2015-09-05 15:24] grabbou commented on #386
Please check my PR #426 with `isMobile` added.

[2015-09-05 16:46] steida commented on #386
I agree.

[2015-09-05 19:06] steida opened #427 "remove duplicated device detection"

[2015-09-05 20:58] grabbou commented on #427
BTW, express-device uses useragent internally

[2015-09-05 21:03] grabbou commented on #427
Also, it feels like we should do feature detection over user agent checks -> https://github.com/andyearnshaw/Intl.js#intljs-and-browserifywebpack for instance.

[2015-09-05 22:59] steida commented on #427
I think it's ok for now.

[2015-09-05 22:59] #427 closed

[2015-09-06 02:04] steida opened #428 "add este/localstorage component"
Based on https://gist.github.com/steida/5790593364dd8bf55928

[2015-09-06 14:22] AlesJiranek commented on #423
May I have a question, where to set this up? I like to have cases indented like
[code]

[2015-09-06 14:35] steida commented on #423
eslint rules

[2015-09-06 15:43] AlesJiranek commented on #423
oh, i see, `"indent": [2, 2, {"SwitchCase": 1}]` thank you

[2015-09-07 10:32] #397 closed

[2015-09-07 10:32] #386 closed

[2015-09-08 09:55] steida opened #430 "remove devDependencies"

[2015-09-08 10:41] grabbou commented on #430
We should have devDependencies in the app and include all test-related elements in there, like karma and so on IMO.

[2015-09-08 20:48] steida commented on #430
Why? App is not library.

[2015-09-09 07:51] grabbou commented on #430
Because what's the point in installing karma and test utils on production server? `dependencies` should contain only things required by express server to run. The rest (test utils/frontend deps) should be in devDependencies since the bundle is compiled by Webpack

[2015-09-09 08:43] AugustinLF commented on #430
+1 This is especially true if you use phantomjs to run your tests (or if you have any other large executable in your dependencies), which you don't really want to download.

[2015-09-09 09:11] bulby97 opened #431 "Performance.now() don't work in safari iOS"

[2015-09-09 15:30] steida commented on #430
Except...

eroku[web.1]: Starting process with command `npm start`
2015-09-09T15:23:27.301551+00:00 app[web.1]:
2015-09-09T15:23:27.301577+00:00 app[web.1]: > este-app@10.0.0 start /app
2015-09-09T15:23:27.301579+00:00 app[web.1]: > node src/server
2015-09-09T15:23:27.301580+00:00 app[web.1]:
2015-09-09T15:23:29.415410+00:00 app[web.1]: module.js:338
2015-09-09T15:23:29.415416+00:00 app[web.1]:

[2015-09-09 16:19] AugustinLF commented on #430
But isn't it because express-device doesn't fit in the devDeps? Does heroku runs the npm install in production mode (I don't use heroku)? If not, that's weird...

[2015-09-09 21:59] steida commented on #431
But we have a detection https://github.com/este/este/blob/1c007df86384bfef349f81b4803b1d29012ce3be/src/client/lib/flux/flux.react.js#L9

[2015-09-09 22:14] grabbou commented on #430
Depends on node flag, you can explicitly change that.

[2015-09-09 22:15] steida commented on #430
Moved back to deps for sake of consistency.

[2015-09-10 00:35] steida opened #432 "update super deps"
- [ ] react 0.14.0
- [ ] node 4.0.0
- [ ] react-router 1.0.0
- [ ] react-transform
- [ ] gulp 4.0.0

[2015-09-10 06:22] grabbou commented on #430
My comment is still not answered then -> https://github.com/este/este/issues/430#issuecomment-138815692

[2015-09-10 08:37] bulby97 commented on #431
Oh ! thx  my este is not up to date, did'nt see that one :). Closing !

[2015-09-10 08:37] #431 closed

[2015-09-10 12:27] grabbou commented on #431
Does it really work? https://github.com/este/este/blob/master/webpack/makeconfig.js#L85, in my case I needed to stringify that stuff

[2015-09-10 15:20] steida commented on #431
IS_BROWSER works for me perfectly.

[2015-09-10 15:24] steida commented on #430
I moved it to deps because Heroku deploy has failed. `express-device` is normally used on server, so there is no reason to be placed in devdeps I suppose.

[2015-09-10 15:25] steida commented on #430
Maybe we can move some dev stuff to devdeps, but I don't see any advantage of doing that.

[2015-09-10 15:26] grabbou commented on #430
@steida please see my updated comment.

Well, to me there's no point in downloading something you are not going to use in production anyway.

[2015-09-10 15:28] steida commented on #430
Oh I see. Agreed. But only dev stuff, express-device wasn't. And, Heroku must be able to built things, so not all dev stuff I guess.

[2015-09-10 15:29] grabbou commented on #430
Why? That's exactly the job that belongs to CI tools. If one is not using CI to get things done, he should build locally and deploy. When app is running in production, this can increase the risk of service outage, esp. when done in a wrong way without correct staging middle app (which is very common)

[2015-09-10 15:35] steida commented on #430
Building app through Heroku via gulp build --production isn't CI? I can imagine better workflow, with additional step where another tool build app with devDeps, and then push to Heroku builded app. That's what are you talking about?

[2015-09-11 12:33] grabbou commented on #430
Yes, building app on Heroku is not CI as long as you do it on your production instance. You should run all your test with CI tool that has integration with Github/repository of your choice to run all tests, build the most up to date bundle and then, ship already tested and compiled packs to your server for the sake of speed and reliablity.

[2015-09-11 14:19] steida commented on #430
But Este.js runs all tests in circle-ci already. And that deploy button is jsut for people wanting quick test only. Maybe we could create a wiki page describing how to set travis/circleci/whatever to do the rest properly. Then we can move some deps back to dev deps.

[2015-09-11 22:17] steida commented on #432
enable new react optimizations

[2015-09-12 11:29] grabbou commented on #432
in babel ofc.
http://facebook.github.io/react/blog/2015/09/10/react-v0.14-rc1.html#compiler-optimizations

[2015-09-12 11:35] grabbou opened #433 "Bring pages folder back"
I was quite a huge fan of `pages` folder not only because I was treating them as my routes/containers/controllers but also beacuse it was similar to Redux `smart` components - the only components that should be aware of Flux and its implementation. The rest of components, referred later as `dumb` components were living in `feature` folders, like `user/profile.react.js` and so on. Such organisation

[2015-09-12 11:40] grabbou commented on #107
Why this has been closed? I was going to make another issue regarding that. Recently I've switched to PascalCase notation with jsx for React components and it works quite well.

[2015-09-12 11:42] grabbou commented on #391
You cannot. Simply quoting my response from Gitter:

The only way to make that working is to use e.g. `!!store.getState().user.profile` - this is Redux one, but solves the issue quite well.

Maybe instead of `@flux(topLevelStore)` decorator we should to:

[code]

and now we have access to store from all the places, since we use Immutable all the way down, it's read only, and `getState()` returns t

[2015-09-12 14:12] steida commented on #433
Ok. Agreed :-)

[2015-09-12 14:19] steida commented on #107
I don't like PascalCase notation, because some file systems are case sensitive.
I don't like .jsx extension, because JSX can be everywhere with Babel.
I like .react.js, because it prevents clashes.

[2015-09-12 14:19] #107 closed

[2015-09-12 17:12] rkoberg commented on #391
To get around this (not elegant, but...), I put the following in client/main.js:
[code]
and added a decorator similar to requireauth.js, requirenotauthd.js, that does the opposite. Place that decorator on pages where the user is not supposed be authenticated (like login, registration, etc). Then the client will redirect (producing the warning "Warning: React attempted to reuse markup..."). That pa

[2015-09-12 18:04] grabbou commented on #433
Will implement tomorrow and add a note to wiki describing such design decision :)

[2015-09-13 12:04] gaurav- commented on #107
Though I can understand the sentiment here, what are the chances of `SomeComponent.xyz` and `somecomponent.xyz` in the same folder? By the way, I'm not implying that just because there's no/low chance of real problem we should use it. But yeah, if PascalCase convention makes sense for component classes, then using the same file name makes sense irrespective of file system case-sensitivity. At leas

[2015-09-13 13:27] grabbou opened #434 "Use stateless components with React 0.14"
As new stateless function components are finally there in React 0.14, I propose that every component living in a feature folder (user/ auth/ whatever) should be declared in such way as their only purpose is to render some content based on props given.

They should be unaware of Flux and implementation details by only communicating with parent/smart components (pages folder) by callbacks passed dow

[2015-09-13 13:36] grabbou commented on #107
This is reported by Webpack as a warning when there's name mismatch so I do not see this as a disadvantage. When you require pascalcased file in a lowercase, you get a message explaning which require call is invalid.

how about this?

"React must be in scope when JSX is used"

:dancer:

[2015-09-13 14:03] steida commented on #434
Yes, but:

1) All Este components are pure. Do we know how to make stateless components pure? How they compare previous and current props?

2) What about PropTypes checking? Can be replaced with Flow?

3) Puting several components in one file can quickly escalate into to huge files.

4) Sometimes we need component lifecycle methods and I guess that's impossible with stateless components.

[2015-09-13 16:49] grabbou commented on #434
1) For now it looks like the performance characteristcs are same as with React.Component, @spicyj - any ways to utilise pure render mixin if it's not used by default?

2) Flow can work, but it supports defaultProps and propTypes just like any other component, e.g:
[code]

3) Agreed

4) Can you show me any use-case for that? Lifecycle method !== dumb component !== function component. All more compl

[2015-09-13 18:42] bulby97 opened #435 "Use react transform instead of hot reload"
https://github.com/gaearon/babel-plugin-react-transform

[2015-09-13 18:43] #435 closed

[2015-09-13 18:44] bulby97 commented on #435
Woops 6 days late ;)

[2015-09-13 19:57] steida commented on #435
It's coming.

[2015-09-13 19:59] steida commented on #434
I would love simplify syntax with stateless stuff, but we have to address there concerns first.

[2015-09-13 21:31] bulby97 opened #436 "Este devtools as sexy as redux devtools :D"
Using something like http://alexkuz.github.io/react-dock/demo/

[2015-09-13 21:34] steida commented on #436
Yeah I know. I have some plans... ;)

[2015-09-13 21:38] bulby97 commented on #436
![image](https://cloud.githubusercontent.com/assets/3509412/9839141/7c1aebda-5a70-11e5-8573-f1c068246421.png)

[2015-09-13 21:40] steida commented on #436
Must be done next week before WebExpo. With new React 0.14 and Router 1.0.0. etc. Stay tunned :-)

[2015-09-13 21:52] steida opened #437 "Use postcss-loader instead of autoprefixer-loader"
https://twitter.com/andreysitnik/status/643132274708467712

[2015-09-14 09:16] grabbou commented on #436
:DD

[2015-09-14 10:33] suchitpuri opened #438 "requireauth on server side - how to send auth cookies."
Hi Guys, I am building an app using the este boilerplate code. I am stuck with a problem because of the server side rendering of the components.

So one of the requirements for the app which i am building is to put some of the pages behind login, and as este provides a decent way by using "requireauth" wrapper to wrap those components.  so in requireauth i make a call to my services which checks i

[2015-09-14 12:38] XeeD commented on #438
@suchitpuri You can merge the cookies into initialState first (in server/frontend/userstate.js) and use that. The problem is that `willTransitionTo` is a static function and we do not have access to the state in it.

The new React router provides you with `onEnter` prop on `Route` which accepts a function that is invoked before rendering. But there we face the same problem. The only way around it

[2015-09-15 10:39] geoRG77 commented on #437
We can close this one :wink:

[2015-09-15 14:35] steida commented on #437
Thank you!

[2015-09-15 14:35] #437 closed

[2015-09-15 20:11] rkoberg opened #441 "destructuring immutablejs objects"
Have you seen: https://github.com/vacuumlabs/babel-plugin-extensible-destructuring

I just plugged it into the .babelrc, added the @@get symbol patch for immutable in both client and server main.js, and it just works.

Might be a nice addition to este?

[2015-09-15 21:14] steida commented on #441
Actually, it was written by one of employee of company I cofounded :-)
Samuel likes it, but I prefer Records since they are more explicit.

[2015-09-15 21:14] #441 closed

[2015-09-15 21:34] grabbou commented on #441
No more strawmans plz

[2015-09-15 23:03] grabbou commented on #438
Will be resolved in few days with Redux, our Este-plugins. No real change on your side, same actions, same execution, the only difference is you can now access your store statically with ```const isLoggedIn = !!!store.getState().user.token```

[2015-09-16 06:56] XeeD commented on #438
@grabbou So Redux is coming to Este? Wow!

I am wondering how you will solve this problem. If you'd like some help with this - I am available.

[2015-09-16 09:41] grabbou commented on #438
Check out the /este/native redux branch, help appreciated!

[2015-09-17 03:52] MarshallChen commented on #438
waiting

[2015-09-18 05:39] Restuta opened #442 "Add word "boilerplate" to topmost description."
This is more discoverability advice, I was googling for React + Webpack boilerplates using term `react boilerplate` and google suggested bunch of others (including pretty popular https://github.com/kriasoft/react-starter-kit), but not `este`. It may be a minor thing, but I think worth doing.

[2015-09-18 18:47] ilionic commented on #384
Any luck with it?

[2015-09-18 19:35] steida commented on #384
We well release Este Universal today. Then editable pattern will be demonstrated again.

[2015-09-18 19:46] steida commented on #438
@XeeD I suppose moving routes into factory is the only correct approach. You can check it in the branch.

[2015-09-19 04:55] steida commented on #438
I believe this is fixed.

[2015-09-19 04:55] #438 closed

[2015-09-19 04:55] steida commented on #433
I think index.react.js makes more sense then pages.

[2015-09-19 04:56] steida commented on #432
Everything except gulp and node 4.0.0 (sight?) is done.

[2015-09-19 04:56] #432 closed

[2015-09-19 05:00] steida opened #443 "Tests side by side, reenable karma."

[2015-09-19 05:01] #425 closed

[2015-09-19 05:01] #413 closed

[2015-09-19 05:01] #395 closed

[2015-09-19 05:02] #391 closed

[2015-09-19 05:02] steida commented on #380
but its promise implementation really sucks, so not yet

[2015-09-19 05:02] #364 closed

[2015-09-19 05:03] steida commented on #365
done

[2015-09-19 05:03] #365 closed

[2015-09-19 05:03] steida commented on #358
use Redux dev tools

[2015-09-19 05:03] #358 closed

[2015-09-19 05:04] steida commented on #347
As I expected, cli is tricky for agile projects.

[2015-09-19 05:04] #347 closed

[2015-09-19 05:04] steida commented on #354
http://rackt.github.io/redux/

[2015-09-19 05:04] #354 closed

[2015-09-19 05:06] steida commented on #436
Irrelevant since Este switched to Redux.

[2015-09-19 05:06] #436 closed

[2015-09-19 05:06] steida commented on #434
Feel free to send PR with stateless component usage.

[2015-09-19 09:01] grabbou commented on #380
`global.Promise = require('bluebird')`. Solved?

[2015-09-19 19:30] nirth opened #445 "NPM Error: 404 Not found : @este/common"
Error when trying to run ```npm install``` in freshly cloned este/este.git. Running under Node 4.1 and NPM 3.3.3

	npm error: 404 Not found: @este/common when trying to do `	npm install` in este directory. See full log output bellow

	este [master] » 	npm install

[2015-09-19 22:51] grabbou commented on #434
To be done on Monday.

[2015-09-19 22:55] grabbou commented on #445
This is really odd, it should link before installing, just like it does on my fresh install. Please try doing this manually:
[code]
and see if that helps with `npm install`.

[2015-09-19 23:10] grabbou commented on #442
Done, thank you!

[2015-09-19 23:10] #442 closed

[2015-09-19 23:53] grabbou commented on #445
The repo now runs on Node 4.0 and passes CircleCI tests so I am going to close this one. Waiting for your feedback.

[2015-09-19 23:53] #445 closed

[2015-09-19 23:53] grabbou commented on #433
To be consistent with native where `containers` is still there.

[2015-09-19 23:53] grabbou commented on #433
Final thoughts:
Let's use `containers` instead of `pages` to be more Redux compatible naming-wise.

[2015-09-19 23:54] grabbou commented on #433
CC: @XeeD that's easy one, just to bring the previous structure, want to give it a go? Just copy, paste & update imports.

[2015-09-20 00:02] grabbou opened #448 "Bring Heroku back"
Npm link does not work on Heroku because application is being built in temporary directory and moved to production dir on success which makes all the symbolic links obsolete.

The only proper solution is to detect heroku environment in `preinstall` script and copy to web/node_modules instead of linking. 2 liner that will save time and work always. In such a big project we will need Makefile anyway

[2015-09-20 00:05] grabbou opened #449 "Update npm to 3.x on CircleCi"
@XeeD ```npm install -g npm@3.x``` in machine section or something.

[2015-09-20 00:57] steida commented on #445
Excellent reaction :+1:

[2015-09-20 01:17] steida commented on #433
@grabbou Just a question. Isn't just one smart/container per whole app enough? I consider app.react as the only binding point with Flux state we need. Correct me please If I am wrong.

[2015-09-20 01:36] steida commented on #380
Hmm, probably it is :-)

[2015-09-20 08:59] grabbou commented on #433
It's not only about Flux / Redux. Separated `pages` folder is also for all Route Handlers - to make it clear this is not a pure component but a handler. Another thing is - these components are the only ones that should have side effects and issue actions - pure components from feature folders should only communicate via callbacks. Side effect example -> `AlertIOS` or `window.alert` after sth happe

[2015-09-20 09:03] grabbou commented on #433
No, it does not. Please see two snippets demonstrating naming collisions and general unreadability of this approach :)

[2015-09-20 09:14] grabbou commented on #380
At least that's what #naitve does

[2015-09-20 10:04] nirth commented on #445
The problem was on my end. I'm using Fish shell, I switched to bash to do npm install, and it worked out just fine. Though I'm not entirely sure how to debug it to pinpoint where and why npm link failed.

[2015-09-20 10:09] grabbou opened #450 "Engine.io / Socket.io fix for Node 4.0"
https://github.com/socketio/socket.io/issues/2228#issuecomment-141355070

Throws while installing with lots of errors. No issues later on though.

CC: @steida

[2015-09-20 10:12] grabbou commented on #445
At least it motivated me to fix failing tests! Thanks, glad you got it working.

[2015-09-20 17:37] ronag commented on #55
let/const is now implemented https://github.com/facebook/flow/pull/784

[2015-09-20 19:34] #449 closed

[2015-09-20 19:36] grabbou commented on #443
I think we should temporarily remove karma from dependencies since it does not support Node 4.0 at this point (will probably change soon).

[2015-09-20 19:42] grabbou commented on #443
https://github.com/este/este/pull/452

[2015-09-20 20:06] grabbou commented on #450
This is related to karma. Closing, we will target that in other issue.

[2015-09-20 20:06] #450 closed

[2015-09-20 20:08] grabbou commented on #430
https://github.com/este/este/blob/master/web/package.json#L21-L89

With new este universe, I think this is really a must have.

Dependencies for server, dev-dependencies for client, period. We just need to check all the dependencies and see what we use on server, then test a clean install to make sure there are no issues.

@steida this will play well with our new CircleCI workflow I am working on

[2015-09-20 20:09] grabbou opened #453 "Use @este/common in @este/native"
It works, but still contains own Redux implementation. We need to make the switch, it will happen tomorrow.

[2015-09-20 20:11] grabbou opened #454 "Combine reducers instead of doing that manually"
This is not needed
https://github.com/este/este/blob/master/common/src/app/reducer.js#L8-L27

That's the correct approach that also saves time because we don't need to convert it to object in `mapStateToProps` (no real benefit of having entire state as a immutable object then).

That's the current Este Redux idiomatic way:
https://github.com/este/este/blob/master/native/src/reducers.js#L3-L14

Fee

[2015-09-20 20:26] grabbou commented on #443
https://github.com/este/este/blob/master/web/package.json#L91-L100

Bring them back when they no longer throw on Node 4.

[2015-09-20 20:33] grabbou commented on #55
Wondering how it's going to play with other ES6/7 features/proposals we do use. Any ideas? Is it going to skip them/ignore or throw? @ronag

[2015-09-20 20:35] grabbou commented on #400
@AugustinLF with latest changes, I would love to see your take on updated docs and new patterns explained. Any chances you get enough time to take a look into it?

[2015-09-20 20:37] grabbou opened #456 "david-dm does not work with multiple packages in a repo"
We need to figure out a better way to do that. Maybe a CircleCI task as a part of our tests? Not sure about that, but definitely needs to be sorted.

[2015-09-20 20:38] grabbou commented on #456
Or we just wait
https://github.com/alanshaw/david-www/issues/104

[2015-09-20 20:42] grabbou opened #457 "Organise Readme better"
IMO we should put target-specific docs into its own folders with techniques that were used and patterns that are worth discussing.

We can optionally link them from root Readme, but if we are going to describe all the things in one file, it will get messed up really quickly (if it's not already)

[2015-09-20 20:44] grabbou commented on #381
We need an icon for iOS/Android as well.

[2015-09-20 21:14] grabbou opened #459 "Gulp is not needed globally"
I guess it will just work when bundled to `web/` package and will eliminate warning that `local gulp package was not found`

[2015-09-20 21:20] solcik opened #460 "Commands in package.json broke windows compatibility"
[code]

[2015-09-20 21:29] grabbou commented on #460
Ah, not a Windows user so will be able to tackle that tomorrow morning. Do you have any ideas why it fails? Would you mind invoking this `(cd web && npm link ../common)` separately and pasting the output?

[2015-09-20 21:32] grabbou commented on #460
CC: @AugustinLF

[2015-09-20 21:33] grabbou commented on #460
Note to others: ELIFECYCLE means the error is in script command instructions, not in what the command should do by itself.

[2015-09-20 21:33] solcik commented on #460
Exactly these commands are problem.

[code]

[code]

[2015-09-20 21:37] grabbou commented on #460
I guess it's PowerShell. Well, we can replace it with `;` since `cd` will never fail.

[2015-09-20 22:23] ilionic commented on #457
I kind of like this minimalistic docs layout https://github.com/tripit/slate
For example: http://mozilla.github.io/localForage/

[2015-09-21 03:06] ja-be opened #463 "Relative paths should be in lowercase"
Linux:

[code]

[2015-09-21 03:13] ja-be commented on #463
Or rename the files...

[2015-09-21 05:39] grabbou commented on #443
https://twitter.com/SocketIO/status/645755967934697472

[2015-09-21 07:19] grabbou opened #465 "Use redux-react-router"
Use official bindings.

https://github.com/rackt/redux-router

Pros:
- Keep entire router state in your Redux state (path, params etc)
- Use actions to navigate between pages
- No window/location access
- No need to use context & mixins for navigation

Cons:
- ?

Compatible with React Router 1.x.

[2015-09-21 07:24] grabbou commented on #463
Yep, we need to keep camelCase. Sometimes Github does not update the names in the repo although they were changed locally. In few cases, I needed to use online editor to rename them and that did the trick.

[2015-09-21 10:05] AugustinLF commented on #400
Not right now, especially since I need to wrap my head a bit around Redux (I don't really know what are the best practices), etc.

But I should get back to you during the week.

[2015-09-21 10:07] AugustinLF commented on #457
I was indeed thinking of an external doc, a github page could work, a wiki might also be fine.

And yes, we definitely need to do something about the readme, it's too long/confusing right now.

[2015-09-21 11:32] XeeD commented on #433
Can be closed now

[2015-09-21 11:52] grabbou commented on #433
Yep

[2015-09-21 11:52] #433 closed

[2015-09-21 12:41] grabbou commented on #463
Fixed as of today.

[2015-09-21 12:41] #463 closed

[2015-09-21 13:02] cpylua opened #469 "web build fails with react-transform-hmr@1.0.0"
Seems `react-transform-hmr` made a breaking change in V1.0.0:  `When there is no module.hot, throw instead of returning noop`.

I tried some options, but no luck.
Do you have any ideas?

[2015-09-21 13:35] grabbou commented on #469
Not yet, we haven't tried upgrading at this point, but we will look into this soon! Thanks for checking that out upfront!

[2015-09-21 13:37] #454 closed

[2015-09-21 15:25] #459 closed

[2015-09-21 15:25] grabbou commented on #459
Fixed thanks o @XeeD as of today.

[2015-09-21 15:26] grabbou commented on #443
The warnings come from React Native dependencies, please ignore `Nan` issues, likely to go with 0.12 next week.

[2015-09-21 22:22] steida commented on #433
Ok. Thank you guys.

[2015-09-21 22:24] steida commented on #457
:+1:

[2015-09-21 22:26] steida commented on #400
The best practices should be always baked in Este ;)

[2015-09-21 22:44] steida commented on #465
Sure.

[2015-09-21 23:30] steida opened #473 "Improve hot reload"
Currently only components and reducers are hot reloaded. We definitely need to add actions and intl messages as well.

Hard reload via browser without server side piping works, but React is correctly reporting mismatch between client and server HTML, which sucks.

@grabbou We can check https://github.com/erikras/react-redux-universal-hot-example/pull/192/files approach.

[2015-09-21 23:58] steida opened #474 "Fix eslint across whole project"
Is `eslint` from command line better? Update readme.

[2015-09-22 06:59] stovmascript commented on #460
Semicolons don't seem to work - same ELIFECYCLE error. However, single ampersands do.

[code]

Tested on:
- Windows 7 - Cygwin bash, cmd, PowerShell
- CentOS bash

[2015-09-22 07:30] grabbou commented on #474
Ideally I would like to do as many things from CLI as possible, wdyt? There's a new package eslint-d that run in the background and its significantly faster!

[2015-09-22 09:06] solcik commented on #460
@stovmascript

[code]

[2015-09-22 09:41] ronag opened #476 "JSON.stringify(store.getState())"
I'm not sure how `JSON.stringify(store.getState())` in `getPageHtml` can work since it contains immutable objects? Shouldn't it be `JSON.stringify(store.getState().toJS())` instead?

[2015-09-22 12:58] grabbou commented on #460
Can you @stovmascript paste your scripts directly to command line instead of executing `npm....` so we get correct error, not the ELIFECYCLE one? It looks really weird to me that single ampersands did solve a problem for you.

[2015-09-22 13:06] stovmascript commented on #460
Ah, sorry, didn't execute it standalone. Yep, that way, it doesn't work.

[2015-09-22 13:16] grabbou commented on #460
Yep, but should give you a better error message so we can debug it. I am quite confused that you are having issues with `;` but not with `&`.

[2015-09-22 15:02] steida commented on #460
@grabbou And now you see why I prefer Gulp - because Node.js ensures scripting is cross platform. Npm script are ok unless they are just aliases imho.

[2015-09-22 15:06] steida commented on #476
https://github.com/facebook/immutable-js/#converts-back-to-raw-javascript-objects

[2015-09-22 15:06] #476 closed

[2015-09-22 15:49] stovmascript commented on #460
@grabbou To clear up the confusion, I failed at reading... So after invoking separately, I'm getting the same errors as @solcik.

Only this works in PowerShell:
- ```cd web; npm link ../common```

And only these work in cmd:
- ```(cd web && npm link ../common)```
- ```(cd web & npm link ../common)```
- ```cd web && npm link ../common```
- ```cd web & npm link ../common```

Here are the errors (ded

[2015-09-22 16:00] ronag commented on #476
Ah, I did not know that. Thank you.

[2015-09-22 17:35] grabbou commented on #460
@steida these are just aliases! But I am going to use node wrappers for that. It's pissing me off a little bit.

[2015-09-22 20:49] grabbou opened #478 "Do we need `initialState.js` ?"
https://github.com/este/este/blob/feature/webpack-dev/web/src/server/initialState.js#L7

Imo DefinePlugin is fine.

[2015-09-22 20:53] grabbou opened #479 "Consider using chalk and better info to stdout"
Current output:
[code]

Proposed output:
[code]

With colours, just like nodemon uses yellow & green :)

[2015-09-22 21:13] grabbou commented on #473
Done. BTW, their webpack config is so much better since there's no function to `makeConfig`. I think we should inline it as well at some point

[2015-09-22 21:20] grabbou commented on #460
Definite solution, use `concurrent` and `betterScripts` to solve it on all platforms. To be done tomorrow.

[2015-09-23 00:59] steida commented on #478
I think DefinePlugin is for enviroment settings while app config is for app constants. People should not touch webpack because list of endpoints were changed for example.

[2015-09-23 09:54] AntiCZ opened #480 "Deploy to Heroku"
Hello, I have tried deploy to Heroku. But there is a issue.

No app.json located in the repo URL provided.
Make sure that an app.json file exists in the project root directory.

[2015-09-23 10:22] grabbou commented on #480
Yep, Deploy to Heroku is temporarily disabled as we've changed the app structure and this needs to be reorganised a bit. A new way will land in this week.

#448 just for reference.

[2015-09-23 10:22] #480 closed

[2015-09-23 11:17] ronag commented on #478
I was just about to argue against steida, but after looking at our own projects I have to agree that initialState is nice for application configuration.

[2015-09-23 12:01] ronag opened #481 "How is hot reload added?"
Sorry, I'm a little lost I can't find where the react component hot reload is injected. Can't find `react-hot-loader` in webpack config nor a `react-transform-hmr` in babel config.

[2015-09-23 12:01] XeeD commented on #479
@alcedoatthis We have something similar in our app. Maybe you could do it for Este :wink:

[2015-09-23 12:02] #481 closed

[2015-09-23 12:20] grabbou commented on #481
babel config :D

[2015-09-23 12:20] grabbou commented on #479
Wooo, let's get the PR then! #fast#merge#guarnateed

[2015-09-23 12:30] XeeD opened #482 "Hot reload actions"
Actions should be hot reloadable too. We need a cross platform solution.

[2015-09-23 12:40] ronag commented on #481
Yes, I just missed that there is 2 babel configs.

[2015-09-23 12:42] grabbou commented on #482
Yep, see how Redux did the same for reducers.

[2015-09-23 13:37] ronag commented on #482
As Dan pointed out in the redux issue this should already work since they should be reloaded together with the components. What am I missing?

[2015-09-23 14:05] grabbou opened #483 "Isomorphic Webpack"
Replace https://github.com/este/este/blob/master/web/src/server/index.js#L23-L26 with https://www.npmjs.com/package/webpack-isomorphic-tools

This as well:
https://github.com/este/este/blob/master/web/src/server/frontend/index.js#L16-L17

Anyone? :) Should make it no longer required to embed hardcoded paths to assets.

[2015-09-23 14:09] grabbou commented on #478
OK OK

[2015-09-23 14:09] #478 closed

[2015-09-23 14:10] grabbou commented on #473
The hot reload is fixed.

[2015-09-23 14:10] #473 closed

[2015-09-23 14:11] grabbou commented on #465
Help needed, otherwise I'll give it a go soon.

[2015-09-23 14:40] steida commented on #482
No, it's regression.
https://github.com/gaearon/babel-plugin-react-transform/issues/26

[2015-09-23 15:24] cameron-normative commented on #483
Hey there.  I too am having issues with the url-loader solution when trying to use `<img src={require('foo.png')}>` in my react templates.  The client code works properly but the server outputs `<img src="[object Object]">`

Thanks!

[2015-09-23 15:27] grabbou commented on #483
Yep, that's because of the above. Understandable, currently we just ignore custom loaders. Will be fixed soon.

[2015-09-23 16:06] ronag commented on #482
So should we switch back to react-hot-loader?

[2015-09-23 17:44] ronag opened #485 "redux-router"
What are the thoughts on using redux-router?

[2015-09-23 18:00] grabbou commented on #485
It's already an issue for that. Answer: let's implement! I am already using it in few prod apps

[2015-09-23 18:00] #485 closed

[2015-09-23 18:00] grabbou commented on #465
Cc: @ronag

[2015-09-23 18:20] ronag commented on #465
Looking at it. Unsure how to do the server side part of it though.

[2015-09-23 18:21] ronag commented on #465
This might a good place to start: https://github.com/erikras/react-redux-universal-hot-example

[2015-09-23 18:26] ronag commented on #465
Might be a good start:

https://github.com/davezuko/react-redux-starter-kit/tree/2f2428b43ce9d17b80809d43fc67e8f6bf75fe7d

[2015-09-23 18:27] grabbou commented on #465
This is actually a pretty good setup, I like the aliases esp. https://github.com/davezuko/react-redux-starter-kit/tree/2f2428b43ce9d17b80809d43fc67e8f6bf75fe7d#aliases

For server side of things, check out `/lib/server.js` from redux-router :)

[2015-09-23 19:45] ronag opened #486 "Split common stuff into vendor chunk for faster incremental dev builds"
https://webpack.github.io/docs/code-splitting.html

I can do this if it is considered a good idea.

[2015-09-23 19:50] ronag commented on #465
Sorry, this is one unfortunately a bit over my head.

[2015-09-23 20:05] rkoberg opened #487 "some slight changes have occurred -- short term roadmap?"
I see a few minor :) modifications have crept into the code base since last week. Looks fantastic!

I want to refactor my code to come inline with the current state of Este, but I also see a lot of activity occurring. Any ballpark idea of when this repo will get into a more stable state?

[2015-09-23 20:09] rkoberg opened #488 "thoughts on coroutine, generators, yield versus chaining promises"
I was wondering what your thoughts on using bluebird coroutines with generators functions and yield statements versus using promise chains. Are you *not* using them for a particular reason? If so, what is that? Are the promise chains a target for refactoring into coroutines?

[2015-09-23 21:04] grabbou commented on #487
Good question, 2 weeks I would say. We just need to get all the things up & running but I am trying to maintain a changelog :)

[2015-09-23 21:05] grabbou commented on #486
Yeah, you can give it a go!

[2015-09-23 21:19] ronag commented on #486
https://github.com/este/este/pull/489

[2015-09-23 21:20] ronag commented on #488
I would much prefer `async/await` if needed. But I don't quite see where there is enough async stuff going on in este, as is, for it to be worth it?

[2015-09-23 21:23] ronag opened #490 "redux-starter-kit"
This project seems to have some good ideas that might fit into este. Worth investigating?

https://github.com/davezuko/react-redux-starter-kit/tree/2f2428b43ce9d17b80809d43fc67e8f6bf75fe7d

[2015-09-23 21:30] ronag commented on #55
es7 features are a problem. We still can't use it in our projects.

[2015-09-23 21:30] ronag commented on #55
https://github.com/codemix/babel-plugin-typecheck

Might be a better alternative in the short term.

[2015-09-23 21:43] rkoberg commented on #488
Well, coroutines are supposed to be faster from what I have read. I ran a simple timing tests and the coroutines were around 10 milliseconds slower. And at: https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#2-unsupported-syntax
"Currently not optimizable:

Generator functions
Functions that contain a for-of statement
[snip/]"

I have been trying both and don't really have a prefer

[2015-09-23 21:45] ronag commented on #488
It's a bit out of scope of este. But assuming that async/await is accepted into es7 then that will be the way to go. Performance wise there should be no real difference since the implementation is pretty much the same, it's just different syntax.

[2015-09-23 21:57] ronag opened #491 "multi entry split"
Just an idea. But consider a very large application with lots of javascript. It would be nice if we could just deliver the javascript required to display and run the current route for quick load and display time and only after that start reading in the rest in the background.

I believe the following could be a good start:

https://github.com/webpack/react-proxy-loader

[2015-09-23 22:59] steida commented on #482
I think browser reload is good enough until Dan will fix it.

[2015-09-23 23:07] grabbou commented on #490
Yeah, there are also other worth looking into,  @steida you linked few of them recently.

[2015-09-23 23:08] grabbou commented on #55
That's pretty cool! I think I am gonna implement it straight away in a test project!

[2015-09-23 23:09] grabbou commented on #488
As far as I know, current implementation of async/await uses regenerator which is the same engine behind `generators` as well, so performance wise no difference.

[2015-09-23 23:09] grabbou commented on #491
Worth mentioning new react router supports that out of the box

[2015-09-24 02:33] steida opened #492 "Npm3 install is slow"
`npm install` is really slow https://github.com/npm/npm/issues/8826

Sure npm will fix it someday, but do we really need it?

[2015-09-24 05:10] ronag commented on #491
Link?

[2015-09-24 05:31] ronag commented on #490
Could we put all the links in a single issue and point out parts we find interesting?

[2015-09-24 05:41] ronag opened #493 "Redux DevTools"
Is there a reason why we don't use this?

[2015-09-24 05:42] ronag opened #494 "FSA Invariant"
In our application we use the following middleware. Is it something that might be good in este?

[code]

[2015-09-24 05:56] ronag opened #495 "Global require"
This is kind of cool:

https://github.com/CentaurWarchief/babel-plugin-global-require

[2015-09-24 06:30] ronag opened #496 "Location should not be full path"
Somehow, I can't reproduce it again, I got the following warning:

[code]

[2015-09-24 06:32] ronag commented on #486
Closing in favor of PR.

[2015-09-24 06:32] #486 closed

[2015-09-24 06:38] ronag opened #497 "Waiting for side effects during server rendering"
What is the strategy for waiting for middleware/action side effects during server rendering? If I remember correctly `react-resolver` let components put promises for pending side effects in a list on `context` which the server would later do a `Promise.all` wait on before `renderToString`. Not sure if that is the way forward here?

Alternatively we could create a middleware that keeps track of sid

[2015-09-24 06:40] ronag commented on #497
Here is an example of a middleware with side effects that needs to be waited on server side rendering.

https://github.com/rackt/redux/issues/789

[2015-09-24 07:43] grabbou commented on #494
As long as Daniel is happy with it :) I am going to steal it now to my codebase.

BTW - we need to put it after `dependenciesMiddleware` as it accepts function and returns FSA compliant action.

[2015-09-24 07:45] grabbou commented on #495
Ha, that's quite cool but I would so much prefer only making all requires relative, just like SASS does...

something like:
`import {abc} from `~actions/myAction`;

"~" scopes to "src".

[2015-09-24 07:52] grabbou commented on #492
It has lots of other benefits that make this `npm install` times not an issue to me. I only do it once on a clean repo (does not happen that often), CI uses cached modules.

I am not sure if we are having such a performance impact like they have:
https://github.com/npm/npm/issues/8826#issuecomment-142526809

All in all, we should be `just fine` with downgrading to npm 2.x, it's up to users. Just k

[2015-09-24 07:54] grabbou commented on #493
No, just didn't have enough time to implement. If you feel fancy, give it a go. The only issue is (that I've already told @steida) that function `configureStore` from `common` package needs to support one extra argument - a function to add to composition. It's because `web` & `native` will require their own set of tools & modules thus this is a must (because for now - no dev tools for native)

[2015-09-24 07:54] grabbou commented on #490
We can put all relevant info here I believe.

[2015-09-24 07:55] grabbou commented on #491
https://github.com/rackt/react-router/blob/master/docs/guides/advanced/DynamicRouting.md#dynamic-routing

[2015-09-24 08:00] grabbou commented on #495
This -> https://www.npmjs.com/package/babel-plugin-module-alias

[2015-09-24 08:46] solcik commented on #495
:+1:

[2015-09-24 08:48] ronag commented on #493
I do it like this:

[code]

[code]

[2015-09-24 08:49] ronag commented on #493
I can take a go at it. The biggest problem is that the current version of devtools throws warnings in React 0.14.

https://github.com/gaearon/redux-devtools/pull/128

[2015-09-24 09:44] ronag commented on #491
Hm, they seem to be using `require.ensure` not sure yet how to handle that on server side.

[2015-09-24 09:55] ronag commented on #491
That works great! I'll port it over to este eventually.

[2015-09-24 10:18] ronag opened #498 "batchedUpdates?"
[code]

[2015-09-24 10:18] ronag commented on #488
I think issue can be closed...?

[2015-09-24 10:38] grabbou commented on #488
Yep, thanks!

[2015-09-24 10:38] #488 closed

[2015-09-24 13:42] steida commented on #497
I will experiment with it today.

[2015-09-24 13:45] steida commented on #494
As thirdparty library, why not. As another piece of code in codebase - no. Este is not for control freaks.

[2015-09-24 13:50] gaearon commented on #493
We're waiting for 0.14 to ship before requiring it as a peer.

[2015-09-24 14:02] ronag commented on #494
Haha, I guess some of us are control freaks. I'm closing this then.

[2015-09-24 14:02] #494 closed

[2015-09-24 21:14] rkoberg opened #499 "pre-render pages as unauthenticated at build instead of server side render"
The idea would be to do away with a need for an app server (at least as an option), and put the built app on an AWS S3 or similar.

What do you think?

Rational/Use case: With services like Cognito , API Gateway + Lambda http://thenewstack.io/five-reasons-to-consider-amazon-api-gateway-for-your-next-microservices-project/ -- the only reason for paying for the app server would be to render pages th

[2015-09-24 22:39] steida commented on #499
Yeah, prebuild definitely makes sense.

[2015-09-24 23:42] ronag opened #500 "Compress during build"
Isn't it better to compress during build instead of on demand?

https://github.com/webpack/compression-webpack-plugin

[2015-09-25 11:21] grabbou commented on #500
I am pretty sure express caches that anyway (and it's fast, so not sure if worth doing)

[2015-09-25 12:15] #500 closed

[2015-09-25 13:17] ronag commented on #490
https://github.com/jas-chen/thisless-react/tree/master/examples/todomvc

This is quite cool.

[2015-09-25 14:52] christophediprima commented on #396
This is very interesting :) : https://github.com/facebook/relay/issues/36

[2015-09-25 15:16] ronag commented on #396
No sockets in either relay nor falcor.

[2015-09-25 17:35] ronag opened #503 "Flow vs PropTypes"
More just throwing out this thought. I was looking into stateless components and the only problem I see with them is that there is no way to do propType validation.

But really, propTypes are a bit superfluous with Flow types. Do we know of any project that potentially (in the future) enables us to replace all propType definitions with just Flow type annotations?

Maybe https://github.com/codemix/

[2015-09-25 22:44] grabbou commented on #503
You mean the function components?

[code]

But yeah, you can utilise Flow better with function components, it's cleaner.

[2015-09-26 07:23] ronag commented on #503
Ah, I didn't about doing it like that. Thanks! Though something like this would be cleaner as you say:

[code]

[2015-09-26 09:47] ronag opened #505 "webpack-dev-server"
Why is `webpack-dev-server` in dev dependencies? Doesn't seem to be required anywhere?

[2015-09-26 14:26] steida commented on #503
I think I can close it.

[2015-09-26 14:26] #503 closed

[2015-09-26 14:27] steida commented on #505
Yeah, it should be removed. One small PR ;)

[2015-09-27 17:49] yosit opened #506 "wrong syntax for animation for ios SideMenu"
in app.react.js under native
      <SideMenu
        animation='spring'

I believe animation is not a property for SideMenu

Awesome work btw!

[2015-09-28 17:42] grabbou opened #507 "Do not clone children"
[code]

will cause infinite loop if there's more than one level of nesting as explained on Gitter, CC: @webkadabra

Probably better to write `{children, passProps} = this.props` instead.

[2015-09-28 18:06] steida commented on #507
Plus this weird behaviour https://github.com/rackt/react-router/issues/1505 I hope React router will add more idiomatic api method for that.

[2015-09-29 10:20] ronag commented on #497
@steida: Any progress?

[2015-09-29 13:22] steida commented on #497
Almost. I was on holydays.

[2015-09-29 14:24] grabbou commented on #448
@steida, any chances you bring the deploy to heroku button back again?

[2015-09-29 16:36] pstanisl opened #510 "postInstall.sh problem on Windows"
On Windows machines is not possible to run (natively) `postInstall.sh`. :)

[2015-09-29 17:27] pstanisl opened #511 "postInstall.sh problem on Linux (cannot run in wd)"
Every time I run on Linux `sudo npm install` at `@este/universal` it ended with error:

[code]
Tested on elementary OS (Ubuntu) and Apricity OS (Arch Linux).

[2015-09-29 17:29] pstanisl commented on #511
*Solution* - run `sudo npm run postinstall` manually.

[2015-09-29 18:49] steida commented on #448
idk

[2015-09-29 18:50] grabbou commented on #448
Ok, will do it tomorrow.

[2015-09-29 18:52] grabbou commented on #510
It's not cross-platform yet (there's an issue for that). We wanted to enable Heroku first. Will close this one and monitor that issue in Windows one, but thanks!

[2015-09-29 18:52] #510 closed

[2015-09-29 18:55] grabbou commented on #511
You should not use sudo with `npm` :) There's a FAQ entry on how to fix permissions,  there are a couple of issues regarding that from the past, e.g. https://github.com/npm/npm/issues/3497#issuecomment-18768942. Could you try fixing the npm first and see if that helps? I don't think it's an issue with the script itself since it runs on Heroku & CircleCI w/o issues.

[2015-09-29 18:56] grabbou commented on #505
@ronag do you want to get rid of it? Otherwise, I'll do it.

[2015-09-29 18:56] grabbou commented on #506
Thank you! This is a result of some refactoring I forgot about. Will fix when migrating to este/common later this week.

[2015-09-29 18:56] grabbou commented on #498
@steida ?

[2015-09-29 18:58] grabbou commented on #495
@steida and everyone, shall we use module-alias plugin instead of `npm link` to simplify the Heroku / set up process and get rid of linking? I believe this is a huge improvement w/o any magic behind it.

[2015-09-29 19:01] grabbou commented on #487
Roadmap on Friday

[2015-09-29 19:02] steida commented on #505
And eventemitter3 both in native and web I guess.

[2015-09-29 19:07] steida commented on #498
No, it's tricky. Weird cursor rendering issues for controlled components. It's up to React itself to do that.

[2015-09-29 19:07] #498 closed

[2015-09-29 19:16] pstanisl commented on #511
1) `npm install --unsafe-perm` - does not wok.
2) `sudo chown -R my_name /usr/local` - WORKS.

Thanks for helping me.

[2015-09-29 19:39] steida commented on #495
Relative requires are boring and explicit, so I would stick with them. Then we can remove link I guess.

[2015-09-29 19:41] grabbou commented on #495
You can try to remove the link then and get rid of scripts/postInstall since it's not going to be needed anymore.

[2015-09-29 19:42] grabbou commented on #511
:)

[2015-09-29 19:42] #511 closed

[2015-09-29 19:45] ronag commented on #505
@grabbou: Be my guest.

[2015-10-01 06:25] pemasat commented on #445
Hi all,

I've got probably same trouble. When I run "npm install" it give me error:
[code]
on Kubuntu 14.04 LTS. Are there any fix status pls?

Thank's a lot,
Petr

[2015-10-01 06:35] grabbou commented on #445
Update your npm to at least 2.10 version and re run. The one you have is a really old one and does not support standard features we use throughout the project :)

[2015-10-01 11:12] RahavLussato commented on #460
i got this error also,
the problem is that u need to go back to tthe root after every cd operation,
insted of : (cd web && npm link ../common) && (cd native && npm link ../common)
do : (cd web && npm link ../common) && (cd..) && (cd native && npm link ../common) && (cd..)

[2015-10-01 11:25] grabbou commented on #460
This can be closed since Daniel will provide the de-facto solution later today. Sorry for the inconveniences ;)

[2015-10-01 11:36] DenisIzmaylov commented on #492
+1, it's really very slow

[2015-10-01 14:27] stovmascript commented on #460
@grabbou @steida Just curious if you've started working on it and what approach you're taking because I have a straight node solution working at home (when coupled with this PR: #502), which I could submit in the evening, if you're interested.

It's one file for the ```postinstall``` script and another for the other scripts. It's not very fancy though, just a bunch of ```execSync```s for the npm c

[2015-10-01 14:33] grabbou commented on #460
@stovmascript would you mind sharing a Gist with me? I might use it in one of my projects, since there's going to be Windows in da house. I will also need it for the CLI tool I am working on in my free time :). From what I understand, @steida is going to write it again from scratch with proper user workflow and no duplicated run commands.

[2015-10-01 14:44] stovmascript commented on #460
@grabbou Sure, I'll send it your way later today :)

[2015-10-01 14:49] grabbou commented on #460
Aweesome

[2015-10-01 19:33] stovmascript commented on #460
@grabbou Here you go: https://gist.github.com/stovmascript/b5b0845e4dc785a35e22

[2015-10-02 07:44] pemasat commented on #445
Hi all,

thank's, I'm upgrade npm and it help me.

Petr

[2015-10-02 18:50] mirimCZ commented on #354
From book Learning Behavior Driven Development With JavaScript by Enrique Amodeo:

will change the state of the system and/or make the system perform actions on
other third-party systems. Note that a feature is usually a small-grained piece of
functionality of the system, and a use case or user story can map to several features.
An important thing about features is that they describe the behavior

[2015-10-03 00:16] Restuta commented on #434
@grabbou any news on how to use pure render with function components?

[2015-10-04 16:07] JacquesBonet opened #513 "Installation doesn't works"
Missing lot of dependencies in package.json, so install doesn't works.

[2015-10-04 18:25] steida commented on #513
Will be fixed soon.

[2015-10-05 11:34] pemasat commented on #513
Hi all,
i've got propebly same trouble. I can install, but when I try run application it give me error:
[code]
Any idea? It's see to any missing libary. Gulp I've got in system, and work normaly.

[2015-10-05 11:38] grabbou commented on #513
try npm install --save gulp in `web` folder. That was fixed recently, but I've rollbacked the master to prepare it for @steida work.

[2015-10-05 11:42] pemasat commented on #513
It a little help me, but still I've got:
[code]
any next idea?

[2015-10-05 20:31] steida opened #514 "add universal redux-storage example"

[2015-10-07 06:21] cpylua commented on #469
Solved.

It took me some time to figure out how` react-transform-hmr` works. The fix is simple, move `react-transform` babel plugin config(currently in .babelrc) to webpack loader query since it relies on webpack's HMR API. Build fails because react components are not processed by webpack when rendering on server.

[2015-10-07 06:21] #469 closed

[2015-10-08 08:22] ondrejbartas opened #515 "Application will not update state in development when initial state changed"
Hi,

I have problem with current way of initial state caching on development. Easiest way to desribe my problem is:
- start webserver `npm run web-start-dev`
- open `http://127.0.0.1:8000`
- change `common/src/intl/messages/en.js` for example app.header.h1 from `Home` to `Super Home`
- refresh page `http://127.0.0.1:8000`
- you will still see `Home` instead of `Super Home`

in previous version (wi

[2015-10-08 14:05] steida commented on #515
No, it will be fixed soon.

[2015-10-08 20:19] babelvit opened #517 "npm run web-start-dev crashes"
Hello,
I get this error when entering "npm run web-start-dev"
[code]

[2015-10-09 01:30] tannerb commented on #517
npm i -g gulp will fix that right up

[2015-10-09 07:53] grabbou commented on #517
Windows support is in progress and will be fixed soon by @steida

[2015-10-09 07:53] grabbou commented on #513
How come this can be happening if CircleCI passes? https://circleci.com/gh/este/este

[2015-10-09 14:57] ja-be commented on #513
@pemasat Why are you using `sudo`? You are on Linux, right? Check your user privilegies on `/usr/local/lib/node_modules`, `este/node_modules`, `este/web/node_modules` and run again `npm run web-start-dev` without `sudo`.

[2015-10-10 08:09] pemasat commented on #513
@ja-be You are got true. I have got bad privileges on  ```/usr/local/lib/node_modules```. Now is every ok.
Thanks you a lot,
Petr

[2015-10-10 10:40] pemasat opened #518 "Full function with blocked javascript on client"
Hi all,

I start play with this dev-stack, becose i've got like javascript, and idea one code for client and server good sound for me. I see that with block javascript, on frontend client, Este generate static pages, that's nice. But I would like make 100% access without javascript, and example application no create todo list, and you can't log in too.

Is it only unfinished example, or it's ok?

[2015-10-11 18:11] messa commented on #445
Hi, when I ran `npm install` in `/este`, I got

    npm WARN lifecycle @este/universal@~preinstall: cannot run in wd %s %s (wd=%s) @este/universal@ (cd web && npm link ../common) && (cd native && npm link ../common) /este
    npm WARN lifecycle @este/universal@~postinstall: cannot run in wd %s %s (wd=%s) @este/universal@ (cd web && npm install) && (cd native && npm install) /este

Then `npm instal

[2015-10-12 19:33] ronag opened #519 "How to handle case where the store "model" differs from the "display" model"
Given how este is designed currently the store model and the display model is (must be?) the same.

However, in a real-world application this is often (?) not the case, e.g. a store usually prefers to store it's data in a normalised model (https://github.com/gaearon/normalizr) while the react component tree expects a un-normalized model.

There are a few problems I see here:

- A normalised model

[2015-10-12 19:45] steida commented on #519
I don't see any issue here. Store data you have and remaster them for view as you go and you need. Done.

[2015-10-12 19:47] ronag commented on #519
@steida: How and where do you "remaster" them?

[2015-10-12 22:35] steida commented on #519
When you need it, effectively in place where you need to render them. In some component.

[2015-10-13 03:11] steida commented on #519
Feel free to open issue when doubt.

[2015-10-13 03:11] #519 closed

[2015-10-13 03:11] steida commented on #518
Sorry, JavaScript is must.

[2015-10-13 03:11] #518 closed

[2015-10-13 03:12] steida commented on #517
Windows will be fixed tomorrow.

[2015-10-13 03:12] #517 closed

[2015-10-13 03:24] steida commented on #515
It should work now.

[2015-10-13 03:24] #515 closed

[2015-10-13 03:27] steida opened #520 "Uber hot reload"
This is long term issue depending on other people work.

- [ ] client actions, reducers, messages should be hot reloadable
- [ ] native as well

[2015-10-13 03:27] steida commented on #482
https://github.com/este/este/issues/520

[2015-10-13 03:27] #482 closed

[2015-10-13 03:54] #513 closed

[2015-10-13 03:55] steida commented on #507
I believe it's fixed with React 0.14

[2015-10-13 03:55] #507 closed

[2015-10-13 03:56] steida commented on #505
Fixed.

[2015-10-13 03:56] #505 closed

[2015-10-13 03:57] steida commented on #506
And I have to say, I spend two days refactoring all the mess in native brach. Grabbou, speed is nice, but that code was inconsistent and shitty mess I haven't seen for ages.

[2015-10-13 03:57] #506 closed

[2015-10-13 03:58] steida commented on #506
Anyway, thank you for made it, really. It wasn't just ready for master.

[2015-10-13 03:59] steida commented on #497
Feel free to reopen for new code. Thank you.

[2015-10-13 03:59] #497 closed

[2015-10-13 04:00] steida commented on #495
And with new simplified structrure, we don't need this anymore.

[2015-10-13 04:00] #495 closed

[2015-10-13 04:00] steida commented on #496
Feel free to reopen it with better reproducable case.

[2015-10-13 04:00] #496 closed

[2015-10-13 04:01] steida commented on #492
Npm3 is slow as shit. Fortunately, we don't need it.

[2015-10-13 04:01] #492 closed

[2015-10-13 04:01] steida commented on #493
Yes.

[2015-10-13 04:01] #493 closed

[2015-10-13 04:02] steida commented on #491
Feel free to add wiki entry about your use case and how it should be solved. Thank you.

[2015-10-13 04:02] #491 closed

[2015-10-13 04:03] #490 closed

[2015-10-13 04:03] steida commented on #474
done

[2015-10-13 04:03] #474 closed

[2015-10-13 04:03] steida commented on #479
Maybe

[2015-10-13 04:03] #479 closed

[2015-10-13 04:03] steida commented on #457
Feel free to reopen it with PR

[2015-10-13 04:03] #457 closed

[2015-10-13 04:06] steida commented on #456
Because multiple packages in one repo was, is, and always will be really stupid idea.

kthxbye

[2015-10-13 04:06] #456 closed

[2015-10-13 04:11] steida commented on #460
Because npm scripts should never be misused for build. That's just wrong. It's just place for bunch of aliases. Nothing more.

[2015-10-13 04:11] #460 closed

[2015-10-13 04:13] steida commented on #453
npm link used inside one project is nonsense.

[2015-10-13 04:13] #453 closed

[2015-10-13 04:14] steida commented on #448
Promises... should be resolved.

[2015-10-13 04:14] #448 closed

[2015-10-13 04:15] steida commented on #443
...

[2015-10-13 04:15] #443 closed

[2015-10-13 04:15] steida commented on #428
redux-storage is better

[2015-10-13 04:15] #428 closed

[2015-10-13 04:15] steida commented on #483
never

[2015-10-13 04:15] #483 closed

[2015-10-13 04:16] steida commented on #434
No, stateless components are just syntax sugar. We don't need them.

[2015-10-13 04:16] #434 closed

[2015-10-13 04:17] steida commented on #380
Never. Babel polyfill Promise is shit.

[2015-10-13 04:17] #380 closed

[2015-10-13 04:17] #384 closed

[2015-10-13 04:18] steida commented on #430
All dependencies are cached in Heroku, so this is just micro-optimization.

[2015-10-13 04:18] #430 closed

[2015-10-13 04:19] steida commented on #396
Done. The example is not yet there, but it should be obvious from fetch HOC and server render. It just works.

[2015-10-13 04:19] #396 closed

[2015-10-13 04:20] steida commented on #499
That's really make sense.

[2015-10-13 04:20] steida commented on #487
Roadmap belongs to user land.

[2015-10-13 04:20] #487 closed

[2015-10-13 04:21] steida opened #521 "Check Windows"

[2015-10-13 08:26] pstanisl opened #522 "Unable to start este app in development mode on Windows"
After clean installation of *este* I am not able to run *gulp* in *development* mode. I receive an error:

[code]
Problem with the error is that I am unable to detect what it causes.

If I try run ```gulp server-hot``` and ```gulp server-nodemon`` separately, I **receive the same error**.

If I try run ```gulp server-hot``` and ```node_modules\.bin\nodemon src\server\``` **everything works fine**.

[2015-10-13 12:33] rkoberg commented on #499
I have this working in a limited/hacky way. Are you going to work on this? If not, how do you (anyone) see this feature: As a gulp task, a web interface (GET returns a tree of pages with check boxes to select and POST), or what do you think? Not sure if this should only be a development time thing, perhaps for a CMS version/stage, or on the live site behind an admin path.

To get the server side t

[2015-10-13 13:23] grabbou commented on #520
You won't be able to hot-reload native side at this stage, mainly because of some limitations https://github.com/mjohnston/react-native-webpack-server/issues. Likely to change when Dan starts working on native tooling from next month on.

[2015-10-13 13:44] steida commented on #520
That's why I wrote "long term issue".

[2015-10-13 13:48] grabbou commented on #520
Sorry, I've missed that and only gone through the points. Fair enough.

[2015-10-13 13:54] rkoberg opened #523 "Este only works with locahost"
This is because webpack/makeConfig hard codes localhost and frontend/render uses the req property. Not really sure how to fix. (I want other people on my local network to the the app in dev)

[2015-10-13 15:01] steida opened #524 "Test Android"

[2015-10-13 17:12] grabbou commented on #522
Possible duplicate of #521

[2015-10-13 17:12] grabbou commented on #524
Really interested to see how you are going to solve the `ios` and `android` extension problem :)

[2015-10-13 20:56] ronag commented on #520
Reducers are already hot-reloadable? Actions and mapStateToProps should be hot-reloadable if we replace babel plugin based hot reloading with the old "react-hot-loader" webpack loader.

[2015-10-14 06:57] grabbou commented on #520
Msg

[2015-10-14 10:59] XeeD commented on #523
Maybe bind to `0.0.0.0`?

[2015-10-14 13:29] rkoberg commented on #523
Does not solve the problem of other people on the local network trying to see my work.

[2015-10-14 14:45] XeeD commented on #523
When you bind it to `0.0.0.0` it should listen on every network interface.

See http://stackoverflow.com/a/20778887

[2015-10-14 14:49] steida opened #525 "Update readme for mobile doc dev"

[2015-10-14 14:53] rkoberg commented on #523
Sure but, when a client connects 192.168.1.1 from 192.168.1.2 and the html on 192.168.1.2's browser looks for 0.0.0.0/build/app.js it will look for a server on 192.168.1.2's machine.

[2015-10-14 14:59] steida commented on #523
@rkoberg Please share your solution when you figure out it, thank you.

[2015-10-14 15:59] rkoberg commented on #523
What I am doing is using a local.conf.js in the root of the project that does not get committed to the repo or deployed that sets various environment variables (api url, s3 url), for example:

process.env.PORT = '8000';

process.env.TP_SERVER_IP = '192.168.1.69';
process.env.TP_HOT_RELOAD_PORT = '8015';
process.env.TP_PUBLIC_S3_PORT = '8030';
process.env.TP_PUBLIC_S3_URL = 'http://' + process.env.

[2015-10-14 16:02] rkoberg commented on #523
Additionally, this
[code]
is there because I have also set defaults. The project gets checked out by designers and manager types, so they don't need to change anything to run the server.

[2015-10-15 11:19] hamczu opened #526 "Source maps missing"
I just cloned the repo and run "gulp" default task and I see that JS and CSS sourcemaps are missing. Is that intentional?

Also I've noticed that readme might be outdated: https://github.com/este/este#why-does-the-css-flicker-when-starting-the-apprefreshing-it - there's no 'web-start' task in npm

[2015-10-15 13:07] rkoberg commented on #522
I just had someone on my team run into this issue. They are on Windows. This issue says you need `ps` installed: https://github.com/remy/nodemon/issues/454 -- anyone know how to install this command on windows (google is not helping). I see this: https://technet.microsoft.com/en-us/sysinternals/bb896649.aspx but not even sure if it is the right thing to use.

[2015-10-15 16:51] tomoakley opened #527 "Webpack hot reloading not working"
Installed the latest commit of Este and run `npm install` and `gulp`, but when I load `http://localhost:8000`, only the HTML shows - the CSS or JS doesn't work (e.g. can't add todos, login etc). `http://localhost:8080` doesn't work either. Is this a known bug?

[2015-10-15 17:33] rkoberg commented on #527
8080 is a pretty common port, something might already be running on it. I have to change the port in my working copy.

[2015-10-15 17:38] tomoakley commented on #527
Ah yeah that fixed it, thanks! (for those not sure how to change it: go to `/webpack/constants.js` and then change `HOT_RELOAD_PORT`). Does webpack have a way of detecting the ports in use and automatically assigning itself to an used port? I've used <a href="http://browsersync.io">Browsersync</a> before which includes this handy feature.

[2015-10-15 17:42] steida commented on #527
Do you think we should use another port?

[2015-10-15 17:43] tomoakley commented on #527
@steida might be useful - or at least add it to the Readme that you may need to change it.

[2015-10-15 17:44] steida commented on #527
Can you send PR please? Thank you!

[2015-10-15 21:53] rkoberg opened #528 "server side rendering issues with static load method"
How do you render the me page on the server?

How would you render any page with a path or query param?

Assuming I am doing this correctly:
[code]
I don't see how it can be done. What I am doing to work around this is put a settings object in initialState (in frontend/render):
[code]
If there is a user/viewer, then also add  their ID and SLUG to the settings object.

The settings object is used a

[2015-10-16 01:55] steida commented on #522
@pstanis I'm not using Windows and I don't know why it doesn't work either. So, your workaround is all we have.
[code]
Can you please update gulpfile and readme for Windows users? Better having to run two terminal windows than nothing. Thank you very much!

[2015-10-16 01:55] #521 closed

[2015-10-16 02:01] steida commented on #527
I am closing it but feel free to send PR.

[2015-10-16 02:01] #527 closed

[2015-10-16 02:05] steida commented on #526
Thank you for info about outdated readme, already fixed.

[2015-10-16 02:12] steida commented on #522
Btw, npm install works in Windows only in git shell, corrent me If am wring.

[2015-10-16 02:27] steida commented on #526
As for missing sourcemaps.

If I put debugger into client/main, I see original code.
I am not using CSS source maps.

[2015-10-16 02:27] #526 closed

[2015-10-16 17:05] steida commented on #522
I think I have fix...

[2015-10-16 17:51] #522 closed

[2015-10-16 17:51] steida commented on #522
@pstanisl Can you please retest it? Thank you.

[2015-10-16 18:40] steida commented on #528
I don't know.

[2015-10-16 18:40] #528 closed

[2015-10-16 18:41] steida commented on #523
Thank you!

[2015-10-16 18:41] #523 closed

[2015-10-16 18:41] #514 closed

[2015-10-16 18:42] steida commented on #55
One day.

[2015-10-16 18:42] #55 closed

[2015-10-16 18:42] steida commented on #120
No time.

[2015-10-16 18:42] #120 closed

[2015-10-16 18:53] steida commented on #499
Thank you very much for such thoughtful issue. No, I am not going to work on this soon. But I liked it, and it definitely makes sense. It fits to Este, if we can bring some generic lightweight approach to generate static pages.

[2015-10-16 18:56] steida commented on #465
Aliases are workaround for ugly project structure. As you can see, we don't need them with current Este.
Redux-router has dozens issues and pull requests, so it's better to wait for more stable release.

[2015-10-16 18:56] #465 closed

[2015-10-16 18:56] steida commented on #383
One day.

[2015-10-16 18:56] #383 closed

[2015-10-17 01:15] rkoberg commented on #528
I see now that you are already passing in `location`, `params`, and `req`. Still learning...

[2015-10-17 02:50] steida opened #529 "Fix deploy to Heroku button"

[2015-10-18 01:56] arhcstolen commented on #522
It works now, thank you @steida :D

[2015-10-18 22:17] steida opened #530 "Move components styles into component files."
[code]

If styles are not going to be reused, there is no reason to put them into separate files.

[2015-10-19 08:39] grabbou commented on #530
Not sure about this one, it's more compliant with the web version where we do the same (and we do not reuse them). Sure, we cannot do the same with css/less/sass/stylus whatever we use, but sometimes, when your styles are quite big, it's going to get messy.

Another thing we not yet have in Este but we need to keep in mind are different devices. Having styles in a separate file will make it easier

[2015-10-19 08:52] ViliamKopecky opened #531 "Add example of universal data fetching"
I imagine a same interface of methods, with different adapters on the client/server side.

Server using direct access to database, client using fetch to load data via http api.

Or is there a better way?

[2015-10-19 09:55] robinpokorny commented on #530
There is a problem with [react-style](https://github.com/js-next/react-style/) and React v0.14; cf. https://github.com/js-next/react-style/issues/131 and https://github.com/js-next/react-style/pull/128

It is a three-lines fix, however I do not have a good feeling about using such forks.

[2015-10-19 18:14] steida commented on #531
Este is already prepared for that. Check fetch higher order component: https://github.com/este/este/blob/master/src/common/components/fetch.js

Use fetch higher order component to decorate component which should initiate data fetching on componentDidMount (componentDidMount is called only in browser).
[code]

How action can look like:
https://gist.github.com/steida/6338368d81ca8c6dda13

Here you c

[2015-10-19 18:16] steida commented on #531
Common interface is Rest API, called from client and server. Note this, where we have to make api endpoint absolute https://gist.github.com/steida/6338368d81ca8c6dda13#file-actions-js-L5 for server.

Of course it can be polished and simplified, but as I said, no time to do that.

[2015-10-19 18:18] steida commented on #530
I suggested move `StyleSheet.create({..});` definition to the same file where component is. Not replacing it with something else.

[2015-10-19 18:31] rkoberg commented on #531
It is really nice. Works beautifully.

[2015-10-19 18:32] steida commented on #531
@rkoberg So you would be so nice to send pull request with example?

[2015-10-19 18:36] rkoberg commented on #531
Sure. No problem.

[2015-10-19 18:56] smashercosmo opened #532 "Consider using css-modules"
Do you have any plans for that?

[2015-10-20 10:24] robinpokorny commented on #530
@steida, Oh I see! You were talking only about native components.

react-style provides the same syntax as React Native for React, and I feel that it would be great to have it done the same way. However, it has the issue mentioned above.

[2015-10-20 10:47] grabbou commented on #530
I am not sure what to think about this one. Sure, it's good to have all the things in one place, but remember that one of the main reasons to keep stylesheets in a separate file was to align with the web version and allow some abstractions to be built in the styles files w/o bloating component implementation. We now do not support multiple screen resolutions etc., but having styles in a separate f

[2015-10-20 15:51] steida commented on #530
Actually, yes. It would be awesome to be able to share colors and other constants across platforms, so that's why I probably reconsider styles somehow soon for Este ;)

[2015-10-20 16:20] rkoberg commented on #530
(here I am talking about web styling) So far styling (along with redux-logger) has been the biggest pain point. Definitely interested in what you come up with. Or actually the part that is not 'clean'. It just is not practical to use the import in the JS. Doing that requires adding all functions, mixins, variables, etc in the imported stylesheet. Doing that with a library like Bourban and Bourban

[2015-10-21 09:08] ronag opened #534 "react-dom-stream"
https://github.com/aickin/react-dom-stream

[2015-10-21 10:19] ondrejbartas opened #535 "react router issue with clonning element in App.render"
Hi,

I have encountered problem with nested routing
![screen shot 2015-10-21 at 12 17 03](https://cloud.githubusercontent.com/assets/45809/10633810/ac60a862-77ed-11e5-8158-06edbeba9a61.png)

problem is that in `src/client/app/App.react.js` you are clonning
`{React.cloneElement(children, this.props)}`
but by this you are sending to component props with same children, so you are rendering one compon

[2015-10-21 10:22] ondrejbartas commented on #535
This is what I used to test my problem

[code]

[2015-10-21 10:27] ondrejbartas commented on #535
pls check fix in: #536

[2015-10-21 11:31] smashercosmo opened #537 "Consider using one server "to rule them all""
Why do we need separate servers for hot-reload and serving app? Why don't just use one for both tasks?
Have a look at this [example](https://github.com/glenjamin/ultimate-hot-reloading-example/blob/master/server.js).

[2015-10-21 11:35] ronag commented on #537
Because if you make changes to the real server which causes it to be re-run (through nodemon) will break hot-reloading so you have to reload the browser everytime you do a server change.

[2015-10-21 11:43] smashercosmo commented on #537
Did you take a look at the example provided? In this example nodemon is not used. Server reloading is performed by clearing cache and re-requiring modules.

[2015-10-21 12:16] ronag commented on #537
See, https://github.com/este/este/pull/475 for a similar discussion.

[2015-10-21 12:18] ronag commented on #537
I don't really see the point. You still need a production server and then you end up with either code duplication or messy `isProduction` checks everywhere.

[2015-10-21 13:13] rkoberg commented on #535
This fixes the problem for me. I have added it to my pull request

[2015-10-21 13:17] rkoberg commented on #534
That looks good. Have you been using it? What do you set the buffer size to?

[2015-10-21 15:43] steida commented on #537
Thank you @ronag for answers. Yes, I don't see any advantage of replacing what we have.

[2015-10-21 15:43] #537 closed

[2015-10-21 15:54] steida commented on #534
I saw that. Let's wait for stable release.

[2015-10-21 16:05] grabbou commented on #535
This is a known issue and @bulby97 already had it I guess, or @webkadabra and we solved it on Gitter.

Not sure if you are asking about the 3rd comment here or the issue by itself, speaking issue wise, the problem is that if you have hierarchy like this:
[code]
and app passes all the props to dashboard component, dashboard component will keep rendering itself, because reference to `Orders` (this.c

[2015-10-21 16:06] ronag commented on #534
I haven't used it. Just putting it up here since it looks quite interesting.

[2015-10-21 16:09] steida commented on #534
@ronag Thank you for raising it.

[2015-10-21 16:39] smashercosmo commented on #537
@ronag Yeah, thank you for the answers. Actually it was a request from our DevOp guy. He faced some troubles while deploying the app on our staging server, where we have docker, some proxy stuff and we also need hot reloading there) For the most cases your solution is much better.

[2015-10-21 16:56] steida commented on #537
App should be deployed in production mode to your staging server, so you don't need two servers. It's just for development.

[2015-10-21 19:53] smashercosmo commented on #537
@steida we have very specific needs) This is not our production server. We need hot reload there) Because our marketing team can edit some static pages with built-in editor and after saving this changes everybody should see the result) Something like this.

[2015-10-21 21:33] rkoberg commented on #535
+1 to this:
[code]

[2015-10-21 22:57] steida opened #541 "react-redux 4.0.0"
Until React Native is compatible with React 0.14, we need to keep using React Redux 3.x.
Waiting for this to be resolved https://github.com/facebook/react-native/issues/2985
Then we can remove children as function syntax, and maybe use `import Component from 'react-pure-render/component'` for React Native as well.

[2015-10-22 01:13] #535 closed

[2015-10-23 13:02] Webkadabra commented on #535
@ondrejbartas @grabbou hey guys, yep, I had this issue and @grabbou was very kind in explaining the underlying mechanism for that issue. This is exactly how I solve this:

[code]

[2015-10-23 13:46] steida commented on #535
Check update last commit for my solution.

[2015-10-23 21:05] rkoberg opened #542 "bug: este login not working: redux type v. types"
You have:
[code]
redux-promise-middleware wants:
[code]

[2015-10-23 21:07] AlesJiranek commented on #542
login works.
you have to update redux-promise-middleware to 1.0.0, which expects type: [...]

[2015-10-23 21:40] rkoberg commented on #542
Sorry, thanks.

[2015-10-23 21:40] #542 closed

[2015-10-24 01:40] steida commented on #531
Sorry, I had to reimplement it. But the result is great I think.

[2015-10-24 01:40] #531 closed

[2015-10-24 02:25] #530 closed

[2015-10-24 02:26] steida commented on #532
Not sure. I would like to have universal styles rather.

[2015-10-24 02:27] #532 closed

[2015-10-24 16:45] rkoberg commented on #531
Great -- fits in nicely, but I don't think we are there yet. For a pre-generated static page, I think it is a good thing to run the fetch on page load. For a server-side rendered page, the fetch *on client load* should not happen. The fetch can be duplicated on componentDidMount (if desired), but first check to see if it is loaded or it (the feature's Record or a per feature 'Settings' Record) tel

[2015-10-28 21:24] #529 closed

[2015-10-29 04:44] amowu opened #545 "Fetch URL problem in production env (Heroku)"
When use server render to open http[s]://xxx.com/todos, the `ensureAbsoluteUrl` return localhost path, then isomorphicFetch parse error.

![4fc7d20a-7d16-11e5-981f-94b419734875](https://cloud.githubusercontent.com/assets/559351/10810295/61b32d82-7e3a-11e5-920b-37019aafe1f5.png)

[2015-10-29 16:18] rkoberg opened #548 "client side: strange bug/warning after creating routes and before App.react.js componentWillMount"
In trying to describe this I added some hopefully descriptive console.logs. You can see that in the attachment. It shows warnings for failed propTypes for dispatch, and a few other objects (profile is a custom one, not me/Profile). But after the warnings you see the log entry for client/app/App.react.js's componentWillMount, which shows all the props present.

I haven't been able to reproduce  thi

[2015-10-29 16:26] XeeD opened #549 "Update nodemon"
Currently it is frozen on `1.7.3` due to issue https://github.com/remy/nodemon/issues/702

[2015-10-29 16:30] XeeD commented on #548
You cannot have `required` props on your route handlers in Este because each route handler is rendered twice. First, it is rendered without the "top level props" (state, actions). Then it is cloned, props are added and it is rendered again.

[2015-10-29 16:47] rkoberg commented on #548
Uff.., thank you. Days on this....

[2015-10-29 16:47] #548 closed

[2015-10-29 22:37] 3plusalpha opened #550 "no gulpfile"
When I am trying to run gulp as described in the docs I am getting the error:
`No gulpfile found`
I guess it's gulp.babel.js. How to proceed?

[2015-10-29 22:38] steida commented on #550
Update your global gulp, `npm install --global gulp`

[2015-10-29 23:03] ilionic commented on #545
I noticed similar issue, but instead it crashed the app completely.
Log from Heroku:
[code]

[2015-10-29 23:16] 3plusalpha commented on #550
It seems gulp is running on a different node version then the one I set with nvm (4.2.1).
I fixed it in `package.json` and added `"serve": "gulp",`
`
"scripts": {
    "serve": "gulp",
    "postinstall": "gulp build --production",
    "start": "node_modules/react-native/packager/packager.sh",
    "test": "gulp test"
  },`

Booting up with `npm run serve`

[2015-10-30 08:05] XeeD commented on #548
@rkoberg No problem, hope it helped.

[2015-10-31 00:18] steida opened #552 "Consider using AirBnb JavaScript style guide"
https://github.com/airbnb/javascript/

[2015-10-31 13:48] explorigin commented on #550
I'm also having this problem.  Running it from npm worked but I feel like documentation should be updated or the proper gulp command should be fixed somehow.  I'm on Ubuntu 14.04.

[2015-10-31 14:07] 3plusalpha commented on #550
@explorigin I guess it has something to do with nvm, running an old node version when using gulp.
Just add `"serve": "gulp"` to your package.json file and run `npm run serve`

[2015-10-31 14:10] explorigin commented on #550
I did and that worked.  I'm advocated for a note in the documentation.

[2015-10-31 14:45] 3plusalpha commented on #550
I think it's more a nvm problem. Maybe setting node 4.2 as default `nvm alias default 4.2` could work too

[2015-10-31 14:48] explorigin commented on #550
I don't seem to have nvm installed (I've never explicitly installed it)

```npm -g list | grep nvm```  yields nothing

[code]

[2015-10-31 14:52] explorigin commented on #550
Maybe this is helpful:

[code]

[2015-10-31 20:05] grabbou commented on #552
https://github.com/este/este/issues/107#issuecomment-139874970

[2015-11-02 18:12] rkoberg opened #553 "profile actions types are set to LOGIN"
$ gulp test
[10:09:45] Requiring external module babel/register
[10:09:53] Using gulpfile ~/Sites/este/gulpfile.babel.js
[10:09:53] Starting 'test'...
[10:09:53] Starting 'eslint-ci'...
[10:09:57]
/Users/rkoberg/Sites/este/src/common/profile/actions.js
  18:7  error  "LOGIN" is not defined          no-undef
  19:7  error  "LOGIN_SUCCESS" is not defined  no-undef
  20:7  error  "LOGIN_ERROR" is not

[2015-11-02 18:16] rkoberg opened #554 "Mocha tests error out"
I have updated a local version of este master and ran  ```npm install```.

It is choking on:
[code]
[code]
Don't understand how this got merged with the checks that go on for pull requests.

[2015-11-02 19:27] bpeters opened #555 "IOS emulator crashes on left menu click"
[code]

[2015-11-02 19:27] steida commented on #555
I know. Need to figure out why. Probably some dependency somewhere.

[2015-11-03 07:08] ViliamKopecky opened #556 "More actions in @fetch decorator"
Sometimes you need to load more than one resource for one component.

What do you think about the approach, when in the `fetch` you would return a promise instead of an action. Then you could dispatch multiple actions, and wrap them in `Promise.all`.

[2015-11-03 21:24] bpeters commented on #555
Thanks I will let you know what I find on my end.

[2015-11-04 09:21] ondrejbartas opened #558 "Is Este production ready?"
Hi you can checkout https://www.zaplo.dk and https://www.vivus.com.ar this is our production application. This is build upon Este from February and today we are building on latest este and it is great :dancer:

[2015-11-04 09:43] dfogas commented on #558
Hi, I checked it, but different language makes it hard to find out what is going on in the app. Have you worked out internationalization? I am using este from June 27th and I still can't wrap my head around intl and how to change lang w/ nor w/out app reload.

[2015-11-04 12:09] ondrejbartas commented on #558
I have written my own translation engine, because we needed to do lot of number/date/currency formatting and Intl library is not good match. We are storing all translations in appState and then we have method translate which we can pass path to translation for example `translate('pages.me.title')` we are using intl for placing values into translation keys.

[2015-11-05 03:55] MarshallChen commented on #558
Yep, I just finished my last project with este, checkout here https://account.nashangban.com

[2015-11-05 07:39] wordofchristian opened #559 "Should "src/client" be renamed to "src/browser"?"
I experienced some initial confusion as to what belongs inside the `src/client` folder vs `src/common` folder. It's clear to me now that `src/client` is for browser components vs `src/common` which is shared code for all clients including native ones.

In light of that distinction, I'm wondering if we should rename it to "browser" to make things more obvious.

[2015-11-05 11:50] XeeD opened #561 "Save and restore app state shortcuts"
We can reuse this one from James Long:
https://github.com/jlongster/blog/blob/8c9a4e6a1a138a763a3a12bd574b8296147ca88d/static/js/main.js#L85
https://github.com/jlongster/blog/blob/8c9a4e6a1a138a763a3a12bd574b8296147ca88d/src/lib/load-snapshot.js

Blog post: http://jlongster.com/The-Seasonal-Blog-Redux

/cc @ondrejbartas

[2015-11-05 20:18] steida commented on #559
I think we should. Will you send PR?

[2015-11-05 20:43] steida commented on #556
Hmm, fetch aka XmlHttpRequest is pretty costly. I would rather not to show how to do that.

[2015-11-05 20:44] steida commented on #554
Nor me

[2015-11-05 20:44] #554 closed

[2015-11-05 20:44] #550 closed

[2015-11-05 20:45] steida commented on #534
This belongs to wiki tips I believe.

[2015-11-05 20:45] #534 closed

[2015-11-05 20:45] #520 closed

[2015-11-05 20:46] #553 closed

[2015-11-05 22:10] ViliamKopecky commented on #556
Using fetch on server side, if you have db on the same machine, is also unnecessary... you could access the data directly, without making a http request back on the server itself.

[2015-11-05 23:24] rkoberg commented on #554
I saw some tests changes come down recently. Are mocha tests supposed to work now? (since the issue is closed). I have no differences on my local este and este master at github, ran npm install, then gulp test (and npm test), and still get the error above.

Hmmm... I am using io.js v3.3.1. I just switched to nodejs v5.0.0 and the tests pass. So the problem is in io.js

[2015-11-05 23:31] ilionic commented on #556
Speaking about fetch, noticed api is called twice. Could you elaborate?

[2015-11-06 01:27] steida commented on #556
Sure, why not? The second fetch on client side is just fine. Nothing serious.

[2015-11-06 01:27] #556 closed

[2015-11-06 02:57] wordofchristian commented on #559
Yes

[2015-11-06 23:26] steida opened #563 "Babel 6"
We have to wait a few weeks.

- [ ] Babel docs are not yet updated
- [ ] https://github.com/gaearon/babel-plugin-react-transform/pull/50
- [ ] react-native 0.16 since it supports babel 6

[2015-11-07 01:34] steida opened #564 "Universal input onChange handler"
The same api for React and React Native

[2015-11-07 11:24] XeeD commented on #564
What about validations? Should they be triggered `onChange` too, or is it outside of scope of this issue?

[2015-11-07 13:47] steida commented on #564
It's over the scope. Check this https://github.com/este/este/blob/master/src/native/todos/NewTodo.react.js#L40

Live validation is complex issue. You have to switch between lazy (before submiting) and eager (once error is shown).

[2015-11-07 16:43] XeeD commented on #520
@steida is this solved?

[2015-11-07 19:01] XeeD commented on #552
:+1:

[2015-11-07 22:23] steida commented on #520
No, but there is a little we can do for that.

[2015-11-07 23:45] steida commented on #558
I think I can close it. Thank you @ondrejbartas! :-)

[2015-11-07 23:45] #558 closed

[2015-11-07 23:57] steida opened #569 "Node 5"
Not sure, whether everything is ready. If anyone has an experiences, please share.

- [ ] all other blocking issues are closed

[2015-11-07 23:59] steida opened #570 "Put router state into app state"
https://github.com/rackt/redux-router has a lot of issues, https://github.com/jlongster/redux-simple-router seems to be much better.

[2015-11-08 00:00] steida opened #571 "await async"
Should we use it?

[2015-11-08 02:11] steida opened #572 "Use react-pure-render/component in react-native"
https://github.com/gaearon/react-pure-render/issues/14

Hmm, it seems the reason why it doesn't work is that react native can't be used with react, aka import React, {PropTypes} from 'react'; will break it.

Waiting for react-native general react support

[2015-11-08 02:19] steida commented on #572
Ok, it seems it will be fixed soon https://twitter.com/greweb/status/662912153733738497

[2015-11-08 03:28] #555 closed

[2015-11-08 13:19] rkoberg commented on #569
I have been running it for a few days and not seeing problems.

[2015-11-08 13:55] AugustinLF commented on #552
They also have a pretty cool react style guide https://github.com/airbnb/javascript/tree/master/react

[2015-11-08 14:04] grabbou commented on #552
We have been discussing this in issue closed a couple of months ago and I stated here that I use Airbnb with slight tweaks, so my opinion on that is unchanged since then.

[2015-11-08 16:02] steida commented on #524
Can you do that please?

[2015-11-09 09:11] suchitpuri opened #577 "Whats the recommended way run the espte app in production ?"
whats the recommended way to demonize the gulp -p mode and run it in production.

[2015-11-09 12:41] steida commented on #577
Just build app with `gulp build --production` and then plain old `node src/server`.

[2015-11-09 12:41] steida commented on #577
Try it, and then you can send PR to readme ;)

[2015-11-09 22:45] #577 closed

[2015-11-09 22:47] steida opened #578 "Improve server redirect on unauth user"
https://github.com/este/este/blob/master/src/server/frontend/render.js#L34

Url should contain querystring, which can be used for client only auth (Firebase)

[2015-11-10 00:36] steida opened #579 "Figure out why david-dm.org does not work anymore"
https://david-dm.org/este/este

[2015-11-10 01:56] steida opened #580 "Investigate why david-dm.org badge doesn't work"
https://david-dm.org/este/este

[2015-11-10 01:57] #580 closed

[2015-11-10 14:48] Kurtas commented on #545
The problem is that the Este has hardcoded http://localhost:8000/ to make absolute url for fetching.
see https://github.com/este/este/blob/master/src/common/fetch.js#L4

There should be actual server:port which Express uses.

[2015-11-10 20:11] steida commented on #545
This unfortunately must be configured and can't be autodetected, because fetch is supposed to work on React Native, and native app has no notion about server url and port.

So, we need to figure out where to put config, and how to use it. PR welcome :-)

[2015-11-10 21:18] bdart opened #581 "Workflow approach for proxy API call"
I tried to add a new component that shall receive the zipcode from the URL, perform fetchDetails action and than the reducer storage stuff. So that the info is pulled ones from an API and not again and again with each switch back or reload. So far so good. I thought I can start building the `Page.react.js - check // works like a charm and I can log the code from the URL with: `this.props.params.zi

[2015-11-10 21:31] rkoberg commented on #581
It looks like you are getting back HTML (perhaps an Este 404?). Make sure the the fetch endpoint request URL is what you think it is and the server side route exists as you think it does.

[2015-11-11 09:57] louy2 commented on #545
Config in environment variable?

[2015-11-11 14:12] XeeD commented on #545
@louy2 Yes, I suggest passing the config in `process.env` + some default. Usually you have several types of servers, each connected to different API (dev, staging, test, production) so it is best to have the possibility to configure this from the env.

[2015-11-11 14:18] rkoberg commented on #545
In the root of este commit a ```local.conf.example.js``` with all variables that need to be set. Copy that to a .gitignore'd file ```local.conf.js```. Set your environment variables there for local development. For production, there is usually someplace where you can set environment variables. For the fetch issue on the client, and not sure how this works for mobile, use the intitialState that is

[2015-11-11 14:43] XeeD commented on #570
@ondrejbartas could you please implement `redux-simple-router` and share the result?

[2015-11-11 20:55] XeeD opened #583 "Favicon for Este"
We should add a favicon to Este. Besides looking better it will prevent requests for favicon bubbling up into Express.js (and causing 404) which is confusing during development.

@geoRG77 maybe you could provide us with a favicon? :wink:

[2015-11-11 20:57] XeeD commented on #549
1.8.1 solves the problem - it was probably caused by https://github.com/remy/nodemon/issues/710

[2015-11-12 01:58] rkoberg commented on #571
Yes

[2015-11-12 07:57] XeeD commented on #579
It seems it is working to me. Could you specify what is the problem?

[2015-11-12 18:35] ondrejbartas opened #586 "React Helmet"
Hi,

in Este there is `react-document-title` for basic stuff it is enough, but mostly you don't need only title but meta tags as well:

https://github.com/nfl/react-helmet

What do you think about this?

If you say YES I will create PR :dancer:

[2015-11-12 18:36] ondrejbartas commented on #381
#583

[2015-11-12 20:09] srigi commented on #563
I've been through this on my mini stack (dzejes.cz). This really needs some hours poured in.

[2015-11-12 20:12] srigi commented on #381
One between Vimeo & YTube is really nice.

[2015-11-12 20:20] ondrejbartas commented on #381
@srigi have you seen TV Series Mr. Robot  that one you have suggested is similar to bigest corporation _EVIL CORP_ :smile:

[2015-11-12 21:12] grabbou commented on #381
I'd rather make Yeoman-like icon but with Daniel :8ball:

[2015-11-12 23:19] steida commented on #381
@ondrejbartas :-D

[2015-11-12 23:30] steida commented on #586
YES

[2015-11-12 23:32] steida commented on #579
I fixed it already in https://github.com/este/este/commit/f4beaed14fa0d626c7d0214f1a68538969c97d35
New parser was probably guilty.

[2015-11-12 23:32] #579 closed

[2015-11-13 15:45] ondrejbartas opened #588 "Eslint plugin Import"
Hi what do uou think about adding eslint plugin for validating imports?

[2015-11-14 00:07] steida commented on #588
I agree.

[2015-11-14 00:24] steida opened #589 "Update readme"
- [ ] add link to Redux docs instead of What is Flux
- [ ] describe Native stuff
- [ ] explain how to run Este in production (no gulp)
- [ ] fix Android and remove WIP
- [ ] how to create bare Este easily
- [ ] Node 4+ is required once Node 5 is tested

[2015-11-14 00:36] steida commented on #541
It will work or update to react-native 0.15rc

[2015-11-14 02:19] steida commented on #581
I think it's solved.

[2015-11-14 02:19] #581 closed

[2015-11-14 02:23] steida commented on #549
Fixed.

[2015-11-14 02:23] #549 closed

[2015-11-14 02:23] steida commented on #559
Solved.

[2015-11-14 02:23] #559 closed

[2015-11-14 02:26] steida commented on #552
@grabbou Can you send PR please?

[2015-11-14 11:10] grabbou commented on #552
How do you go about naming conventions? AFAIK they favour `jsx`

[2015-11-14 16:06] steida commented on #552
I would stay with current convention as much as possible.

[2015-11-14 21:00] steida opened #590 "Update react-native"
Will be released next week, and native will work again.
- [ ] simplify fetch
- [ ] fix redux
- [ ] todos in code

[2015-11-15 13:34] asvsfs opened #591 "Android Build Issues"
Hi ,

I'm completely new to react-native but i tried to setup a simple app and i was succesful eventhough i had to use react-native start which i couldn't find in the guide , but same method doesn't help with este native , i could succesfuly insatll the app but first i get js bundle error on genymotion so i start development server through react-native start , but then it renders nothing ( also de

[2015-11-15 14:35] steida commented on #591
@grabbou Can you check Android please?

[2015-11-15 14:37] asvsfs commented on #591
I'm using node v5

[2015-11-15 16:24] grabbou commented on #591
I am not targeting Android yet, but I can ask somebody from the office that runs Android to check it out.

[2015-11-15 17:43] michaltakac opened #593 "Image assets"
How you guys use images in components with Este?

When I add `image.png` into `/assets` folder and then add `<img src='/assets/image.png' />` into component, it doesn't load. How should I do this?

[2015-11-15 18:23] steida commented on #593
It's simple express static middleware, check it https://github.com/este/este/blob/1718941b494308bea3fafe717c31880bc9e5add0/src/server/frontend/index.js#L16

[2015-11-15 19:17] michaltakac commented on #593
I've added my image into assets img folder:
`este/assets/img/image.png`

Inside `este/src/browser/app/Header.react.js` component I have:
`<img src={'/assets/img/image.png'} />`

But this doesn't work. What am I doing wrong?

[2015-11-15 19:40] rkoberg commented on #593
The path in este master ```express.static('../assets/img'``` does not work for me. This does work for me:
server/config.js
[code]
server/frontend/index.js
[code]
And then it is:
[code]

[2015-11-15 19:59] michaltakac commented on #593
Thank you @rkoberg that works!

[2015-11-16 12:04] smad opened #596 "How to use css local scope during server rendering"
Sorry for my bad english.

I'm trying to render my page with style (scss) on the server side. But the node server can't find my class.

[code]

[2015-11-16 12:05] steida commented on #596
You don't need css on server - https://github.com/este/este/blob/master/src/browser/auth/Login.react.js#L5

[2015-11-16 12:05] #596 closed

[2015-11-16 13:21] smad commented on #596
OK for the css on server but how avoid this warning with the local scope

![image](https://cloud.githubusercontent.com/assets/582359/11182739/5741ec8a-8c6d-11e5-999b-94a02a95f60b.png)

[2015-11-17 11:02] asvsfs commented on #591
Ok i replaced render function with something simple (App.react.js) and here is what i get in debugger
[code]
Log:

 stack: ReferenceError: process is not defined
    at Object.ReactPerf.measureMethods (http://localhost:8081/index.android.bundle?platform=android&dev=true:77363:4)
    at http://localhost:8081/index.android.bundle?platform=android&dev=true:76641:11
    at requireImpl (http://localhos

[2015-11-17 11:23] asvsfs commented on #591
https://github.com/rackt/redux/pull/526/files

[2015-11-18 00:37] steida opened #597 "Este Plugins"
The idea is having a way to inject various behaviors into Este app. For example, Firebase auth, hoc, and all that stuff. It should be in `common/lib/firebase`. The same for cookie and fetch.

[2015-11-18 04:03] puzzfuzz commented on #593
+1 @rkoberg  big thanks!

[2015-11-18 11:58] steida commented on #593
@rkoberg PR please?

[2015-11-18 14:12] rkoberg commented on #593
OK. Do you want it with the basePath added to src/server/config? Or just correct the path in src/server/frontend/index.js

[2015-11-18 15:46] steida commented on #593
The most simple minimal PR. Do we need basePath anything elsewhere? I don't think so, so fixing paths + some explaining comment is good enough.

[2015-11-18 17:23] rkoberg commented on #593
Hey, should I commit an image and add html for it? ( https://placeholdit.imgix.net/~text?txtsize=6&txt=50%C3%9750&w=50&h=50 or whatever you like )

[2015-11-18 17:55] steida commented on #593
Yes please, add some small image to assets. Thank you!

[2015-11-19 02:57] steida opened #599 "Polyfill Promise only for IE"
I think it's right time to polyfill Promise.
http://caniuse.com/#search=promise

[2015-11-19 07:02] XeeD commented on #599
[code]

Is it as simple as this?

[2015-11-19 10:45] DoubleU23 opened #600 "import/export fails at /src/server/config.js - "Unexpected reserved word""
after running npm install i started gulp...
it seems like i'm missing some parts of the babel setup? is it just me?

thank you in advance.

node -v: v4.2.2 ( i also tried node 5.0)
npm -v: 3.4.0
[code]

my babel packages:
[code]

[2015-11-19 12:21] #588 closed

[2015-11-19 12:21] #586 closed

[2015-11-19 12:22] ondrejbartas commented on #571
#592

[2015-11-19 13:15] XeeD opened #601 "Better error handling for fetch"
@grabbou mentioned this in #592

And we need tests for all the 3 scenarios.

[2015-11-19 13:17] XeeD commented on #600
@DoubleU23 I confirm that I have the same problem.

[2015-11-19 13:23] XeeD commented on #600
Solved by #602

[2015-11-19 13:35] XeeD commented on #600
@DoubleU23 Should be solved now. Plase reopen the issue if the problem persists.

Thanks for reporting it!

[2015-11-19 13:36] DoubleU23 commented on #600
thank you very much! this fixed it for me!

i just don't get WHY it wasn't neccessary 2weeks ago (on another machine though)
maybe babel changed some behaviours?

[2015-11-19 13:39] #600 closed

[2015-11-19 13:45] XeeD commented on #600
@DoubleU23 This commit broke it today: https://github.com/este/este/commit/e45431195c84b87d2c95f2ef3224fe92b3cad558#diff-852bb59fffeac067fe0e2cbf7646bc73

CircleCI build passed because the file is executed only when running the server and that does not happen in the CI.

[2015-11-19 13:46] DoubleU23 commented on #600
thx for additional information.
keep on doing the good work! ;)

[2015-11-19 14:03] steida commented on #599
I would rather use native Promise where available. There are some trade-offs, need to rethink it.

[2015-11-19 14:05] XeeD commented on #599
I spent hours and hours because I used native Promise instead of Bluebird. The basic error reporting is very bad, at least in Chrome.

[2015-11-19 14:13] steida commented on #599
That's good to know. Also, we want to have the same implementation everywhere to ensure the same behavior. And https://github.com/angular/angular.js/issues/6697#issuecomment-42771111 and https://github.com/petkaantonov/bluebird/issues/217

Overriding globals seems to be weird for me, so, I suggest to use plain old `import Promise`, because that's just works.

[2015-11-19 14:13] #599 closed

[2015-11-19 14:19] steida commented on #593
Fixed in #598. Thank you!

[2015-11-19 14:19] #593 closed

[2015-11-19 17:01] DoubleU23 commented on #588
"cannot resolve module path" for every(!) relative import path

[2015-11-20 08:49] #571 closed

[2015-11-20 08:51] XeeD commented on #570
#587

[2015-11-21 21:03] XeeD opened #605 "Upgrade to ESLint 1.10.1"
ESLint issue: https://github.com/eslint/eslint/issues/4508

Problem is with calling new with parens following

[code]

[2015-11-21 21:25] steida commented on #605
Maybe we should use explicit syntax.

[2015-11-21 21:26] XeeD commented on #605
Yeah, but it looks like regression in ESLint, let's wait a bit.

[2015-11-21 22:03] steida opened #606 "Replace all .then with await async"
I suppose beginners can skip promises and use await async directly.

[2015-11-22 00:06] steida opened #607 "remove unnecessary check"
https://github.com/este/este/blob/c1cdc356e3e45ca47395b84bc40298e01124328b/src/browser/main.js#L15

[2015-11-22 01:02] steida opened #608 "Publish injectDependencies to npm"
I think it's a good pattern deserving to be published.

[2015-11-22 16:42] grabbou commented on #608
Thanks for your kind words :)

[2015-11-23 01:19] steida opened #609 "Add Eslint rules for src/native"
I think we can copy past https://github.com/facebook/react-native/blob/master/.eslintrc

[2015-11-23 01:20] steida commented on #609
@grabbou wdyt?

[2015-11-23 13:24] grabbou commented on #609
What's the deal with copying-pasting? We can use our own, the only thing we can copy is the global section imo :)

[2015-11-24 01:24] steida commented on #590
So it's released, so we can update Este and have both browser and native in sync. #goodTimes

[2015-11-24 01:53] jhartzell opened #610 "Ubuntu 14.04 Strange NPM issues during npm install"
I spent several hours today trying to figure out why `npm install` continuously failed while trying to configure the stack to run on Ubuntu 14.04. I imagine people more seasoned with large npm based projects on Linux will already know this.

I had created a very small micro server via DigitalOcean.com, the specs were: 512MB Ram and 1 CPU.. I just needed a very basic server environment.

I started

[2015-11-24 02:06] tristanz opened #611 "Documentation on folder structure"
Is there anywhere that explains the logic of the current folder structure? I find it very confusing, but perhaps I just don't see the logic. I get that things are organized around "features" but that concept is not defined well and the folder structure doesn't map to routes easily, which is the easiest way to think about and navigate a project.

I had been previously working with this pattern: htt

[2015-11-24 02:06] steida commented on #611
cc @grabbou @XeeD

[2015-11-24 02:08] #610 closed

[2015-11-24 03:40] steida opened #612 "Universal error reporting"
We need universal client (browser/native) and server error reporting, with last 10 flux actions and actual app state. Discuss.

[2015-11-24 03:44] steida opened #613 "Offline first app needs special url to purge client state app"
I'm using https://github.com/michaelcontento/redux-storage a lot. It's great. App state belongs to client storage, for sure. But, there is potential horror case when migration or whatever cause client show stopper error. Then, we need escape path. For browser, special url to reset app, for native reinstall?

[2015-11-25 00:06] ddeath opened #614 "Mistake in webpack configuration"
I guess that on [L6 in webpack/build.js](https://github.com/este/este/blob/master/webpack/build.js#L6) should be:

const config = makeWebpackConfig(**process.env.NODE_ENV === 'development'**);

instead of:

const config = makeWebpackConfig(**false**);

[2015-11-25 00:15] steida commented on #614
I don't think so. It's called only for production https://github.com/este/este/blob/c1cdc356e3e45ca47395b84bc40298e01124328b/gulpfile.babel.js#L73

[2015-11-25 00:15] #614 closed

[2015-11-25 23:16] steida commented on #590
https://github.com/facebook/react-native/issues/2985

[2015-11-27 00:35] steida opened #616 "Use shortid instead of getRandomString"
https://github.com/dylang/shortid

Move new todo creation from store to action. Remember side effects belong to actions. Stores must be pure. shortid will be service. createTodo should me pure method on Todo.

[2015-11-27 04:06] louy2 opened #617 "Guide To Este"
This issue is to track the work of a "Guide To Este". This guide would assume knowledge of basic concepts from React, Flux and JavaScript, but adding explanations of them gradually.

- [ ] directory and architectural purpose
  - [x] overview of the structure
- [ ] add a new module
  - [x] create a page
  - [ ] adding an action to the page
- [ ] internationalization (i10n)
- [ ] app startup sequenc

[2015-11-27 05:27] louy2 commented on #617
WIP: https://github.com/este/este/wiki/Overview-Of-Este-Architecture

[2015-11-27 07:42] louy2 commented on #617
WIP: https://github.com/este/este/wiki/Creating-A-Page

[2015-11-27 08:45] louy2 opened #618 "Warning of deprecated sourceMappingURL pragma syntax"
Developing in firefox, console is filled with the following warning:
[code]

[2015-11-27 09:08] louy2 opened #619 "Webpack hot reloading server not using localhost"
Developing on Firefox, console seeing:
[code]

Translation:
[code]

The IP address in report is one of my inner network IP addresses while I am using `127.0.0.1:8000` to access the develop server, thus seen as from different origin by browser.

[2015-11-27 09:09] louy2 commented on #619
And obviously hot reloading is not working.

[2015-11-27 13:09] louy2 commented on #611
Have a look at my WIP in wiki. The progress is tracked at #617 , feel free to post suggestions and ask questions there.

[2015-11-27 13:15] louy2 commented on #300
Still no such tests. Consider reopen?

[2015-11-27 13:21] louy2 opened #621 "Login Example not working"
Getting:
[code]

Even if I've filled the email field, with a fake but format compliant email.

[2015-11-27 18:13] tapas4java opened #622 "Failing when deploying on Dokku"
When I am trying to push my project to Doku repo, It is trying to build the app but getting below exception:

[code]

[2015-11-27 20:01] steida commented on #621
It works for me. Sorry, I can't reproduct your issue.

[2015-11-27 20:01] #621 closed

[2015-11-27 20:03] steida commented on #619
Yes, I tested it and it's broken. Thank you for reporting.

[2015-11-27 20:12] #619 closed

[2015-11-27 20:13] steida commented on #618
Confirmed. But I don't know how to fix it. Feel free to investigate it and send PR. Thank you!

[2015-11-27 20:23] steida commented on #611
Thank you @louy2!

[2015-11-27 20:29] steida commented on #617
Thank you very much @louy2!

[2015-11-28 00:14] steida opened #623 "Add redux-form example"
https://github.com/erikras/redux-form

[2015-11-28 04:07] steida commented on #563
http://jamesknelson.com/the-six-things-you-need-to-know-about-babel-6/

[2015-11-28 04:51] steida commented on #564
Should be solved with #623.

[2015-11-28 04:51] #564 closed

[2015-11-28 05:09] steida commented on #541
https://github.com/facebook/react-native/issues/4022

[2015-11-29 09:05] ronag opened #624 "babel uglify"
https://github.com/RReverser/babel-plugin-uglify

This could potentially speed up the uglify part of the production compilation.

Haven't tried it myself yet.

[2015-11-29 23:32] steida opened #625 "mention redux-devtools-extension in readme"
https://github.com/zalmoxisus/redux-devtools-extension

- Simple implementation (only 1 line of code without importing anything!).
- Having DevTools even in production without any drawbacks.
- Keeping the DevTools up to date (Chrome extension is updated automatically).
- Having Redux DevTools in a page without window (Chrome extensions’ background page).
- Using DevTools remotely for Chrome Mobile

[2015-11-29 23:48] ronag opened #626 "Ramda vs Immutable"
Mostly just a comment. We've switched in our este based project from ImmutableJS to Ramda. We've had issue both from a performance perspective and usage perspective with a lot of going back and forth between POJO and Immutable. We've found that using Ramda, which provides pretty much the same functionality as ImmutableJS, solves most of these issues.

`Map.setIn` => `R.assocPath`
`Map.getIn` => `R

[2015-11-30 00:52] steida commented on #626
I know Ramda. It's brilliant. But it sucks from aforementioned reasons. It's just fancy Haskell like function composition, but without structure sharing.

[2015-11-30 02:21] steida opened #627 "async configureStore"
Because offline first apps need to fetch data from async local storage abstractions like redux-storage.

[2015-11-30 07:19] ronag commented on #626
Actually !== works just fine. Not sure why you would think it doesn't work?

We have a more of a socket based real-time app with a lot of data going back and forth. So basically need to constantly got back and forth between POJO and Immutable and it totally trashes the GC.

[2015-11-30 08:18] ronag commented on #626
Another reason we switched is that we prefer to have our React components as regular dumb components without any "magic" from Immutable. Spread operators work, PropTypes work and also easier for new members to the project to get started with the React component development.

[2015-11-30 09:53] XeeD commented on #626
@ronag I think that all these problems can be solved by using `Record`s and `reselect` (or something similar). I do not use any methods from Immutable in Components and still enjoy the power of the library in the reducers and selectors. Plus there is the performance benefit (pure everything).

[2015-11-30 09:56] smashercosmo commented on #626
The only problem with Immutable is integration with third-party components. Records make our life easier, but Lists still need to be converted to plain arrays and back.

[2015-11-30 11:34] louy2 commented on #623
I am currently trying to get redux-form to work in este. Will update progress here.

[2015-11-30 12:16] ronag commented on #626
@Xeed: Unfortunately, no they can't. Still need to convert back and forth and the usability still isn't there.

You have the same pure everything performance benefit with e.g. Ramda.

The only advantage Immutable have over e.g. Ramda (as far as I know) is that operations on the Immutable structures themselves is more efficient.

[2015-11-30 12:22] louy2 commented on #623
Having a strange problem where the first time I focus a text input after `redux-form/FOCUS`, `redux-form/DESTROY` is dispatched as well.

[2015-11-30 13:02] ondrejbartas opened #629 "Do not throw error on failed fetchComponentDataAsync"
I have found out that Este is throwing error on server side when any of `fetchActions` return error

My point is that application should know what to do with action which ends up with `_ERROR` action.

For example I am calling api for some data on client side, I will get error so I will display error message so client know something went wrong.

On server side I will get same error and instead of

[2015-11-30 13:35] louy2 commented on #623
@erikras says maybe part of the state is used as `key` prop on something.

[2015-11-30 14:38] XeeD commented on #626
@ronag Destructuring works just fine with Records.
Reselect allows you to pick and convert the objects before they enter the component.

I speak from our experience, we have about 20 developers working with Este based stacks and we do not feel any pain working with Immutable, in fact it quite the opposite.

[2015-11-30 14:41] XeeD commented on #626
Also, we use [react-immutable-proptypes](https://www.npmjs.com/package/react-immutable-proptypes) and it helps a lot, you can even specify shapes for Maps, values of Lists etc.

[2015-11-30 14:58] rkoberg commented on #626
This thread has been really helpful. I would love to hear more about different modules you have found useful with este. Perhaps thread for each competing set of modules? Or perhaps this is not for github?

[2015-11-30 15:05] ronag commented on #626
@XeeD: Hm, yes, you are correct about destructing. However, we still need to do `<Foo {...foo.toObject}/>`

Yes, we did this as well.

Well, we did start out with Immutable and yes we used react-immutable-proptypes. We couldn't get it to work technically due to performance issues. After switching to Ramda we noticed that we could remove A LOT of workaround stuff (immutable-proptypes, toJS, fromJS

[2015-11-30 15:22] XeeD commented on #626
@ronag Thanks for sharing! Our apps are not very large in terms of data that they need to show, there are just lots of screens. Maybe I would speak differently if we used it for different kind of app.

Anyway, I will take a look into Ramda, thanks for recommending it!

[2015-11-30 15:25] XeeD commented on #626
@rkoberg :+1: I love to hear stories from other people using similar stack as we do, it helps broadens the knowledge. It is always good to know the alternatives and what works for other people.

What do you think @steida, maybe a few Wiki pages might come out of these discussions?

[2015-11-30 23:18] steida commented on #626
As I said, Ramda is beautiful, but it operates on native Arrays and Objects without structural sharing. It's hard to imagine how it can leverage shouldComponentUpdate. Also, using native objects it's easy to mutate them accidentally, and sooner or later some developer will do that.

Regarding to performance issues you mentioned, I can only imagine you are using really huge datasets with dozens tho

[2015-11-30 23:18] steida commented on #626
As for wiki pages, we already have some, check it and feel free to update or reorganize :-)

[2015-11-30 23:26] steida commented on #626
Btw, as far as I know, there is internal debate in Facebook whether React should be immutable by default, so let's wait. But, if shouldComponentUpdate somehow magically works, then we can reconsider it. We can freeze current app state frame anyway. Closing for now, but feel free to reopen or discuss.

[2015-11-30 23:36] steida commented on #623
For the record, it's blocked because some React Native issue https://github.com/erikras/redux-form/issues/343#issuecomment-160352729

[2015-12-01 00:37] steida commented on #629
It's intented. I added it because from my perpective middleware swallows promises. I suppose app should handle all unhandled rejections. Some rejections are context specific, like validation, and should be handled in place, eg. in action. Another rejections are app specific, like no connection or http error status etc., and these rejections should be handled globally, probably in app.react. Does i

[2015-12-01 00:58] steida opened #631 "Update React Native example"
- [x] last React Native
- [ ] navigator usage from Liwely
- [ ] add LinkButton
- [ ] redux-recycle aftert logout

[2015-12-01 02:54] steida commented on #629
http://bluebirdjs.com/docs/api/error-management-configuration.html#global-rejection-events

[2015-12-01 04:08] steida commented on #608
Will you publish it?

[2015-12-01 08:58] grabbou commented on #608
Yep, just didn't have enough time recently, but that's on my list.

[2015-12-01 09:08] grabbou commented on #629
Well, I do not handle global errors. In every catch I throw original error and dispatch it through the app. Then reducers can update their state to reflect failure (whether it's network error type or request specific - in second case only eg list reducer will update its error property so we display nice message to user). I only use global handler for some debugging, that's all.

[2015-12-01 10:02] ronag commented on #626
Why is this? I seem to be missing something since both of you seem to point this out.

Consider:

[code]

[2015-12-01 11:50] ondrejbartas commented on #629
@grabbou promise middleware works fine, it does what it intends to do.
If promise fails then it dispatch XXX_ERROR action which should process failed outcome.

[2015-12-01 20:03] steida commented on #626
assocPath Object - Makes a shallow clone of an object, setting or overriding the nodes required to create the given path, and placing the specific value at the tail end of that path. Note that this copies and flattens prototype properties onto the new object as well. All non-primitive properties are copied by reference.

As far I understand that, Ramda makes plain shallow clones, while immutable.j

[2015-12-01 20:46] ronag commented on #626
I would say that in general Immutable will have better performance in most applications. However, at the same time I would say that in my opinion Ramda brings more simplicity and easier use. Also, there is the saying "premature optimisation is the root of all evil".

[2015-12-01 20:48] ondrejbartas commented on #625
nice :+1:

[2015-12-02 07:41] ondrejbartas opened #632 "Use .env for setup environment variables"
Hi,

i just found this https://github.com/motdotla/dotenv package and I think this can be grat think to be directly in este source code.

Please let me know if you want PR.

[2015-12-02 13:23] sandydc opened #633 "store.dispatch(action) returns undefined with redux-promise-middleware 2.2.4"
Hi,

It seems that with the last version of redux-promise-middleware (2.2.4) the function store.dispatch(action) returns undefined.
I don't know why but it throws errors when refreshing "Todos" page and when logging on "Me" page.

[2015-12-02 15:07] gregory90 commented on #633
it also happens with 2.1.1 which is in current este, but works in 2.0.0

[2015-12-02 15:37] sandydc commented on #633
It works in 2.2.3

[2015-12-02 16:12] steida commented on #633
Thank you for info. I will take a look today.

[2015-12-02 21:01] grabbou opened #634 "Prefer storing `statusbar` in app state"
So we can manipulate it with actions.

Then, add to top-most component:

[code]

Any objections / +1 / -1 ?

Handling that in `SideMenu.react.js` is quite weird and could be improved so that we can manipulate statusbar from within other components as well :)

[2015-12-02 23:41] steida commented on #634
+1

[2015-12-03 12:36] tomatau commented on #633
What do you expect from the return value of store.dispatch and how is it used in a way that breaks your implementation?

Originally the redux-promise-middleware was retuning a promise which went against the API of store.dispatch as described in redux -- where it should be returning the dispatched action!

I'm hoping to change this soon, to return the originally dispatched action containing a promi

[2015-12-03 13:53] sandydc commented on #633
I expect a promise that is always fullfilled (when the provided promise is fullfilled or rejected) and returns the action that may have an error property as described in Flux Standard Action.

I can use it like that :

[code]

[2015-12-03 15:41] tomatau commented on #633
The API for store.dispatch is to expect an action object, not a promise object.

http://redux.js.org/docs/api/Store.html#dispatch

So you should be changing this code anyway, it might be more reliable to perform the error logging in the action creator that creates the promise itself.

I'll be making a PR so that redux-promise-middleware returns the dispatched action as documented when I'm free, bu

[2015-12-03 17:13] tomatau commented on #633
https://github.com/pburtchaell/redux-promise-middleware/pull/38

[2015-12-03 17:18] sandydc commented on #633
OK. I Agree that respecting the Redux API for store.dispatch is the best solution.

[2015-12-03 21:04] steida commented on #633
cc @grabbou

[2015-12-04 01:23] #591 closed

[2015-12-04 13:10] grabbou commented on #633
I have the same case I am not sure if returning action is a good move though. Even `redux-thunk` by gaeron returns promise, so you can write stuff like:
[code]
or
[code]
quite easily.

[2015-12-04 13:32] tomatau commented on #633
Redux-thunk doesn't return a promise -- it returns the action!
https://github.com/gaearon/redux-thunk/blob/master/src/index.js#L4

You can easily do:

[code]

[2015-12-04 13:39] grabbou commented on #633
Yeah, my bad, I meant https://github.com/acdlite/redux-promise/blob/master/src/__tests__/promiseMiddleware-test.js#L30-L33

[2015-12-04 19:55] tomatau commented on #633
I can understand your point of view: working with a promise directly would be more convenient for some use cases. However, the docs are not explicit about how "flexible" this API for `store.dispatch` is, and I think it's most appropriate to respect the intended API. I understand that some other middleware may deviate from this API, but I think it would be better if the ecosystem was more consisten

[2015-12-04 20:17] pburtchaell commented on #633
So I released the current implementation (which returns the action object and not the promise) by @tomatau as version 2.3.0. I have opened an issue on https://github.com/pburtchaell/redux-promise-middleware/issues/39 for anyone who wants to continue the discussion of returning the promise v. returning the action.

[2015-12-05 01:29] steida commented on #623
Note to self, it doesn't even work in browser. Investigate.

[2015-12-05 17:10] rkoberg opened #635 "write window.__INITIAL_STATE__ on server from src/browser/app/App.react.js"
That way you can use any data gathered in componentWillMount. What do you think?

[2015-12-05 17:28] rkoberg commented on #635
After trying it, it does not seem to work. Can't write a script element without spans getting injected?? Closing...

[2015-12-05 17:28] #635 closed

[2015-12-05 17:39] steida commented on #635
I don't see any use case for gathered data. Btw, feel free to close also another issue ;-)

[2015-12-05 22:40] T-Wing opened #636 "Helmet.rewind() returns undefined with concurrent requests"
Code works fine for me as long as there is only one request at the same time.

When benchmarking localhost:8000 with apache benchmark command line tool with concurrent requests a TypeError is sometimes thrown, because Helmet.rewind() from src/server/frontend/render.js returns undefined.

Did the benchmarking also with https://github.com/mattdennewitz/react-helmet-example, no problems occured there

[2015-12-05 23:59] steida commented on #636
Thank you for report. Can you please try call `rewind` and store result immediately after `const appHtml = getAppHtml(store, renderProps);`?  https://github.com/este/este/blob/e59dd85bfdc0d6e718094d45d35792f9a669a597/src/server/frontend/render.js#L82

[2015-12-06 06:11] steida commented on #626
I see one compelling reason for Ramda - no casting. Immutable Record is nice and all, but casting effectively makes live app state update from localStorage impossible. The revive is good for initial state only. And without immutable Record, we have to use ugly getters everywhere. So, comparing various pros and cons, Ramda with dev freeze seems to be more frictionless and practical.

[2015-12-06 10:10] T-Wing commented on #636
That did it, created PR. Thanks for the fast answer!

[2015-12-06 17:55] steida commented on #636
I thank you for nice and important issue, and PR of course! :-)

[2015-12-06 17:55] #636 closed

[2015-12-07 01:26] steida opened #638 "Todos reducer should be a map instead of list"
In distributed systems lists doesn't make sense. Refactor it to map. For ordered views, use reselect.

https://github.com/este/este/blob/f1d91b115a592fbddf5cf03e941056816f0126bf/src/common/todos/reducer.js#L7

[2015-12-07 01:36] steida opened #639 "Remove stateToJS"
Use plain `JSON.parse(JSON.stringify(state))`.

https://github.com/facebook/immutable-js/#converts-back-to-raw-javascript-objects

[2015-12-07 04:07] steida opened #640 "Add src/common .eslintrc"
Must define lowest common denominator for browser/node/native environment. No customs deps, because common is shared across platform. cc @grabbou

http://eslint.org/docs/user-guide/configuring.html#specifying-environment

[2015-12-07 04:33] steida commented on #640
[code]

[2015-12-07 05:54] #640 closed

[2015-12-07 17:13] panayi commented on #617
I'm wondering if besides a `server` folder for holding server rendering stuff (and the api), the `browser/` - `common/` separation is needed. What if everything else is in feature folders:

src/
-- auth/
-- chat/
-- ...
-- server/

The code for each module-feature is in a single folder. If something is shared among multiple modules and/or the server, then add an adittional `lib/` (or `shared` fold

[2015-12-07 17:20] AugustinLF commented on #617
It used to be like that, but with the idea of "universal apps" (browser and mobile), you might want to share some part of the redux logic between different platforms. However, some other redux related things might be specific to one of the environment.

Here is a [link](https://github.com/este/este/tree/v2) to the "old repo".

[2015-12-07 18:02] #639 closed

[2015-12-07 18:12] panayi commented on #617
OK I see what you mean. So the current structure looks like:

                   src/
                     |
                     |
-----------------  ---------------
|                    |                 |
browser/  common/     native/
|                    |                 |
auth/           auth/         auth/

A feature-based structure would be:

                   src/
                     |

[2015-12-07 18:25] panayi commented on #617
OK I see what you mean. So the current structure looks like:

[code]

A feature-based structure would be:

[code]

Which keeps the separation of features.

[2015-12-07 18:51] panayi commented on #617
Perhaps the issue I have is that server/ is a sibling folder with browser/, common/ and client/. It seems that server should be at a different level with the rest. You won't touch server/ regularly: its code for glueing stuff from the other folders and rendering on the server. Most, if not all, of the code inside server/ could be imported from an external package (if it was available).

I will try

[2015-12-07 20:52] rkoberg commented on #617
This makes more sense to me as well. However I would not use "modules", rather "plugins" (since we have npm modules). Each "plugin" contains a config file that provides routes, actions, and reducers (preferably by listening to some start event).

[2015-12-07 22:49] tkafka opened #642 "Opening sample /todos url yields error"
Reproduce:

- check out este
- run with `gulp`
- navigate to `http://localhost:8000/todos` directly (instead of opening `http://localhost:8000` and clicking todos`)

Error:

[code]

[2015-12-08 00:39] steida commented on #642
It works for me. Try `npm update`

[2015-12-08 05:01] louy2 commented on #617
What kind of plugin has its own routes?

[2015-12-08 08:19] panayi commented on #617
I think `module` describes it better. Each module is a `React.Component`, plus:
* If it's a smart component: actions + action creators + reducers.
* If it represents a page: route(s).
* Styling and other static assets.
* Other helpers such as data structures, schemas, validation logic, etc.

[2015-12-08 09:40] louy2 commented on #617
@panayi
Sounds like [erikras/react-redux-universal-hot-example](https://github.com/erikras/react-redux-universal-hot-example) would better suit your expectations, albeit not the same. The structure you propose sounds reasonable, but such a big change may be better created as a new project. Or at least a new issue.

[2015-12-08 10:00] grabbou commented on #640
I think since they are all Javascript environments, that's valid.

[2015-12-08 10:01] grabbou commented on #642
Open up network section in Chrome DevTools and check out the response you have. Also, there's no `http://localhost:8000/todos` afaik since the correct URL is `api/v1/todos` (https://github.com/este/este/blob/master/src/server/main.js#L9). You are probably receiving non json response (I'd say it's a react page) hence that error.

[2015-12-08 12:03] panayi commented on #617
@louy2 totally understand and thanks for the link. I'm modifying este and might take ideas from that.

I will open an issue if I have something more solid.

[2015-12-08 23:10] steida commented on #642
Closing as non reproducible.

[2015-12-08 23:10] #642 closed

[2015-12-09 00:47] #638 closed

[2015-12-09 00:47] #616 closed

[2015-12-09 00:49] steida commented on #300
@louy2 So I updated todo actions with side effects, so now there is something to test.

[2015-12-09 02:19] steida commented on #569
But as I just tested, `npm install` is still super slow comparing to npm2 :(

[2015-12-10 00:31] rkoberg opened #643 "immutable pure render"
What about using https://github.com/jurassix/react-immutable-render-mixin/blob/master/shallowEqualImmutable.js#L6
using ```Immutable.is``` to check for equality.  I forked this to be compatible with https://github.com/gaearon/react-pure-render at https://github.com/rkoberg/react-immutable-render-mixin

I am seeing too many updates/renders for records that have nested records. Perhaps this module c

[2015-12-10 01:26] steida commented on #643
It's updated / rendered only when nested record has been changed. If something is rendered and should not be, the only reason is your are passing generic prop, aka The Law of Demeter.

[2015-12-10 01:58] rkoberg commented on #643
Maybe I am not dealing with this correctly. Say I have a users state set up for the following records similar to the below. The Image object is nested to deep to get checked and will only have an obj1 === obj2 comparison and it will always be false:
[code]

[2015-12-10 03:16] steida commented on #643
Check app state, which consists of various records. You are passing app state through app props from top to bottom, don't you?

[2015-12-10 03:16] #643 closed

[2015-12-10 03:31] steida commented on #608
I suppose we should remove "dynamic" dependencies. Validate should be able to use current app state.

[2015-12-10 03:50] steida commented on #626
I think Ramda and immutable.js should be merged somehow. Native [] and {} should be allowed everywhere, with freeze for dev ofc. Ramda should use immutable persistent data structures inside for cheap manipulations. Etc.

[2015-12-10 09:48] grabbou commented on #626
Depends what you mean by cheap and whether it matters at all or not. Having written few GA recently with Immutable.js, I've found falling back to native data structures & using some immutable helpers to be a couple of times faster. (No casting was involved at all, just concatenation and pushes on arrays)

[2015-12-11 07:28] louy2 commented on #626
Since I saw structure sharing... https://github.com/dustingetz/react-cursor ?

[2015-12-11 08:40] joashc commented on #626
One problem with just using `Object.freeze` on the state atom is that it's only a shallow freeze- child properties are freely mutable.

Looking at the code, it seems like seamless-immutable recursively calls `Object.freeze` on all object properties, which is quite nice, but there's no structural sharing going on under the hood. I haven't tried this, but it seems like using Ramda to `assoc` a prope

[2015-12-11 15:32] steida commented on #626
@joashc: Great comment, thank you!

[2015-12-12 00:01] jvorcak commented on #623
I'm new to este and I don't yet fully understand how things are working, but this problem is gone for me in a browser after cherrypicking a fix from https://github.com/este/este/pull/630

[2015-12-13 00:12] messa opened #644 "Page Not Found returns HTTP status code 200 instead of 404"
[code]

Expected: `< HTTP/1.1 404 Not Found`

Some solution I have found - but I would not be surprised if you don't like it because of relying on specific route structure:

[code]

[2015-12-13 01:01] steida commented on #626
So, after long rethinkning, I decided Este should stay with immutable.js. Reasons:
- performance
- stability
- Records are invaluable as they enforce known keys

Ramda is beautiful, but the Elm is that next level we need for haskellish (not only) feel.

[2015-12-13 02:51] steida commented on #617
@panayi The reason why Este is structured as platform specific folders is user focus. You generally doesn't work simultaneously on native, browser, or server.

[2015-12-13 07:36] steida opened #645 "Pending async actions"
Revived from old Este.

https://gist.github.com/steida/b453d9767735fe52770b

[2015-12-14 13:40] steida opened #646 "config pattern"
For endpoints, as reducer.

[2015-12-14 14:46] Maximilianos opened #647 "enhancement: Add let's encrypt"
It would be cool to see where/how let's encrypt's automatic tls generation could be incoorporated in the project. I came across this library: https://github.com/Daplie/node-letsencrypt and thought it may be an interesting thing to try implementing in este

[2015-12-14 15:24] #646 closed

[2015-12-14 20:13] steida commented on #647
+1

[2015-12-14 21:14] jdart opened #648 "How to pronounce este?"
Silly question, how do you pronounce este?

[2015-12-15 01:34] AlesJiranek commented on #648
https://gitter.im/este/este?at=558bf4108762506301761088

[2015-12-15 15:18] jdart commented on #648
Link to google translate that will read it:

https://translate.google.com/?tl=zh#cs/pl/E%C5%A1te

I would approximate it to Ech (like sESSion) Te (like TElephone)

[2015-12-15 15:18] #648 closed

[2015-12-18 02:45] jvorcak opened #649 "Server-rendering autoprefixer issue"
If you install for instance material-ui and use some of its components you experience an issue with autoprefixer.

`(client) ;padding-right:24px;" data-reactid=".qlz`
`(server) ;padding-right:24px;-webkit-transition:a`

I found out that global navigator.userAgent needs to be set up for server side rendering. See
https://github.com/callemall/material-ui/pull/2172#issuecomment-157404901

[2015-12-18 02:53] jvorcak commented on #649
Using `GLOBALS` sounds kind of scary to me, feel free to suggest a different solution if you also think it's not correct, I'll be happy to modify a pull request. I used this just to actually start with something.

[2015-12-18 07:23] steida commented on #649
It's scary, but it should be save doing just once before server side rendering here: https://github.com/este/este/blob/master/src/server/frontend/render.js#L82

[2015-12-18 07:23] #649 closed

[2015-12-23 12:26] thr0w opened #651 "Can't install bufferutil"
Was reported in https://github.com/websockets/bufferutil/issues/38

I tried:
- chmod on `npm config get prefix` to my user
- rm -Rf ~/.node-gyp

[code]