[2013-02-20 09:26] hleumas opened #1 "Rename gruntfile to Gruntfile"
On my system, grunt complains it is unable to find valid gruntfile. Renaming it to the uppercase version fixes the issue.

[2013-02-20 20:10] #1 closed, assigned to nobody

[2013-03-24 20:07] jakub-stejskal opened #3 "Installation fails - error while extracting Closure archive"
Installation of Este on Ubuntu failed during extracting the Closure ZIP archive.

See [installation log](https://gist.github.com/jakub-stejskal/5233232)

[2013-03-26 21:07] #3 closed, assigned to nobody

[2013-07-03 05:52] rdpanek opened #6 "package.json"
$ git pull <master>
$ npm install

[code]

[2013-07-03 06:02] #6 closed, assigned to steida

[2013-08-10 19:17] ghost opened #8 "Launch error >> Error: spawn ENOENT"
When I run grunt command, everything finishes at this error. There are few last lines:

Running "esteWatch" task

I have Win7, java, python2 and last nodejs installed..

[2013-08-12 05:29] #8 closed, assigned to nobody

[2013-11-29 03:49] nemophrost opened #9 "bower install failing"
cloned repo and ran npm install then bower install and got the following:

$ bower install
bower cached        git://github.com/daneden/animate.css.git#3.0.0
bower validate      3.0.0 against git://github.com/daneden/animate.css.git#*
bower cached        http://dl.google.com/closure-compiler/compiler-latest.zip#e-tag:3e27c
bower validate      e-tag:3e27c against http://dl.google.com/closure-compil

[2013-11-29 09:49] #9 closed, assigned to nobody

[2014-01-28 20:28] solcik opened #11 "NodeJS version"
Is there specific version of nodejs needed?
I believe, that I have all in place - nodejs, java, python, but when I run npm install after cloning, this error appear and after this a lot of them.

C:\Dropbox\8#projects\este\este-app\node_modules\grunt-este\node_modules\jsdom\node_modules\contextify>node "C:\tools\nodejs\node_modules\npm\bin\node-gyp-bin\....\node_modules\node-gyp\bin\node-gyp.js" re

[2014-02-07 11:52] #11 closed, assigned to nobody

[2014-03-06 06:35] Belsi opened #12 "Cesta k deps.js na tvrdo"
V server/app/index.coffee je na tvrdo
require '../../client/deps.js'
a tedy při přesunu složky client applikace zkolabuje.
Nebyl jsem si jist, zda je to bug, ale jelikož zbytek se nastavuje v gruntu jednou a dal používá tato proměnná, předpokládám, že ano.

[2014-03-11 23:37] #12 closed, assigned to nobody

[2014-04-20 15:12] LeZuse opened #17 "Coffee files missing from gulp config"
`server/app/*.coffee` files are not included in gulp coffee paths. This breaks readme first run instructions.

[2014-04-20 19:57] #17 closed, assigned to nobody

[2014-05-04 17:59] tomByrer opened #18 "Consider Styl for CSS?"
Seems to be neat, just starting to play with it.  Don't be deceived by low PR on the Styl repo; Rework is more active, & there are active plugins.  (visionmedia is huge into modularizing)

---

BTW, the gulpfile.coffee is ingenious; makes CS look easier to use than plain JS, & turns gulpfile into a pseudo grunfile.json!

[2014-05-05 02:20] #18 closed, assigned to nobody

[2014-06-04 08:21] horaklukas opened #19 "Dist script localization"
How este v6 solves localization of scripts? At previous version there were `extractMessages` task and support at `build` task, but there isnt something like that now (or I overlooked it).

[2014-08-06 15:26] martinkadlec0 opened #21 "spawn ENOENT when building for production"
I'm running Ubuntu 14.04.

I followed the installation instructions and all went well without an error including building and running development version of the app. However, when I try to build for production (Tried all of these: gulp -p | gulp build -p | gulp build --production) I get an spawn ENOENT error, full output:

[code]

Any ideas what am I doing wrong?

[2014-08-06 17:04] #21 closed, assigned to nobody

[2014-08-31 21:09] mCzolko opened #22 "Error: cannot create mounted component"
https://github.com/steida/este/blob/master/app/server/js/frontpage.coffee#L20
On line 20 you are creating app component `@app.component()`. After this is in DIC already created (app) component. After refresh I get this error. Because you are trying to do `@app.component()` on created component. Its more warning then serious issue, but annoying. Personally I'm using hack: http://upl.io/v4sctg Im pu

[2014-09-04 01:03] #22 closed, assigned to nobody

[2014-10-17 22:28] andersryanc opened #23 "Closure error during gulp task"
[code]

[2014-10-18 01:11] #23 closed, assigned to nobody

[2014-10-28 22:15] AlesJiranek opened #26 "Bad type annotation Warning when trying to build with gulp -p"
Hello,

I have problem when I try to build este in production mode. I clonned your repository and tried to build it in production mode gulp -p but it shows me a few warnings in closure-library. I'm I doing something wrong? I tried to clone your todoMVC and build it in production mode and it shows me same warnings.

[code]

[2014-10-29 08:33] #26 closed, assigned to nobody

[2014-11-05 23:41] #19 closed, assigned to nobody

[2014-12-17 19:04] reinhard opened #27 "Closure-compiler errors on current master"
I cloned the current master, ran `npm install`, `bower install` and `gulp build -p` and got following build errors and warnings:

[code]

Unfortunately I have no idea how to fix this problem.

[2014-12-18 00:41] #27 closed, assigned to nobody

[2014-12-19 11:42] mirimCZ opened #28 "Running gulp causes Syntax error"
Hi,

I'm, having troubles with running gulp. I followed Getting Started step by step and when I get to "run gulp" command line shows this:

tion (exports, require, module, __filename, __dirname) { gulp = require 'gulp'
                                                                        ^^^^^^
SyntaxError: Unexpected string
    at Module._compile (module.js:439:25)
    at Object.Module._extensi

[2014-12-19 16:35] #28 closed, assigned to nobody

[2015-01-28 01:58] steida opened #29 "Image for readme."

[2015-01-28 01:59] steida commented on #29
![687474703a2f2f692e696d6775722e636f6d2f48424a354a6d582e6a7067](https://cloud.githubusercontent.com/assets/66249/5931133/9e973dfc-a699-11e4-83bc-7b5c6fb58bfd.jpeg)

[2015-01-29 09:13] rdpanek commented on #29
Nice :-D It's official logotype?

[2015-01-29 14:57] steida commented on #29
Should be :-)

[2015-01-29 14:57] #29 closed

[2015-03-05 02:18] steida opened #30 "Auto deploy to Heroku on push"
To https://este-app.herokuapp.com/

[2015-03-05 02:44] steida opened #31 "Server code webpack error does not trigger Notify plugin."

[2015-03-05 02:47] steida opened #32 "Move to github.com/este"
Or place a link to steida/este there.

[2015-03-05 02:56] steida opened #33 "Gulp 0.4.0"
- real task durations, show `App starter on port 8000` after default task is finished.

[2015-03-05 04:46] steida opened #34 "Async and pending actions."
Pendings has to be persited in app state.

[2015-03-05 05:21] steida opened #35 "React styles"
https://github.com/js-next/react-style
https://andreypopp.com/posts/2014-08-06-react-style.html
http://projects.formidablelabs.com/radium/

[2015-03-05 05:22] steida opened #36 "React 0.13.0"
Blockers:

- react-router
- formatjs.io

[2015-03-05 05:25] steida opened #37 "Add link to Este.js training."

[2015-03-05 20:26] rdpanek commented on #37
:+1:

[2015-03-05 21:29] steida opened #38 "Extract stack configuration into own repo."
Both webpack and gulp to allow users (and me) update their stacks via `npm update`.

[2015-03-05 21:42] steida opened #39 "Images for readme"
![11](https://cloud.githubusercontent.com/assets/66249/6515265/b91f0fb8-c388-11e4-857e-c90902e0b7a1.png)
![9e973dfc-a699-11e4-83bc-7b5c6fb58bfd](https://cloud.githubusercontent.com/assets/66249/6515278/de638916-c388-11e4-8754-184f5b11e770.jpeg)

[2015-03-05 23:24] #39 closed

[2015-03-05 23:26] steida opened #40 "Update readme"
- write about Este.js as collection of web apps patterns, add more examples
- add link to training, consulting, development

[2015-03-05 23:26] #37 closed

[2015-03-07 02:36] steida opened #41 "Replace piping with something else."
It just works, but it uses outdated dependencies.

[2015-03-07 19:06] steida opened #42 "Enable HTTPS by default."

[2015-03-07 19:34] rdpanek commented on #42
:+1:

[2015-03-08 02:06] steida opened #43 "Improve hot reload"
- some changes should force app reload, webpack dev-server instead of only-dev-server?
- getIntlMessage with React 0.13+ should allow hot reload as well

[2015-03-09 18:39] steida opened #45 "Add ClojureScript as optional dependency"
So David took my advice seriously :-D https://twitter.com/steida/status/574982728388591616

[2015-03-10 01:22] steida commented on #34
Proposal
- dispatch second argument can be function, which has to return promise
- then action is considered as async
- $pendings in app state is updated
- callback will get actual pending state, by default... are actions blocking?
- action will return promise from callback

[2015-03-11 14:42] ronag opened #47 "Inconsistent Structure"
We have a folder called "components" which corresponds to a type and in the same hierarchy we have "todos" which in this context is a domain.

This seems to me inconsistent. I would suggest either we have "domains" e.g. "todos", "common" or we group by "type" e.g. "components", "stores", "actions", not mixed.

[2015-03-11 15:15] ronag commented on #35
(Y)

[2015-03-11 15:22] ronag opened #48 "One cursor for each store"
Make the state so that each store has a cursor which doesn't leak between stores. e.g. the way it is now stores can write and read state related to another store without going through actions and getters. Which is kind of broken encapsulation and a leaky abstraction.

[2015-03-11 15:28] ronag opened #49 "state constructor should support immutable object"
i.e.

[code]

[2015-03-11 15:58] steida commented on #47
Good point, but that's intentional. I always prefered "domains" for everything, because your app structure should scream about domain it solves. But, for there are many React components, which simply has no obvious connection to problematic domain, or it's hard to name it. So flat components is trade-off. It's also easier to type `import Foo from './foo'` instead of `import Foo from '../../foos/co

[2015-03-11 15:59] #47 closed

[2015-03-11 16:01] ronag opened #50 "Separate Client and Server Actions?"

[2015-03-11 16:01] steida commented on #48
Maybe, but nothing can stop bad programmer writing bad code. This is trade-off as well. Feel free to send PR with better idea. Thank you.

[2015-03-11 16:01] #48 closed

[2015-03-11 16:04] steida commented on #49
Nice, added, thank you. Next time feel free to send PR please ;-)

[2015-03-11 16:04] #49 closed

[2015-03-11 16:05] steida commented on #50
Actually, not needed ;-) https://github.com/facebook/flux/pull/172

[2015-03-11 16:55] steida opened #51 "Promise based validation with unified fields error api and helper for focus."

[2015-03-11 20:53] dmitry commented on #35
radium looks very promising.

[2015-03-11 22:53] ronag commented on #48
Will try to figure it out and see if I can come back with a decent PR.

[2015-03-11 22:53] ronag commented on #49
Will do.

[2015-03-11 22:55] ronag commented on #50
No I mean. The way it is now we can't have "media client" actions and "media server" actions in separate files which is a requirement for avoiding circular imports.

i.e. a common scenario is:

media client action -> webapi -> media server action

[2015-03-11 22:59] ronag commented on #47
What if we move the "todo" components to the "todo" domain and components that have no obvious correlation have a "common" or "lib" domain.

[2015-03-12 00:37] steida commented on #50
PR please.

[2015-03-12 00:39] steida commented on #47
Yeah, that can happen during app evolving. Feel free to suggest PR. Thank you!

[2015-03-12 06:51] ronag commented on #50
I don't have any good suggestion for solution. Just pointing out a problem.

[2015-03-12 10:43] mikker commented on #34
Reflux splits async actions in two eg. `getPosts` and `getPostsCompleted` (and `getPostsFailed`).

I suppose using `async` is the _modern_ way?

[2015-03-12 10:53] ronag commented on #35
See https://github.com/js-next/react-style/pull/93 for getting react-style working.

[2015-03-12 11:25] ronag opened #53 "CSS is applied after initial page render"
Not sure what is causing this. Might be just dev.

[2015-03-12 11:31] ronag opened #54 "Using Immutable.Record?"
The way things work now I don't think there is a good way to store/load Record types in state since toJS<->fromJS looses the Record type, i.e. state.save -> state.load does not work as expected. Am I missing something?

[2015-03-12 12:52] mikker commented on #53
Only in dev. See https://github.com/steida/este/blob/master/src/server/html.jsx#L6-L11

[2015-03-12 12:57] ronag opened #55 "Add Flow"

[2015-03-12 13:39] ronag commented on #53
9

[2015-03-12 13:39] #53 closed

[2015-03-12 15:28] steida commented on #55
Yes sir, soon.

[2015-03-12 15:29] steida commented on #54
http://facebook.github.io/immutable-js/docs/#/fromJS check reviver

[2015-03-12 15:29] #54 closed

[2015-03-12 22:33] steida opened #56 "Add invariant example"
https://github.com/zertosh/invariant
or maybe
var warning = require('react/lib/warning');

[2015-03-12 23:24] steida opened #57 "Libs to publish"
Seems to be ready:
- setToString
- state

[2015-03-13 00:16] steida commented on #51
MVP is done.

[2015-03-13 00:28] ArnoBuschmann opened #58 "Immstruct for deep equality check?"
Daniel, great work on Este, thanks for that! Last time I checked, Este was written in Coffeescript, I think, so I didn't touched it further, lol. But now with ES6, it's another story.

After I looked a bit over it, I wondered: Would it make sense, to integrate Immstruct to get the advantage of deep equality checks, compared to shallow equality checks used in the PureRenderMixin?

Immstruct is also

[2015-03-13 00:29] steida commented on #34
Done. Describe pattern on login use case.

[2015-03-13 00:41] steida commented on #58
Yeah, complete redesign was hard, I had to kill a lot of code I wrote, but patterns can be reused within new Este so that's just fine :-) As for equality check. PureRenderMixin works very well with immutable.js, we don't need immstruct imho. Check https://github.com/steida/este-todomvc demo with and without it. It's amazing how PureRenderMixin works. For example, 4000 todos, and typings new todo p

[2015-03-13 00:41] #58 closed

[2015-03-13 02:20] steida commented on #51
TODO describe: Serial async flow ftw. Super minimal with focus or whatever to invalid field.

[2015-03-13 04:40] steida commented on #50
I am not aware of this issue yet, maybe it's not problem with ES6 modules. Let's wait.

[2015-03-13 05:53] steida opened #59 "Rewrite all var and let into const."
Don't make me think.

[2015-03-13 07:59] mikker commented on #34
:boom:

[2015-03-13 09:47] ronag commented on #34
This kind of goes away from the flux unidirectional flow though. I don't see why we need this as it can already be done with actions and stores...

[2015-03-13 15:20] steida commented on #34
It's done with actions and stores. You will see.

[2015-03-13 15:45] ArnoBuschmann commented on #58
In app.jsx you seem to rerender always the entire app after a change
[code]
Maybe this could be optimized by emiting an onCursorChange event, so that a (sub)component only rerenders, if its cursor changed?

Like Immstruct describes itself being a "...wrapper for Immutable.js to easily create cursors that notify when they are updated".

[2015-03-13 16:44] steida commented on #58
It's micro optimization, we don't need it. Simple === check will bypass everything. Rerendering all is super simple, because we don't need to think about watchers. It's super fast enough.

[2015-03-13 21:02] steida opened #61 "Add url loader."
Otherwise Bootstrap will scream https://github.com/webpack/css-loader/issues/38#issuecomment-72287584

npm i url-loader --saver
{ loader: 'url-loader?limit=100000', test: /\.(png|woff|woff2|eot|ttf|svg)$/ }

[2015-03-14 05:31] #59 closed

[2015-03-14 06:01] #32 closed

[2015-03-14 06:01] #30 closed

[2015-03-14 06:30] #61 closed

[2015-03-14 14:29] zdila opened #63 "server won't start after installign leaflet"
Comming for java world I am new to all this npm, node, ... stuff.

After installing leaflet with `npm install --save leaflet` to este.js application the server won't start aymore.

[code]

Any advice? Thanks in advance.

[2015-03-14 17:58] steida commented on #63
Because it's client side technology "ReferenceError: window is not defined", something is looking for window, but there is no window on the server side.

[2015-03-14 17:58] #63 closed

[2015-03-14 19:25] zdila commented on #63
But isn't Este primary about client? For me it is strange that server tries to run client code.
If it is impossible to use Leaflet with Este then it seems I will need to abandon Este for my project.

[2015-03-15 17:04] steida commented on #63
Don't blame Este for your incompetence and don't misuse issues as please-help FAQ. Sorry.

[2015-03-15 18:27] zdila commented on #63
I wouldn't expect that much arrogancy here. Good bye.

[2015-03-15 18:39] steida commented on #63
Arrogancy is asking hard working for free open source developer for things you can easily find with Google. You should be ashamed.

[2015-03-15 18:43] zdila commented on #63
I can't google why este uses client-side library for server. But it is ok, it is because I am incompetent ;-)

[2015-03-15 18:44] steida commented on #63
Este.js is just a collection of other libraries. Learn these libraries first, don't be lazy.

[2015-03-15 23:13] steida opened #64 "Add Relay or react-resolver demo"
https://github.com/ericclemmons/react-resolver

[2015-03-15 23:36] ArnoBuschmann commented on #64
A react-resolver demo would be cool. Especially as we don't know, when Relay will be available, do we?

[2015-03-16 02:43] #50 closed

[2015-03-16 02:43] steida commented on #38
too magic

[2015-03-16 02:43] #38 closed

[2015-03-16 02:44] steida opened #65 "Sync app state into localStorate across browser tabs/windows."

[2015-03-16 02:51] steida opened #66 "es6 lint"
To think about
- strict for server side code, must be required?
- maybe === should be up to Flowtype

TODO
- detect unused ES6 imports

[2015-03-16 02:52] steida opened #67 "Sync app state across browser tabs/windows"
https://github.com/google/closure-library/blob/ab267bad3c151286f2aac1f8922436b85e39e727/closure/goog/labs/pubsub/broadcastpubsub.js

[2015-03-16 02:53] steida opened #68 "Global errors handling with several last app states reporting."

[2015-03-16 02:54] steida opened #69 "Optional Closure Tools support."

[2015-03-16 02:54] steida opened #70 "Add gestures."
Since two last attempts from Google had failed, check hammer. https://github.com/Polymer/polymer-gestures/pull/50#issuecomment-88835526

[2015-03-16 02:56] #65 closed

[2015-03-16 02:58] steida opened #71 "Add into wiki how pingdom can ensure heroku hosted for free app staying alive"
https://www.pingdom.com and https://www.youtube.com/watch?v=I_izvAbhExY

[2015-03-16 03:00] steida commented on #71
https://www.youtube.com/watch?v=I_izvAbhExY

[2015-03-16 03:31] steida opened #72 "Add more tests."
Hey community, eat your vegetables and keep sending pull requests ;-)

- async actions
- validation
etc.

[2015-03-16 09:37] mikker commented on #71
or use http://kaffeine.herokuapp.com

[2015-03-16 10:17] 0x80 opened #73 "Using a linter"
Not an issue, just a question. I'm trying to learn from your code. It seems clever and very clean.

What linter (settings) are you using to pass your store.js ```export const dispatchToken = register(({action, data}) => {```

With JSHint esnext=true I get an "Unexpected token =>". Plain arrow functions are ok. It's the arrow in combination with the destructuring that doesn't pass apparently.

Also

[2015-03-16 13:52] steida commented on #73
I don't like JSHint. Douglas Crockford is... opinionted. I'm waiting for Eslint,  http://eslint.org/blog/2015/03/eslint-0.17.0-released/ was already released, but I will give it two weeks to polish isuess, and then I will add it into project.

As for "Unexpected token =>", that's probably some yet another Crockford weirdness.
As for !=, that's ok too. === everywhere is soo jQuerish.

Yes, writting

[2015-03-16 14:20] #73 closed

[2015-03-16 14:22] steida commented on #71
Awesome, thank you.

[2015-03-16 21:47] 0x80 commented on #73
You seem pretty opinionated yourself :-) I don't get what === has in to do with jQuery. I believe Crockfords rules are jslint, but jshint is more relaxed and community driven. It has served me well, but eslint looks promising.

Thanks for sharing your code.

[2015-03-16 22:39] steida commented on #73
As for === jQuery, as I remember, it was mantatory for everything.
As for jshint/jslint, sorry I was tired :-) Feel free to suggest everything what can improve Este, I'm open to almost anything.

[2015-03-16 22:56] dmnd commented on #73
I actually think Este & linting is a bit of a unique situation. Usually I don't care what code style my dependencies use because they live by themselves in `node_modules`. Their code is completely independent of my own.

But the nature of Este being a project base means that Este code lives side by side with own code. This makes things awkward when Este style clashes with my own style.

Originally

[2015-03-17 11:13] cjk commented on #34
+1
Looking forward to seeing this in action!

[2015-03-17 12:18] steida commented on #34
@cjk Something like that https://gist.github.com/steida/d07f9c73d453ddf00bce

[2015-03-17 13:00] 0x80 commented on #73
+1, what he said :smile:

[2015-03-17 13:13] steida commented on #73
It's all and nice and I agree with you, except one thing. I really don't want write ; for sake of mannerism. There is no reason to write ; after almost (which one exactly?) line. Maybe I will change my mind, but I feel ; is just stupid.

[2015-03-17 19:35] dmnd commented on #73
I'm not going to try to defend semi-colons; I'm only interested in making it as easy as possible to integrate with este. I'm happy you agree with my overall point, even if your distaste for semi-colons is perhaps a stronger feeling :wink:

Thanks for considering this @steida! :smile:

[2015-03-17 23:55] ronag opened #78 "Alternative to setToString"
```setToString``` with actions is not very pragmatic as it is now. A bit of code duplication and also risk for forgetting to add/remove actions from the seconds location.

Unfortunately, I don't have any better idea as of yet.

[2015-03-17 23:56] ronag commented on #68
What's this?

[2015-03-17 23:57] ronag commented on #67
I think we could also do it with PouchDB. But that might be overdoing it.

[2015-03-17 23:58] ronag commented on #56
(:+1:)

[2015-03-17 23:59] ronag opened #79 "Hot Reload Stores"
Might require a fork of hot-reload.

[2015-03-18 00:00] ronag opened #80 "Finish up locale?"
The locale stuff doesn't seem to be quite finished? The server ignores the locale parameter and the client always uses the initialLocale? Or am I missing something?

[2015-03-18 00:02] ronag opened #81 "File Structure Suggestions"
client/main.js -> client/index.js
client/routes.jsx -> client/components/routes.jsx
client/dispatcher.js -> lib/dispatcher.js

Considering https://github.com/steida/este/pull/75

client/state.js -> lib/state.js

[2015-03-18 00:09] steida commented on #81
As for main: Yes.
As for routes: Not sure, it's just syntax and it will be configurable I believe it belongs where it is.
As for dispatcher: Yes.

[2015-03-18 00:11] steida commented on #80
No, it's not finished yet. Btw, maybe this can be usefull https://github.com/sindresorhus/os-locale

[2015-03-18 00:17] steida commented on #78
Still very useful. Alternative can be webpack plugin.

[2015-03-18 00:20] steida commented on #68
App errors reporting to server with global app state and several last user actions to replay story.
In previous Este, I was using https://github.com/google/closure-library/blob/2012c5372fdb02ce9531cf4b2561b05e3ce2ab39/closure/goog/debug/errorreporter.js
It should also handle errors from promise.

[2015-03-18 00:27] ronag commented on #81
:+1:

[2015-03-18 00:37] steida commented on #79
no forking just for este

[2015-03-18 00:37] #79 closed

[2015-03-18 03:47] steida opened #82 "Add login with redirect example"
willTransitionTo
https://github.com/rackt/react-router/issues/612

[2015-03-18 07:48] ronag commented on #56
The problem I have with that library is that there is no way to separate development assertions from production assertions.

[2015-03-18 13:46] steida commented on #56
What is production validation? You mean object validations? For that I am using this simple https://gist.github.com/steida/d54a2cd2296ec7c164d1

[2015-03-18 13:47] steida commented on #56
Asserts has different purpose than validations.

[2015-03-18 16:29] ronag commented on #56
No, I mean that there are assertion you only want in development "mode" due to the performance implications.

[2015-03-18 17:48] steida commented on #56
They are removed. For example check compiling React with and without webpack.DefinePlugin for process.env.NODE_ENV. Or your code. Dead code removal works.

[2015-03-18 17:56] ronag commented on #56
My point is, that some invariants you want to remove and some you want to stay.

[2015-03-18 18:11] ronag opened #83 "Use process.browser"
Since webpack sets `process.browser` I don't think we need `IS_BROWSER`.

[2015-03-18 21:11] steida commented on #56
I think this is over the scope of invariants. They are defined as dev time asserts and being used in production is misusement. Your require(isAdmin)? What's that? I woulduse if statement.

[2015-03-18 21:24] steida commented on #83
Good point. It works, but it is documented feature? Can find it.

[2015-03-18 21:25] steida opened #85 "Things to backport back to Este TodoMVC demo"
- process.browser?
- structure main to index etc.

[2015-03-18 21:27] steida commented on #83
Hmm, I think we need it, because IS_BROWSER is design time constant, and is used for dead code  removal. Feel free to open issue if you do not agree.

[2015-03-18 21:27] #83 closed

[2015-03-18 21:51] steida commented on #81
Btw, I am not ignoring your suggestions and PR's Just not having enough time right now. Will make a decision soon, stay tuned :-)

[2015-03-18 22:07] ronag commented on #81
No problem. I'm in no hurry. I know the pull request could have been made a bit more merge friendly as well.

[2015-03-18 22:08] ronag commented on #56
If statement it is. Close this.

[2015-03-18 22:11] steida commented on #56
invariant (asserts) is recommended pattern, just have to added an example into Este.

[2015-03-18 23:55] ronag commented on #34
Returning a promise kind of adds a secondary control flow for errors. I would suggest that the dispatch takes a success action and a failure action.

[2015-03-19 00:00] ronag commented on #34
I don't quite agree with the pending checks. i.e. as it is now you can't dispatch several 'upload file' actions in parallel.

[2015-03-19 01:38] steida commented on #34
I think you can. Just use several promises with Promise.all

[2015-03-19 03:56] steida opened #86 "Add autoprefixer"
https://github.com/postcss/autoprefixer
Better then nib, which is probably already obsolete/dead.
Port makeconfig from comm.

[2015-03-19 03:57] steida opened #87 "Rewrite server rending"
To allow this redirection https://github.com/rackt/react-router/issues/612#issuecomment-77179261
Check https://twitter.com/ryanflorence/status/578334644443082753 once released.

[2015-03-19 03:58] #85 closed

[2015-03-19 04:48] #86 closed

[2015-03-19 05:07] steida opened #88 "Add YellowFade example"
https://gist.github.com/steida/c4a8d2cfd1f05ee6ae88

[2015-03-19 10:33] ronag opened #89 "Maintain appstate across reloads?"
Not sure how we would do this. Detecting reloads and saving then loading appstate? Is it even possible?

[2015-03-19 13:08] giltig opened #91 "semicolon"
Hi, I really like what you did and we share the same opinion regarding libraries vs frameworks.
Why didn't you put semicolons ? :)

Which linter on sublime do you recommend?

[2015-03-19 14:12] ronag opened #92 "Investigate react-kit"
https://github.com/roman01la/f-react-kit

Haven't looked to deeply into it. Has some similar ideas. Possible source for inspiration.

[2015-03-19 17:01] steida commented on #91
eslint and it will be added very soon.
Because writing semicolons is mannerism - mindless routine practice without any real benefit.

[2015-03-19 17:01] #91 closed

[2015-03-19 17:18] steida commented on #92
nothing interesting

[2015-03-19 17:18] #92 closed

[2015-03-19 17:23] steida commented on #89
localStorage, it's already planned

[2015-03-19 17:23] #89 closed

[2015-03-19 19:31] vojtatranta opened #96 "Add connection to database"
Many of apps lack this feature.
It seems that this is one of the troubles of all flux apps.

It probably involves creating routes for every server action so that server could trigger them on request.
This needs probably bigger discussion.

[2015-03-19 19:33] vojtatranta opened #97 "Module file structure"
It would be really great if Este had some modular per-app file structure.

Like:
--common
  --settings
  --helpers
--apps
  --dashboard
  --users
  --companies
  --whatever

[2015-03-19 19:44] steida commented on #97
Did I overlooked something? It has.

[2015-03-19 19:44] #97 closed

[2015-03-19 19:46] steida commented on #96
Sorry, it's too specific. I have some ideas but stil in flux (internal joke) :-)

[2015-03-19 19:46] #96 closed

[2015-03-19 20:45] steida opened #98 "Add higher order component example"
To replace mixins.
https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750

[2015-03-19 22:24] steida commented on #71
@mikker Maybe you can help me again :-) I added https://github.com/steida/este/blob/master/package.json#L8 just for Heroku, but it slowdowns npm install. Can Heroku build automatically without writing own builder? Thank you.

[2015-03-20 00:02] steida commented on #81
@ronag Maybe it's better to have app.js instead main.js or index.js Imagine more entry points for webpack, for example: site.js, app.js, admin.js What do you think?

[2015-03-20 03:40] steida opened #99 "react-a11y"
Consider https://github.com/rackt/react-a11y

[2015-03-20 03:58] steida commented on #67
Yes, it's overdoing. It should be independent.

[2015-03-20 08:43] mikker commented on #71
If it can I am not aware. But you could probably specify multiple buildpacks: the node.js buildpack in combination with another that just `gulp compile`s.

https://github.com/ddollar/heroku-buildpack-multi

[2015-03-20 08:45] mikker commented on #71
The benefit of using two buildpacks and not just copying and adding to the default node one would be that you would still get the updates to the node one. And I like updates.

[2015-03-20 09:19] ronag commented on #81
Well. The alternative then would be to combine "main.js" and "app.jsx"?

[2015-03-20 10:03] ronag commented on #81
Then we end up with 2x app.js.

[2015-03-20 10:03] ronag commented on #81
I'm not sure why one would have several entry points. Isn't this part of the router logic?

[2015-03-20 10:05] ronag commented on #81
Hm. I guess you could send smaller packets if you remove all admin specific code for normal users.

[2015-03-20 10:09] ronag commented on #81
I think we should have it like this:

index.jsx for mysite.com
admin.jsx for mysite.com/admin

etc...

and possibly put all the entries into a folder e.g. /routes or /entries

[2015-03-20 11:28] ronag commented on #81
Would the routes possibly be different for different entry points?

[2015-03-20 20:32] steida commented on #81
Yes. It should be basically one app splitted into three parts. I already made such apps, but with completely different dev stack.

[2015-03-20 22:06] jchris opened #100 "state change event could include path"
Right now the event just yields the new state, but including the updated path would also be helpful for integrating with eg PouchDB.

[2015-03-20 22:10] jchris commented on #100
eg this event https://github.com/steida/este/blob/master/src/lib/state.js#L22 maybe could be called from https://github.com/steida/este/blob/master/src/lib/state.js#L40

[2015-03-20 23:30] steida commented on #100
Fork it, change api to meet your needs, send pull request. Or we can discuss it in forum.

[2015-03-21 02:35] steida commented on #41
Updated updated

[2015-03-21 02:35] #41 closed

[2015-03-21 03:58] steida opened #102 "Consider file names cases reflecting JS types"
For example, instead of `/lib/purecomponent` use `/lib/PureComponent` etc.

[2015-03-21 14:26] ronag commented on #102
:+1:

[2015-03-21 15:47] ronag opened #103 "Rename load/save to fromJS/toJS?"
Better reflects what they actually do?

[2015-03-21 21:43] steida opened #104 "Wait for extract-text-webpack-plugin 0.4 fix"

[2015-03-21 21:43] steida commented on #104
https://github.com/webpack/extract-text-webpack-plugin/issues/56

[2015-03-21 21:56] steida commented on #102
But check http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml?showone=Naming#Naming filenames. It can be confusing for Linux people, like Gruntfile.js was.

[2015-03-21 21:56] #102 closed

[2015-03-21 21:57] steida commented on #80
At least it was updated for React 0.13+ :-)

[2015-03-21 21:57] #36 closed

[2015-03-21 23:51] ronag opened #107 "All files containing jsx should have .jsx extension?"

[2015-03-21 23:57] steida commented on #107
Yes, why not? It's a good indication jsx is used.

[2015-03-22 02:07] steida commented on #80
TODO: msg from intl/store should allow params and maybe cache it... reset cache for language change

[2015-03-22 02:13] steida commented on #34
TODO: Port awesome ... ... ... ... css animation as React component.

[2015-03-22 10:25] ronag commented on #34
Several promises won't work because of:
[code]

[2015-03-22 10:26] ronag commented on #34
Also what happens to errors?

[2015-03-22 10:30] ronag commented on #34
Instead of:

[code]

wouldn't one want something like:
var myPromise = doStuffAsync()
dispatch('myAction')
myPromise.then(v => dispatch('myAction.success', v), err => dispatch('myAction.failure', err)

[code]

[2015-03-22 16:01] steida commented on #34
As for "several promises", that's for one action.
As for "what happens to errors?", that's why promises are used
As for "wouldn't one want something like" it is internally, but with pending actions helper

Next week I will suggest example so we can discuss real code.

[2015-03-22 17:50] ronag commented on #34
Yes, that's my point. You can't dispatch multiple "upload actions" in parallel this way.

[2015-03-22 19:27] steida commented on #98
https://github.com/steida/este/tree/master/src/client/components/common

[2015-03-22 19:27] #98 closed

[2015-03-22 19:27] steida commented on #88
For login form after redirect to it.

[2015-03-22 19:28] #87 closed

[2015-03-22 19:28] #82 closed

[2015-03-22 19:28] #51 closed

[2015-03-22 19:31] steida commented on #34
Done. I believe I choose confisung naming. Actions are still sync, but they are dispatched after promise is resolved. There is a pattern login/loginError, I believe this makes more sense then login/loginSuccess/loginError but not very opinioned about that. Anyway, that's what I am using in one app and it works well. Everything can be improved, but there is always trade-off.

[2015-03-22 19:31] #34 closed

[2015-03-22 20:38] kevinclement opened #109 "Example for lazy loading modules"
Loving este so far, playing around with some sample apps and so far so good.

One example I'd love to see make its way into it.  Lazy loading of modules.  Webpack support entry points and showing and example for say another module in este would be awesome.

See:
https://github.com/rackt/react-router/issues/755
https://gist.github.com/gaearon/fbd581089255cd529e62
http://webpack.github.io/docs/multi

[2015-03-22 21:17] steida commented on #109
I know, but it would complicate to purpose of this repo - only basic features should be implemented I suppose. But you can write gist or write something to wiki.

[2015-03-22 22:49] #104 closed

[2015-03-22 23:06] dmnd opened #111 "event listener leak when watching files"
I ran the dev server, then opened a file in my editor. I then saved the file with no changes. Notice that the log messages are repeated the more I save the file. In the following log, I only saved the file 4 times, waiting for the `App started` line each time.

[code]

[2015-03-22 23:09] steida commented on #111
Which OS you have? Anyway, it seems more like webpack bug. Feel free to investigate it and send pull request then. Thank you.

[2015-03-22 23:10] dmnd commented on #111
OS X

[2015-03-22 23:10] steida commented on #111
Ohh, it's piping it seems.

[2015-03-22 23:20] dmnd commented on #111
Yeah it's piping. `npm install piping@0.1.6` fixes it.

Node `v0.10.36` if that still matters.

[2015-03-22 23:23] steida commented on #111
Hmm, it seems chokidar is full of bugs. Damn https://github.com/paulmillr/chokidar/issues

[2015-03-22 23:35] dmnd commented on #111
Up to you. It spams the log a lot but I didn't notice any slowdown.

I'm behind este master right now so I'm downgrading for now. I'll revisit next time I merge.

[2015-03-22 23:40] steida commented on #111
Thank you.

[2015-03-22 23:41] dmnd commented on #111
likewise! :heart:

[2015-03-22 23:43] steida opened #112 "Investigate google/web-starter-kit"
https://github.com/google/web-starter-kit

Because it's maintained by great Sindre Sorhus.

[2015-03-22 23:50] steida opened #113 "Jsx linting doesn't work with 0.13+ plain classes"
https://github.com/yannickcr/eslint-plugin-react/issues/24

[2015-03-23 00:33] tajo commented on #81
I don't like index.js because when I hit CMD+P and type inde... I got 10000 node_modules files.

[2015-03-23 00:35] tajo commented on #107
close?

[2015-03-23 00:37] steida commented on #81
@tajo That's a very good point. So it should stay main. Btw, server/index is more like workaround for piping etc., so it's relatively same.

[2015-03-23 00:37] #81 closed

[2015-03-23 00:38] steida opened #115 "Clean and refactor dispatcher, then move it into lib"
with tests ofc.

[2015-03-23 01:23] steida commented on #111
Hmm, I realised I have the same problem. Ok, let's stick with old chokidar.

[2015-03-23 01:34] steida opened #116 "Consider using closure compiler instead of uglifier"
It's much faster - 12s versus 25s. It's much more stable and battle tested. It provides usefull static analysis info. And yes, I'm talking about standard mode, because advanced more is not compatible with Node.js ecosystem.

[2015-03-23 22:24] tajo commented on #116
Please don't. It's Java - that's a nasty dependency. Pros are not worth it.

[2015-03-23 22:28] steida commented on #116
I will make it an optional and stay calm, no time to do that right now anyway ;)

[2015-03-23 22:40] steida commented on #64
1. April I suppose

[2015-03-23 22:42] ArnoBuschmann commented on #64
That quick??? Wow. Having rumours about it?

[2015-03-23 22:47] steida commented on #64
Someone from team wrote it somewhere.

[2015-03-23 22:49] ArnoBuschmann commented on #64
That's nice.

[2015-03-23 23:32] ronag commented on #64
react-resolver looks interesting. Couldn't we basically do something similar to relay with react-resolver + pouchdb?

[2015-03-24 00:15] ArnoBuschmann commented on #64
:+1: I started to stick my head into pouchdb today, looks interesting and very useful. I'd love to see some graphql/whatever<->pouchdb solution integrated in Este.

[2015-03-24 01:39] steida commented on #102
Lowercased filenames, and you don't have to thing about cases. Simple.

[2015-03-24 13:49] ronag opened #118 "Higher Order Functions"
I think the recommended way is to instead of:
[code]

To do it like this:

[code]

[2015-03-24 14:00] #118 closed

[2015-03-25 01:05] steida commented on #64
After some rethinking I believe data loading should not be tight to routes but to components only. User interface screen itself defines what should be loaded, and it can vary a lot while routes remain untouched.

[2015-03-25 01:05] #64 closed

[2015-03-25 01:05] steida commented on #64
Ofc we are waiting for Relay.

[2015-03-25 04:40] steida opened #120 "Add loading component"
with its beautiful minimal progress loading css animation

[2015-03-26 10:23] teaegg opened #122 "build-webpack-production spends 42s"
$ gulp -p
[03:18:40] Using gulpfile ~/Projects/html/myapp/gulpfile.js
[03:18:40] Starting 'env'...
[03:18:40] Finished 'env' after 100 μs
[03:18:40] Starting 'build-webpack-production'...
[03:19:22] [webpack]      Asset     Size  Chunks             Chunk Names
appintl.js   408 kB       0  [emitted]  appintl
    app.js   367 kB       1  [emitted]  app
   app.css  3.69 kB    0, 1  [emitted]  appintl

[2015-03-26 15:54] steida commented on #122
That's github.com/webpack/webpack issue

[2015-03-26 15:54] #122 closed

[2015-03-26 21:40] romseguy commented on #91
I agreed with that, why https://github.com/steida/este/commit/c8a7a806366d3b3a7a1d7286177329a57e5efcd0 ?

[2015-03-26 21:58] steida commented on #91
Because endless bikeshedding. For my personal projects I am not using semicolons, but imagine I am presenting something really cool from Este.js on conference, and first question will be "Why no semicolons". I am bored to explain it all the time.

[2015-03-27 00:00] steida commented on #116
But uglify sucks, it's slow as hell.

[2015-03-27 09:12] giltig opened #123 "Imported stylus live reload"
Does not work...
BTW why did you choose stylus for your example and not sass?
When I change the stylus files there is no live reload of the page.
Also are you going to integrate Relay instead of FLUX?

[2015-03-27 21:01] steida commented on #123
It works here. As for Relay, maybe.

[2015-03-28 00:54] ArnoBuschmann opened #124 "Config changes to use the js-csp npm module?"
I'm trying to figure how to use js-csp https://github.com/ubolonton/js-csp in Este. The basic problem is, that js-csp itself uses generators and it seems Babeljs isn't transforming well.

Getting this error:
[code]
Now I know that we have
[code]
in webpack/makeconfig.js, so I took that out for a test but the error remains. Also tried
[code]
No success either. Any idea how I can fix it?

[2015-03-28 03:12] steida commented on #124
Generators are supported with Babeljs polyfill, which is relatively huge aka 60 kb gzipped. csp-js integration is planned, but not yet since I have zero time to do that.

[2015-03-28 03:39] ArnoBuschmann commented on #124
Ok, then I'll wait with using csp-js till you have integrated it, thanks!

[2015-03-28 03:39] #124 closed

[2015-03-29 03:47] steida opened #125 "New app structure and refactoring"
/app
/app/app.react.js
/app/app.styl
/app/store.js
/app/actions.js
/components
/components/exposerouter.react.js
/components/loading.react.js
/components/variables.styl
/pages
/pages/home.react.js
/pages/about.react.js
/foo
/foo/store.js
/foo/actions.js
/foo/foo.react.js
/foo/foo.styl

- foo.styl is required from foo.react.js, this makes styles independent and maintainable
- delete assets/css
- in

[2015-03-29 08:27] giltig commented on #123
I checked again - the file that's not getting css reload is button.styl because it's being imported to app.styl.
app.styl, login.styl and todos.styl work fine.
Is there any way to make css live reload for imported stylus files as well?

[2015-03-29 14:00] steida commented on #123
Thank you for more detailed issue. I don't know, check webpack issues.

[2015-03-29 14:16] giltig commented on #123
By the way it's probably relevant to the other loaders (sass, less and css itself)...

[2015-03-29 14:22] steida commented on #123
Please investigate and fix it. This is open source. If you are using it, you should help. Thank you.

[2015-03-29 14:29] frankleng opened #126 "image requires are not working with the current webpack config"
[code]
gives "unexpected character" error
seems like it's being passed into babel by the server instance

any ideas?  I've tried attaching an empty function
[code]
but didn't work

[2015-03-29 19:01] steida commented on #123
I believe it will be fixed with #125

[2015-03-29 19:05] giltig commented on #123
Nope - I actually found what the problem was - you need to prepend button.styl (or any import you have for sass, less or styl) with ~ and webpack will resolve this import as a module and then also the hot loading will work.
instead of @import './button.styl'
@import '~./button.styl'

This is my small contribution :)

[2015-03-29 19:07] giltig commented on #123
P.S. I think the current folder structure is better than the one you propose on #125

[2015-03-29 19:12] steida commented on #123
Why? I realized it simplifies `../../../../../` thing. Also, it's confusing to have two `/auth` directories. Last but not least, `foo.react.js` solves annoying problem of inner `/component` dirs with another level of `../`.

[2015-03-29 19:14] steida commented on #123
Btw, very thank you for contribution :+1:
Can you send please PR?

[2015-03-29 19:26] giltig commented on #123
Sure there you go: #127

[2015-03-29 19:35] steida commented on #123
Btw, which OS you have?

[2015-03-29 19:43] steida opened #128 "Login redirection bug"
1. go to /login
2. click to login on empty form

User is redirected to home. Shouldn't be.

[2015-03-29 19:52] giltig commented on #123
Windows... I also maintain a dot net project...

On Sun, 29 Mar 2015 22:35 Daniel Steigerwald <notifications@github.com>
wrote:

[2015-03-29 20:05] steida commented on #123
How did you succeeded to install Este.js? Windows needs special care for almost everything.

[2015-03-29 20:35] giltig commented on #123
I just took special caring:)
It works and its quite amazing your project

[2015-03-29 21:01] giltig commented on #125
Hi I understand the new structure but I would recommend to remove the non elegant .react extension and only make it home.js, about.js etc.

[2015-03-29 21:04] giltig commented on #125
Hi I understand the new structure but I would recommend to remove the non elegant .react extension and only make it app.js, home.js, about.js etc.

[2015-03-29 21:30] steida commented on #125
Non elegant .react extension is pretty elegant once you have naming clash between user.react.js and user.js (Record or class). It's also idiomatic Facebook style - https://github.com/facebook/flux/blob/master/examples/flux-chat/js/components/MessageListItem.react.js

[2015-03-30 05:18] giltig commented on #125
Ok agreed. Btw Facebook also uses capital letter for their component file names i.e http://facebook.github.io/react/blog/2015/03/19/building-the-facebook-news-feed-with-relay.html
Story component.
When are you going to release the new structure?

[2015-03-30 08:53] ronag commented on #125
What about simply using .jsx?

[2015-03-30 12:23] steida commented on #125
@ronag No, because then you have to set up two file extensions. Also, xyz.react.js is very convenient for fuzy file search.

[2015-03-31 02:06] steida opened #129 "add immutable Record example"
- no need it to use `foo.get('prop')`
- default values
- getter methods

https://github.com/facebook/immutable-js/issues/384#issuecomment-82464254

[2015-03-31 02:35] steida commented on #129
[code]

[2015-03-31 15:17] steida commented on #113
fixed

[2015-03-31 15:17] #113 closed

[2015-04-01 02:39] steida commented on #125
@ronag Can you implement this issue please?

[2015-04-01 07:06] kevinclement commented on #125
I've seen .react.js done in most repos and like that, good choice.

[2015-04-01 08:21] ronag commented on #125
So, we group everything by its domain. What I don't quite understand is the "components" part which kind of breaks the domain thing...

What about:

/common
/common/variables.styl
/app
/app/app.react.js
/app/app.styl
/pages
/pages/home.react.js
/pages/about.react.js
/foo
/foo/store.js
/foo/actions.js
/foo/foo.react.js
/foo/foo.styl

[2015-04-01 08:35] giltig commented on #125
@ronag I agree - I think that definitely makes more sense. Components directory is good for proof of concept but not for a real project (it's good for demonstrating the concept of components of react).
Domain specific directories as you mentioned above is the way to work with a real project.
When este.js is going to be released with the new structure? I want to use this new structure for  my team.

[2015-04-01 08:37] giltig commented on #125
P.S maybe all the common components should be in app directory and not in common directory - just a notion but I'm not sure about it...

[2015-04-01 14:52] steida commented on #125
So that's my current /component kitchen sink

![screen shot 2015-04-01 at 16 51 39](https://cloud.githubusercontent.com/assets/66249/6943597/6731e6fa-d88f-11e4-9166-18e94417afb6.png)

[2015-04-01 14:56] steida commented on #125
You know I'm always open to change my mind, but how this should be dissolved without overthinking about naming everything? Basically, I put everything reusablewithin app into components. It's also convenient for highly modular views which involves a lot of little things, like:
`import {requireAuth, listenFirebase, Loading, PureComponent} from '../components'`

[2015-04-01 14:57] steida commented on #125
@ronag I would say that `/components` is just another app domain.

[2015-04-01 15:42] giltig commented on #125
All .react.js are components. makes more sense to call a domain by its true meaning - if its common components call it common. if pages pages , if feature x then ... etc.

[2015-04-01 16:14] steida commented on #125
@giltig Except some components are pages as well :-) App structure is always trade-off. I believe in small steps, so lets do suggested changes and then think about components (read as reusable on more places) again.
@ronag Do you agree?

[2015-04-01 16:34] ronag commented on #125
Fine by me. I'll make a PR over the weekend.

[2015-04-01 17:13] steida commented on #125
Maybe it makes sense to have `/app` directory, because we will probably have app store and app actions. For example changeLocale or something like that.

[2015-04-01 23:30] steida opened #131 "Rename auth HoC to requireAuth"

[2015-04-02 02:20] teaegg commented on #120
+1
I found a beautiful progress bar here.
https://github.com/rstacruz/nprogress/

I am wondering if we can implement a progress bar in this way?
https://github.com/rackt/react-router/blob/master/examples/async-data/app.js

Call "fetchData" and pass a "progress" object in each react component  before the route.path change.
But how do we control percentage of the progress bar, and should "fetchData"

[2015-04-02 02:22] steida commented on #120
Thank you. I will probably use it but we can control percentage only for data upload or sequenced loading aka many requests or web sockets.

[2015-04-02 10:04] nissoh commented on #125
Will there be a day that we won't need css classes and instead simply render inline style like a pro?
I wonder if and when that day will come.

Maybe it's time to start a new library (:

[2015-04-02 11:47] teaegg commented on #112
I think embedding a css framework is  brobably better than web-starter-kit for este.
+1 https://github.com/primer/primer

[2015-04-02 13:56] steida commented on #112
Thank you guys. Good to know.

[2015-04-02 13:56] #112 closed

[2015-04-02 13:59] steida commented on #125
It's not as easy as it looks like. It's definitelly good direction still not ready for production (not for me) There can be performance issues for server side rendering for example. Let's give it a little time.

[2015-04-02 22:30] steida opened #133 "Fix react-router active (context)"
https://twitter.com/dan_abramov/status/579915473632010240

[2015-04-03 06:40] geoRG77 commented on #123
I've tried prepending Sass imports with ~ but then I get another error

[code]

[2015-04-03 07:31] giltig commented on #123
You should put it at the beginning before the dot

[2015-04-03 08:10] geoRG77 commented on #123
Thanks, I found out the issue is caused by importing .scss files (bootstrap) in .sass files with `indentedSyntax` with sass-loader@1.0.1. On version 0.4.2 this is working but webpack is not watching imported sass files so any changes to them is not reflected (livereloaded).

[2015-04-03 09:13] ronag commented on #133
Have you looked at the React 0.13 branch for react-resolver? Seems to go away from a this.context.resolver and instead simply don't render async components on the server.

[2015-04-03 13:32] steida commented on #133
Yes. I decided not to use PureComponent where isn't required (simple list of app links) and for long lists, replace active state with custom logic.

[2015-04-03 13:32] #133 closed

[2015-04-03 15:49] steida opened #134 "Windows"
Add support. Probably limited.

https://github.com/steida/este#prerequisites

[2015-04-03 15:50] steida commented on #123
@giltig Please can you help community please? #134

[2015-04-03 15:57] steida commented on #134
Add something like that https://github.com/pedestal/pedestal#supported-platforms, Este.js for Windows will have limited features, because Flow Jest etc.

[2015-04-04 14:28] ronag commented on #125
I've made an effort on this. Unfortunately, I find too many inconsistencies and can't quite figure it out structure wise in such a way that I think everyone will agree on. I'm passing on this.

Some of the problems I've found:

- login/logout are not pages but doesn't quite fit anywhere.
- auth and exposerouter doesn't quite fit anywhere. They are not really components but behavioural decorators.

[2015-04-04 18:18] giltig commented on #125
Hi I think the best solution is only domain like structure meaning only feature wide structure -
/auth for login and logout
/foo for foo etc....

[2015-04-04 18:58] steida opened #137 "Fix jest with Babel 0.5"
Now test is commented out because some weird error.

[2015-04-04 19:10] #137 closed

[2015-04-05 01:33] steida commented on #78
It's good enough and dispatcher reports actions without overridden toString.

[2015-04-05 01:33] #78 closed

[2015-04-05 08:43] teaegg commented on #125
I think `/component` is necessary.
- In este which has a centralized state, `app.js` and `todo.js` can be a `container`  or `domain` for those pure components. Containers that tightly coupling with global state should be separated with `/component`.
- `login/logout todos/index` can also be pure component if we remove those codes connect with global state, and we set up a container or domain compon

[2015-04-05 12:44] artem-russkikh opened #141 "Login error: Maximum call stack size exceeded"
I noticed this after running `npm install` command

![estejs](https://cloud.githubusercontent.com/assets/3540978/6996847/241eeae6-dbbb-11e4-82a8-fde482126def.gif)

It seems to error appeared after updating babel to 5.0 #136

[2015-04-05 13:46] artem-russkikh commented on #141
error occurs on line `const actionName = action.toString();` here https://github.com/steida/este/blob/master/src/client/dispatcher.js#L29

[2015-04-05 14:44] steida commented on #141
Thank you, I will take a look.

[2015-04-05 14:52] steida commented on #125
For God's sake, no /stores nor /actions! Structure app by app features, not by implementation details.
As for locales, they must be injected as data. It's runtime value, not design time so requiring locale does not makes sense.
As for "window._appState confusion". The same again, _appState is runtime per user defined value therefore can't be static. You missed the point of _appState.

[2015-04-05 15:02] artem-russkikh commented on #141
I remove all about actionName, but still can't sign in with valid credentials: 'Please fill out email' error

Debugging here `function dispatchAsync(action: Function, promise: Object, options: ?Object)`,
I found that passed `action` parameter is different than was in commit before changing babel to 5.0 (26b5cec407435e9c7e141239aaffe65c01f8c35d)

Hope this information will be useful

[2015-04-05 15:16] steida commented on #141
Thank you, I will take a look asap, but not today.

[2015-04-05 16:03] steida commented on #141
I know where problem is. https://github.com/babel/babel/issues/1160 Sorry for that. I will no blindly merge pull requests next time.

[2015-04-05 16:17] #128 closed

[2015-04-05 16:18] #141 closed

[2015-04-05 16:51] steida opened #143 "Add react-document-title to all pages"
Localized ofc.

[2015-04-05 17:26] steida opened #144 "Refactor ctrl-shift-s to work across whole app"
Put it to app.react

[2015-04-05 17:26] #131 closed

[2015-04-05 17:26] steida commented on #125
Done.

[2015-04-05 17:26] #125 closed

[2015-04-05 21:57] steida opened #146 "Add IntlRelativeFormat to i18n store."
Backport new i18n store features.

[2015-04-06 04:18] steida opened #148 "Add relative time example"
The problem. How to update times with pure components? Possible solutions:

1) superForceUpdate via flag; slow and ugly as sin
2) stayFresh higher order component; verbose not efficient
3) app/onTick to add current time to app state which enforce rerender; model messed at various places

FreshTime component to wrap minimal amounth of DOM to fast update on animation frame.

[2015-04-07 02:50] steida opened #149 "Remove fastclick"
Not needed anymore.

[2015-04-07 05:28] giltig commented on #149
But it is needed for old iOS devices...

[2015-04-07 08:46] ronag commented on #78
Using (later) decorators (https://github.com/wycats/javascript-decorators) could be a more pragmatic solution, e.g.

[code]

[2015-04-07 14:40] steida commented on #78
Yeah, i like it.

[2015-04-07 18:11] steida commented on #149
I will probably move it into optional tools wiki page.

[2015-04-07 19:42] steida opened #151 "Consider new webpack cheap sourcemaps"
http://webpack.github.io/docs/configuration.html#devtool
Still experimental.

[2015-04-08 20:09] steida opened #152 "Fluxize react router"
Router state should be in app state as well. Easier debugging, not requiring exposing router so much.

[2015-04-08 23:06] steida opened #153 "Use goog/dom/animationframe/animationframe"
It's awesome https://github.com/google/closure-library/blob/master/closure/goog/dom/animationframe/animationframe.js

Wait for official support rather, since cursor seems not to be stable with animationframe.js.

[2015-04-08 23:47] steida commented on #152
It seems react-router `React.render(<Handler />, app)` somehow overrides everything, so even with immutable, whole app is rerendered from scratch. That sucks.

[2015-04-09 02:50] nsfmc commented on #149
would be good to leave a caveat in the wiki that fastclick is still needed for homescreen webapps in ios8

[2015-04-10 00:55] steida commented on #134
Fixed by @solcik, thank you!

[2015-04-10 00:55] #134 closed

[2015-04-10 00:57] steida commented on #111
Give it another try https://github.com/paulmillr/chokidar/commit/beb9db68404a93cac844bbd2f5b5c4e25559d1a5

[2015-04-10 00:58] #66 closed

[2015-04-10 00:59] steida opened #155 "eslint: Detect unused ES6 imports"
https://github.com/eslint/eslint/issues/1978

[2015-04-10 11:13] tcurdt opened #156 "styles are delayed"
When you open the URL first the raw page is shown and with quite some delay styles are getting applied.
That's pretty ugly.

![out](https://cloud.githubusercontent.com/assets/13697/7086582/0e39fa92-df83-11e4-8fe6-b892b27de530.gif)

[2015-04-10 11:35] solcik commented on #156
It is because of setup of webpack - styles are being applied (inline) to page in development mode, this is not happening in production. Styles are extracted using ExtractTextPlugin and putted into css file in production environment.

[2015-04-10 11:50] tcurdt commented on #156
Ah - sorry for not trying production first.
Why the difference between dev and production here?

[2015-04-10 12:10] solcik commented on #156
Dev - webpack dev server - styles are applied without needing to refresh the page

[2015-04-10 12:38] steida commented on #156
@tcurdt Dev pack is app mode for development. With hot reload, not minified, etc. Production mode is app prepared for production. I hope this helps :-)

[2015-04-10 12:38] #156 closed

[2015-04-10 12:46] tcurdt commented on #156
Thanks, fully aware of the distinction :)

...but it seems like with e.g. https://github.com/bradleyboy/yarsk it works without that delay - in production **and** dev.

[2015-04-10 18:05] steida commented on #156
@tcurdt Hardly. It looks like, because there is no server render. Este.js server renders HTML, so what you see is html from the server.

[2015-04-10 19:17] csaintc opened #157 "Attempting to write tests for actions file causes error"
Error:

`FAIL  client/todos/__tests__/actions.js
undefined is not a function
    at /(blah)/este/src/client/state.js:17:35
    at /(blah)/este/src/client/dispatcher.js:11:30
    at /(blah)/este/src/client/todos/actions.js:18:17
    at /(blah)/este/src/client/todos/__tests__/actions.js:5:15`

To reproduce:
* Create client/todos/\__tests__/actions.js
* Input following code:

`jest.dontMock('../actio

[2015-04-11 00:55] steida opened #158 "Move lips and trick to wiki"
Add `david update`

[2015-04-11 19:44] #155 closed

[2015-04-12 15:54] steida commented on #157
https://github.com/jhnns/rewire-webpack

[2015-04-12 20:18] robinpokorny commented on #157
It seems that Jest is having a problem with mocking `lib/state.js`. Altrought Jest should understand classes and prototypes, the way babel translates ES6 class syntax is beyond its possibilities.

I found two ways to (temporarily) enable testing:
* Do not mock `lib/state.js`.
* Create a [manual mock](https://facebook.github.io/jest/docs/manual-mocks.html#content) of `lib/state.js`.

[2015-04-12 21:02] giltig commented on #156
Yeah but I think the whole purpose of server side rendering is to have faster preliminary rendering - not just html but also the styling - css .
why not to embed the css in the server rendering as well?

[2015-04-12 21:47] steida commented on #156
Please read carefully. This is only dev behavior. It means, when you are developing app. The reason for such behavior is - webpack needs it for CSS live reload. Of course I can minify and add css via link file, but such webpack bypassing would turn off CSS live reload. It doesn't really makes sense. Do you understand now?

[2015-04-12 21:48] giltig commented on #156
yup... missed the DEV part :)

[2015-04-12 21:48] steida commented on #157
But the problem is, the actions has to be tested in isolation. It means, no state should be involved at all. We just need to mock dispatch functions somehow. That's all.

[2015-04-13 06:50] robinpokorny commented on #157
Sure it has to be tested in isolation. That is why Jest tries to mock its dependencies and dependencies of its dependencies. One of those is `lib/state.js`, which jest cannot automatically mock. So we should write a manual mock (I should have wrote those in reverse order as manual mocking is a better idea).

Or we can manually mock something "higher", say `client/dispatcher.js` as you suggest. The

[2015-04-13 08:34] 0x80 commented on #73
@steida Thanks for making your code a bit more standardized. I love the current structure. And you convinced me to move back to plain Flux :smile:

[2015-04-13 08:36] ronag opened #161 "nvm?"
https://github.com/creationix/nvm

[2015-04-13 09:33] ronag opened #162 "wallaby?"
http://wallabyjs.com

[2015-04-13 09:33] ronag commented on #162
Needs https://github.com/wallabyjs/public/issues/44

[2015-04-13 10:46] robinpokorny commented on #161
How should este take advantage of the ability to change node.js version?

[2015-04-13 11:36] ronag commented on #161
You can specify the node version required for the project using .nvmrc and then just run `nvm exec node` to always run the project with the supported node version.

[2015-04-13 12:56] steida commented on #161
I believe this stuff belongs to Este wiki. Otherwise Este would be over complicated. The surface area should to be as minimal as possible. Feel free to update wiki and thank you for your effort.

Node version is enforced for Heroku as well.

[2015-04-13 12:56] #161 closed

[2015-04-13 12:57] steida commented on #162
Can you add entry to wiki please? Note somehow that's optional or nice to have thing.

[2015-04-13 12:57] #162 closed

[2015-04-13 13:41] solcik commented on #161
No problem running este on 0.12.* and even io.js.. So

[2015-04-13 14:24] ronag commented on #161
@solcik: You are missing the point. Whatever software you build from este might not work on available or future nodejs version. I have such an example myself.

[2015-04-13 20:56] giltig commented on #125
The new structure is good although I think that if it's feature oriented components should be common
and also remove pages and divide them also to features.
This is a correct feature wise structure and that's how a production project should be build IMHO.

[2015-04-13 23:10] crestenstclair commented on #157
WIP, but this is what I've gotten two after ~ two days of work.

https://gist.github.com/crestenstclair/e1308dac19bead14125b

[2015-04-14 13:07] #111 closed

[2015-04-14 13:07] steida commented on #111
@dmnd I become piping maintainer, and hopefullly fixed it. Please retest.

[2015-04-14 20:04] AlesJiranek commented on #116
could you write some example how to use este with closure compiler instead of uglify please?

[2015-04-14 20:47] steida commented on #116
https://gist.github.com/steida/afbc595a1e2f27e925d9 Hope it helps.

[2015-04-15 08:38] markopavlovic commented on #125
I agree with @giltig , remove pages and make it as a part of features. +1

[2015-04-15 20:54] #153 closed

[2015-04-16 00:01] steida opened #163 "Update to Node.js 0.12"
Once this and maybe others issues will be resolved:

https://github.com/facebook/jest/issues/243

[2015-04-16 00:01] steida commented on #161
@solcik https://github.com/steida/este/issues/163

[2015-04-16 00:14] solcik commented on #163
@steida Oo, do not know why, but...

https://github.com/facebook/jest/issues/243

jest-cli: "^0.4.0"

![screenshot 2015-04-16 02 08 52](https://cloud.githubusercontent.com/assets/1543737/7171809/acc6092c-e3dd-11e4-92a6-a46d92c9175c.png)

[2015-04-16 01:02] steida commented on #42
http://www.paulirish.com/2010/the-protocol-relative-url/

Add it to tips page, remove relative protocols with some comment.

[2015-04-16 01:03] steida commented on #163
Anyway, until there will be compeling reason to go 0.12, Este.js will stay with 0.10.

[2015-04-17 17:59] frankleng commented on #126
this is the code I ended up with
[code]
The server is trying to serve the image file upon initial rendering, which really isn't necessary. Once the page is delivered to the browser, the frontend will take over and fetch these images accordingly.

Above code basically renders <img src="//:0">
ensures a call is never made from the browser, and also no error is thrown about it not being a valid image

[2015-04-17 23:51] steida commented on #126
Check this https://github.com/steida/este/pull/127

[2015-04-18 00:25] frankleng commented on #126
@steida  not sure how that solves my problem. I'm including a logo image for my navbar component,
/navbar
  - navbar.js
  - logo.png

works fine on the frontend, but the server won't take.

[2015-04-18 01:03] steida commented on #126
Idk. It it doesn't work, don't use it. Feel free to send pull request.

[2015-04-18 15:20] 0xR opened #165 "Second change to a file requires restarting gulp"
When you are running `gulp` and you edit a file in for example `src/server` or `src/lib` the server automatically restarts on save. This works every time you edit a new file. However when you edit a file you have edited before again the server will not restart and you changes are not loaded.

Steps to reproduce:
1. Run `gulp`
2. Edit `src/server/express.js` and save
3. Watch the console output
[co

[2015-04-18 15:54] steida commented on #165
Please investigate. Try piping 0.1.6 or its different settings.

[2015-04-18 18:04] 0xR commented on #165
Piping 0.1.6 seems to solve the problem

[2015-04-18 18:08] 0xR opened #166 "Query parameters are not seen by react-router server side"
When I add the following code to a page component it will print `query {}` server side, but `query Object {q: "test"}` client side.

[code]

I will investigate further

[2015-04-18 18:10] steida commented on #166
Ask here please: https://github.com/rackt/react-router/issues

[2015-04-18 18:10] #166 closed

[2015-04-18 18:12] steida commented on #165
Damn. It seems that two years Chokidar version is much stable then new https://github.com/paulmillr/chokidar.

Do you have a time to investigate it? I would check Chokidar issues. Thank you.

[2015-04-18 18:17] 0xR opened #167 "Este is passing the URL incorrectly to react-router"
Since #166 was closed I will continue the issue here.

When I add the following code to a page component it will print `query {}` server side, but `query Object {q: "test"}` client side.

[code]

This is because the render method in `render.js` is passing `req.path` to react-router instead of `req.originalUrl`. Replacing render with the following code will fix the issue:

[code]

[2015-04-18 18:25] steida commented on #167
That's issue I like. Thank you for investigation and sorry for closing. Remember, this is open source. Can you please send pull request?

[2015-04-18 18:31] 0xR commented on #167
There you go

[2015-04-18 18:38] 0xR commented on #165
Sorry, no time today. Tbh I don't have much knowledge regarding gulp or piping (which shouldn't be an issue if I had more time).

[2015-04-18 18:40] #167 closed

[2015-04-18 18:41] steida commented on #165
Nevermind, anyway thank you for report and quick retest.

[2015-04-18 18:41] #165 closed

[2015-04-19 19:52] steida commented on #125
@giltig, @markopavlovic I finally agree. PR anyone? ;-)

[2015-04-25 02:32] steida opened #169 "Next code structure improvement"
- import whole namespaces
[code]

- export items to be exported as object

[2015-04-26 09:25] grabbou opened #170 "Keep DRY inside stores"
Hey,

What about adding a new method to `state` so instead of doing this https://github.com/steida/este/blob/master/src/client/auth/store.js#L35-L40

[code]

which is exactly the same as initialstate.js

[code]
we can call `authCursor(cur => authCursor().resetCursor())` to get those initialstate values back? They can be remembered under this._initialState immutable variable.

Can submit PR with th

[2015-04-26 09:26] grabbou commented on #169
AFAIK the only point when importing whole actions make sense is where you have more than 3 actions, so the readability is significantly smaller. Otherwise, at least to me, it's quite readable to import only methods or actions I am gonna use :)

[2015-04-26 09:27] grabbou commented on #120
I am successfully using https://github.com/quickleft/react-loader in a parent component to preload all the needed data and works quite well. Any other suggestions how we can improve that?

[2015-04-26 15:45] steida commented on #120
gsit

[2015-04-26 15:47] steida commented on #169
I agree :-)

[2015-04-26 15:51] steida commented on #170
Sure it can be improved, but I'm not sure whether state reset method isn't to big hammer for that. As I think about it, it definitelly is. In my app, I'm using immutable records to define initial clean state, and that's how Este starter kit should be updated imho. Feel free to reopen it you don't agree.

[2015-04-26 15:51] #170 closed

[2015-04-26 17:24] grabbou commented on #170
Yeah, sure. Thanks for the amazing inspiration anyway! At least I was able to discuss my own ideas to make sure the React way I have in mind is somehow correct :)

[2015-04-26 17:26] grabbou commented on #120
@steida so clean, nice! Will give it a go later today as I am figuring out the bast way to handle that particular case.

[2015-04-26 17:36] steida commented on #120
Then can send pull request with an example to Este ;-)

[2015-04-26 17:40] steida commented on #170
That's why I created Este.js ;-) Something for inspiration https://gist.github.com/steida/d0710e3664c5bfc195fe :-)

[2015-04-26 18:02] grabbou commented on #170
Yeah! Already using records for all the entries :) Side note effect is I am passing immutable structures as props instead of plain objects (`toJS`) but that's OK.

[2015-04-26 18:09] grabbou commented on #120
Already plugged in. All good. Needed to add `React.PropTypes.element` to `anyOf` as I am using it like below:

[code]

In my case, here's the flow I've decided to go with (the most obvious one, not sure if the best):
- The above route acts as a placeholder for common views inside dashboard that use this store data (e.g. GroupsListPage, GroupsAddPage and so on)
- When the above route loads, it gets

[2015-04-26 19:12] steida commented on #170
Passing immutable structures is good and recommented, because by that shouldComponentUpdate can leverage === check for max performance. You can call toJS where structure is rendered or leverage record auto created getters, like person.name etc.

[2015-04-26 19:14] steida commented on #120
Try React.PropTypes.node for any children.

[2015-04-27 00:56] steida opened #171 "Remove .get syntax, favor immutable record."

[2015-04-27 00:57] steida commented on #170
@grabbou You can even participate. Feel free to resolve this issue https://github.com/steida/este/issues/171 ;-)

[2015-04-28 13:16] steida opened #172 "Piping"
- check updated chokidar
- solve hook issue with react-dev-server, probably must be isolated, so piping will not reset it

[2015-04-28 14:18] grabbou opened #173 "What's the point of `Success` actions?"
Hey,
What's the point of having success actions, if `getItems` is dispatched only when underlaying promises (e.g API calls) are resolved with no errors? In my app, I've currently decided to get keep only `failed` actions to reduce number of actions being dispatched.
With the current flow, the `getItemsSuccess` action will be dispatched before `getItems` which is kinda weird for me, but I do see th

[2015-04-28 14:22] grabbou commented on #143
That looks like a really simple PR to do if still open for any contributions :)

[2015-04-28 14:29] grabbou commented on #169
Can do a PR with that change if you want :smile:

[2015-04-28 16:47] steida commented on #143
Please do it :-)

[2015-04-28 16:48] steida commented on #169
Sure you can :+1:

[2015-04-28 16:49] steida commented on #173
Not sure if I understood you.

[2015-04-28 17:02] steida commented on #143
There are more little issues todo. If you can help open source, open source will help you ;-)

[2015-04-28 18:52] 0xR opened #174 "Dispatcher.js does nothing with the options parameter"
The `dispatcher` function of `dispatcher.js` takes a parameter `options`. But it is just passed around, but ignored. This is probably a todo.

[2015-04-28 19:01] grabbou commented on #173
https://github.com/steida/este/blob/master/src/client/auth/actions.js#L14-L22
What's the point of dispatching `logged` at the end if `login` is dispatched afterwards anyway?

[2015-04-28 19:01] grabbou commented on #143
Yeah I know, but some of them seems to be already done (and are still open), so was just wondering if this one is still open. Will provide few PR's tomorrow :)

[2015-04-28 19:26] steida commented on #143
Ask when in doubt. And thank you :-)

[2015-04-28 19:27] steida commented on #173
https://github.com/steida/este/blob/5518bfabb238be6b75388a8c72d673d3ef20227d/src/client/user/store.js#L13

[2015-04-28 19:28] steida commented on #173
But maybe you are right. Login should be used instead. Feel free to send PR ;-)

[2015-04-28 19:32] steida commented on #174
Yes. I'm not sure what is correct behavior when the same action is dispatched before previous is done. It's not a severe issue, because I'm disabling UI with pending actions, so user can't submit form two times for example. But some actions should be probably allowed to be called as offten as possible... I planned some flag like "forceDispatch" or something like that, but I have flags. They are to

[2015-04-28 22:08] grabbou commented on #174
There was a discussion in Flux repository about that I believe. I had the same issue earlier today and ended up with an error `Cannot dispatch an action when another action is being dispatched` (something like that). I've ended up wrapping my action in a `setTimeout` that was actually suggested by Flux guys to run the action out of the current iteration. In my case, I was sending an action on `com

[2015-04-28 22:19] steida commented on #174
That's not exactly the same issue with promised based async dispatching, but probably should be consistent, which already is...

[2015-04-28 22:19] #174 closed

[2015-04-28 23:39] steida opened #175 "Add example for component state"
Not everything has to be stored in global app state via Flux. Component state, which is lost when component is unmounted, is good enough for small UI changes like toggles or inline edits.

[2015-04-29 11:57] grabbou commented on #175
Yeah, I've came up with this thought two days ago when I was doing an input field where user was pasting a link and then, clicking "GO" to see the `quiz` that was waiting for him. So, maybe something like that...a component with a input field "Copy Todo with an ID: <input>". Can be called copyTodo.react.js and located in a `todos` folder.

[2015-04-29 15:04] steida commented on #175
Always use this.setState({selectedTodos instead this.state.selectedTodos

[2015-04-29 15:12] grabbou commented on #175
Yeah, obviously... Anyway, initial props to be set in the constructor :) Will prepare something either today or tomorrow then.

On a side note - I've recently encountered an issue that only happens when using ES6 classes - class methods are not bind to `this` which happen in ES5 by default, so might be worth showing + describing with a small comment just so others know whats going on. There are fe

[2015-04-29 16:31] steida commented on #175
```<button onClick={() => this.onButtonClick(todo)}>x</button>```

[2015-04-29 16:38] #143 closed

[2015-04-29 16:38] #173 closed

[2015-04-29 20:43] steida commented on #152
Wait for official solution.

[2015-04-29 20:43] #152 closed

[2015-04-29 23:23] #169 closed

[2015-04-29 23:25] steida opened #177 "Remove pages dir"
`components/homepage.react.js`
`components/aboutpage.react.js`
`foo/index.react.js`
`bar/index.react.js`

[2015-04-30 06:19] giltig commented on #177
I actually did something different. I put every thing generic under app folder and every common component under common directory. No components directory

[2015-04-30 08:40] tajo commented on #175
:+1: I also use local state for toggles or single inputs.

[2015-05-02 07:44] exhuma commented on #27
I'm getting the same error, albeit in a project of my own. Was led here by google ;)

What was your fix? Upgrading/Downgrading closure? If yes, to which revision?

[2015-05-02 18:42] steida commented on #27
`bower cache clean`, for some reason bower caches downloaded zip. Btw, in new ES6 Este, I don't use bower anymore. Closure Tools were moved into npm.
[code]

[2015-05-03 11:25] robinpokorny commented on #175
I am afraid I disagree.

Of course, this also came to my mind and I was playing with this idea for some time. However I come to the conclusion that nothing should be stored in local state of a component. Here I present my arguments:

* __Representing elsewhere__:  Even the smallest change could make a huge impact on the page. An inline edit could make the form invalid, which we might want to displ

[2015-05-03 17:21] steida opened #179 "eslint warnings makes circleci build false negative"

[2015-05-04 09:25] AlesJiranek opened #180 "Jest tests are slow"
I'm trying to write some basic tests using jest and I figured out that Jest is super slow.
I have three simple tests and running them takes 5 seconds.
When I clone este and run gulp jest, it takes ~1.4 sec, which is so much for running only one test for getrandomstring.js

I tried to google how to improve tests speed but I haven't found anything interesting. Lot of users recommends to use mocha in

[2015-05-04 10:45] ronag opened #181 "react-engine?"
https://github.com/paypal/react-engine

[2015-05-04 12:11] AlesJiranek commented on #180
I just tried to setup mocha and run tests for my project and they passed in 222ms. I think it's big difference to 5sec

[2015-05-04 12:55] ronag commented on #180
Possibly related, https://github.com/facebook/jest/issues/116

[2015-05-04 14:03] steida commented on #180
I have to say I didn't liked jest, because I expected issues with auto mocking. I was using Mocha for years in my previous Este stack also with JSDOM, and it was super fast.
I have to rethink unit tests strategy for new Este, probably going back to Mocha. I will also add test strategies into wiki.

[2015-05-04 14:28] steida commented on #181
I have seen that. I seriously don't understand why anybody needs that. Este approach seems to be more modular and flexible, and without frameworks. Feel free to correct me.

[2015-05-04 14:28] #181 closed

[2015-05-04 14:36] markopavlovic commented on #175
@robinpokorny I think he ment on components which you are sure about being a short term dynamic component. I think this depends a lot on the app or something else you are building.

[2015-05-04 14:41] tajo commented on #175
@robinpokorny Let's take an example - a dropdown component (selectbox) and its open/close state.

I am pretty sure that opening/closing always will be handled by the component, not elsewhere.

I don't think so it will grow larger. If I need more functionality I can use composition.

I actually prefer that the local state will be reseted with every mount (or what you mean by breaks pure render?).

[2015-05-04 15:32] grabbou commented on #175
Well, I agree. Handling opened/closed state for dropdown is a perfect example to me showing what should be kept inside a component. There's no real profit of keeping that in a global app state unless you want to keep the UI state between reloads which is pretty uncommon in that case AFAIK.

[2015-05-04 15:34] steida commented on #175
+1

There are important app logic data, which always belong to global immutable app state, and UI short living data, like toggles, which could be purely component state specific.

[2015-05-05 09:11] ronag commented on #181
Agreed.

[2015-05-05 22:46] steida opened #182 "Update es-lint dependecy"
And fix some weird error.

[2015-05-05 23:48] steida opened #183 "Check webpack/react-starter"
And use what seems to be useful :-) https://github.com/webpack/react-starter

[2015-05-06 01:01] steida opened #184 "Consider replace forceUpdate with setState and use strict top botttom props passing."
It will simplify things for beginners and allow to use PureComponents only.

[2015-05-06 01:34] steida opened #185 "Update store getter syntax"
The problem with current syntax is someone can easily misuse it, and add mapping, sorting, or even new object creation inside getter, therefore effectively destroy PureComponent shouldComponentUpdate check.

Current syntax:

[code]

Manipulations belong to action handler or component render only. Never put them into getters. This proposal doesn't incite user to misuse it.

[code]

[2015-05-06 06:54] ronag opened #186 "Never pass down state, only ids"
Just thinking out loud.

One of the main things with relay (as far as I understand) is that parents do not decide what data the children need, i.e. minimal coupling.

What if we only pass down ids and parent props (no state) down to children and then each component has to build its state from the stores themselves. Gives a nice way to switch over to relay later on. Might have some performance impa

[2015-05-06 12:58] steida commented on #186
I'm doing that. https://gist.github.com/steida/1452bc7a1b0c2d6bf221#file-gistfile1-js-L32

As you can see, higher order component initiate loading when component is mounted (and clean everything when component is unmounted). You can pass props into component https://gist.github.com/steida/1452bc7a1b0c2d6bf221#file-gistfile1-js-L38 or even into parent component.

[2015-05-06 12:58] #186 closed

[2015-05-06 15:27] ilionic opened #187 "stylus framework (Jeet) functions scope"
Trying to implement https://github.com/mojotech/jeet
Basically I import Jeet in `app.styl` and all works within the scope of `app.styl`,
but not in hot-loaded styles. Looks like mixins scope of Jeet is not exposed globally.

Of course if I do import inside of hot-loaded style it works, but it feels wrong. Any suggestions?

[2015-05-06 16:44] #171 closed

[2015-05-06 16:44] #185 closed

[2015-05-06 16:45] steida commented on #129
Solved.

[2015-05-06 16:45] #129 closed

[2015-05-06 16:46] steida commented on #103
Do that please :-)

[2015-05-07 00:59] steida opened #188 "Purify app"
- make all components pure
- pass global app state via app.react this.setState, remove this.forceUpdate, top bottom ftw
- replace stores getters with top bottom passed stores cursors
- rename $pendingActions to pendingActions
- because store by default doesn't contain any getter, it's cursor must be required by app.react
- add example to bypass router context check for leafs components via Dan Abr

[2015-05-07 10:44] grabbou commented on #177
I am not sure if that's a good improvement. I quite liked the fact that so-called `pages` (components grouping different ones) were put in a single directory and state-less ones, like `BarListItem` or `FooList` were in `foo` and `bar` directories. With the new structure, they are all going to be mixed up. What you think @steida ?

[2015-05-07 11:02] ilionic commented on #187
Found some answers here http://bensmithett.com/smarter-css-builds-with-webpack/
Basically indeed scope is isolated, and apparently using @import inside of modules is fine.

[2015-05-07 11:02] #187 closed

[2015-05-07 11:19] grabbou commented on #175
I've just added my PR with a `click to edit` feature, check it out here #189. Any thoughts or improvements we can do? Tried to make it as simple as possible.

[2015-05-07 15:50] steida commented on #175
Thank you! I will take a look.

[2015-05-07 15:51] steida commented on #177
I am still not decided and having page directory in my app as well.

[2015-05-07 15:52] steida commented on #187
Thank you for sharing knowledge :-)

[2015-05-07 20:14] raphaelvalerio commented on #124
@ArnoBuschmann If you're still interested in using 'js-csp' in your project, I have gotten it integrated into a Webpack/Babel project of my own (though it is not using Este, I should point out).

In your wepback.config.js loaders, you can write the following:

    {test: /\.js$/, exclude: /node_modules(?!.*(\\js-csp))/, loader: 'babel-loader?optional=runtime'}

I prefer using `include` instead of

[2015-05-08 10:35] andykenward opened #190 "add in waitFor from Flux Dispatcher"
I want to be able to use [waitFor](https://facebook.github.io/flux/docs/dispatcher.html) in the [dispatcher](https://github.com/steida/este/blob/master/src/client/dispatcher.js).

[2015-05-08 19:42] steida commented on #190
Just yesterday I realized it's not there :-) It's just one method, can you please send pull request?

[2015-05-08 20:56] steida opened #191 "Add Firebase higher order component example"
https://gist.github.com/steida/570d007c94a25fa68443

Explain, why hooking component life cycle with on/off is so gold.

[2015-05-08 20:56] grabbou commented on #190
If not, I can add it, so just let me know

[2015-05-08 21:00] steida commented on #190
@grabbou You are so awesome, thank you.

[2015-05-08 23:04] steida commented on #188
Then we can display list of updated components via helper metod in PureComponent. Pretty usefull for huge UI rerender tuning.

[2015-05-09 02:30] steida opened #192 "Replace auth form with record."
Because manual reseting sucks etc. Add example with reviver delegated to concrete store. @ronag You were particulary correct with delegating reviver to store. I think I have better implementation for issue you raised.

[2015-05-09 03:49] steida commented on #192
https://gist.github.com/steida/4de1cf7a02aecc06d8aa

[2015-05-09 03:53] steida commented on #184
Ok, will do.

[2015-05-09 03:53] #184 closed

[2015-05-09 04:01] steida commented on #188
Top bottom props passing really makes sense. Using forceUpdate was wrong decision. While top-bottom seems to be more verbose, it isn't with global app state. Store getters are superfluous. Store can provide only mappers for various joins, sorts, filters, etc, but it must not read from imported cursor. Maybe state cursor should be restricted to CRUD only methods. Reading from cursor seems to be ant

[2015-05-09 04:09] steida opened #193 "Add displayName to higher order components."
Like Authenticated.displayName = `${Component.name}Authenticated` It's usefull for updated components detection.

[2015-05-09 06:35] grabbou commented on #190
Yeah would be great :)

[2015-05-09 12:37] tajo commented on #188
If I get it right, you are going to pass the whole appState as `<RouteHandler appState={state} />`in `app.react.js`. Then, in `todos.react.js` you use `<TodoList todos={this.props.appState.getIn('todos')}>` ?

[2015-05-09 17:11] grabbou commented on #192
Woo! So glad we now have a green light to work on this feature!

[2015-05-09 17:27] steida commented on #192
Already implemented in my app. I will update Este.js soon.

[2015-05-09 22:59] steida opened #195 "Add explanation to PureComponent Link context issue."
this.pureComponentLastPath can't be undefined even after previous set without explicit unmounting, because shouldComponentUpdate does not work correctly with this.context. It's React isssue. Nothing several, just some components are updated more often than needed.

[2015-05-09 23:44] steida commented on #195
https://github.com/gaearon/react-pure-render can be used where react-router context workaround isn't needed, aka for components without router Link.

`import PureComponent from 'react-pure-render/component'`

[2015-05-10 10:37] grabbou commented on #190
Ok, will add waitFor today.

[2015-05-10 23:56] steida opened #196 "Add new debug tools"
- app state diff on change
- since pure Este will use PureComponent only, we can easily log updated components with props/state diff.

https://github.com/intelie/immutable-js-diff

[2015-05-11 09:26] andykenward commented on #190
@steida @grabbou great stuff guys. Thanks

[2015-05-12 01:42] #175 closed

[2015-05-12 01:42] steida commented on #175
Don't encourage local state. With new getters-less approach, it's much easier to use global app state.

[2015-05-12 04:04] steida opened #198 "Add inline edit component"
- edit mode on content click, or edit/add buttons click
- show save/cancel buttons
- register beforeunload
- escape cancels edit mode
- confirm callback for dirty change
- input or closure growing textarea

[2015-05-12 08:10] grabbou commented on #198
Ive added this particular functionality so maybe let's focus on adding few improvements you've mentioned? Can do that if you want.

[2015-05-12 15:29] steida opened #199 "Add example for server sider initial state merge with user custom state."

[2015-05-12 15:54] steida commented on #198
Wait please. I will purify app and it will close severals issues and then we can continue :-)

[2015-05-14 01:05] steida commented on #179
update eslint, retest

[2015-05-14 09:52] grabbou opened #203 "Better config with nconf"
Would be nice to use e.g. `nconf` so the `config.js` looks like this:

[code]

With the above config, we can now set env variables e.g in Heroku dashboard like this `mongo__host` to override development credentials.

WDYT?

[2015-05-14 10:02] grabbou opened #204 "What's the point of exporting function from express.js"
As above, why not just require('./express') instead of require('./express)(); ?

[2015-05-14 14:56] steida commented on #204
It's result of unfinished refactoring. Don't worry, will be removed soon.

[2015-05-14 14:57] steida commented on #203
I think it's great :+1:

[2015-05-17 05:02] #196 closed

[2015-05-17 05:03] #195 closed

[2015-05-17 05:03] #193 closed

[2015-05-17 05:03] #192 closed

[2015-05-17 05:03] #188 closed

[2015-05-17 05:12] #182 closed

[2015-05-17 05:12] #177 closed

[2015-05-17 05:12] #158 closed

[2015-05-17 05:13] #149 closed

[2015-05-17 05:13] #144 closed

[2015-05-17 05:14] #146 closed

[2015-05-17 05:14] #115 closed

[2015-05-17 11:03] arielschiavoni opened #205 "shallowEqual in PureComponent"
Hi @steida,

I am following `este` for my own project setup and it is pretty amazing work, thanks for sharing. :-)

I have a question regarding the use of [shallowEqual](https://github.com/steida/este/blob/master/src/client/components/purecomponent.react.js#L33) in `PureComponent`

According to this [react blog post](http://facebook.github.io/react/docs/advanced-performance.html#immutable-js-to-th

[2015-05-17 11:44] grabbou opened #206 "Preload and merge user specific state."
I've managed to solve that by passing additional optional parameter to `render` called `data` that was then merged with `initialState` so I was able to query my API for additional parameters as well as do a custom database lookup for a few details.

[2015-05-17 11:44] #206 closed

[2015-05-17 11:45] grabbou commented on #199
I've managed to solve that by passing additional optional parameter to `render` called `data` that was then merged with `initialState` so I was able to query my API for additional parameters as well as do a custom database lookup for a few details.

[2015-05-17 11:46] grabbou commented on #199
I think the `example` can just be a `promise` that resolves within after a given time with a one extra hardcoded todo that is then merged with the todos provided inside initialstate.

[2015-05-17 11:48] grabbou commented on #203
Worth implementing or let's put it into wiki pages?

[2015-05-17 11:49] grabbou commented on #204
Not sure if you already started but I can submit a PR with a refactor I've done recently. The essential idea of it was to make the whole structure a bit more nested so adding new controllers/routes aka handlers as well as socket.io connection is super easy.

[2015-05-17 12:59] giltig opened #207 "Observables as state instead of Flux"
Hi,
I would recommend to replace the Flux boilerplate (dispatcher, actions, stores) with observables of rxjs for instance.
It's very flexible and simple and also you can have a filtered observable component which even makes Relay redundant (because you get declarative data requirements in your component without nonstandard apis like GraphQL and  frameworks like Relay).

[2015-05-17 14:05] ronag commented on #207
:+1: I do this together with Firebase.

[2015-05-17 14:07] ronag commented on #207
https://medium.com/@milankinen/good-bye-flux-welcome-bacon-rx-23c71abfb1a7

[2015-05-17 14:08] ronag commented on #207
Though it is kind of border edge of out scope for este.

[2015-05-17 15:50] giltig opened #208 "Webpack production build"
Hi,
why not to config  devtool: 'eval-source-map' for production as well?

It is much faster

[2015-05-17 19:28] steida commented on #208
I'm using source maps only for dev. I know some people are using them also for production, but pretty print is good enough for me. I don't know how to set private (a must) sousrce maps. https://rollbar.com/blog/post/2013/07/25/debug-production-errors-in-minified-javascript-with-source-maps-and-rollbar

Feel free to reopen issue with additional info.

[2015-05-17 19:28] #208 closed

[2015-05-17 19:34] steida commented on #207
As for "which even makes Relay redundant" Not at all! Read https://gist.github.com/wincent/598fa75e22bdfa44cf47 Relay is a big thing and definitelly nothing I would reinvent.

As for "nonstandard apis like GraphQL" I bet it will be standard soon enough after release. It's exactly what community needs.

As for Observables instead of Flux. No. Once I will have a time, I will add https://github.com/u

[2015-05-17 19:34] #207 closed

[2015-05-17 19:38] steida commented on #205
Because props and state are not immutables objects. Only their props are.

[2015-05-17 19:38] #205 closed

[2015-05-17 19:40] giltig commented on #207
I  disagree.
A friend made a good comparison of GraphQL vs observables functions as to SQL vs LINQ and I think it is a good comparison. If you have a way to store the data and let it be reactive - react to events such as user interactions and server notifications, and also allow it to be filtered and mapped and so on easily so each component will get what it needs - well then there you have it you

[2015-05-17 19:45] steida commented on #204
As for "why not just require('./express') instead of require('./express)(); ?"

1) We want ES6 import as much as possible, require is from commonjs.
2) `require('./express)();` is typical example of smart over explicit code. Always prefer explicit code.

Why express is in express and not in main.js? Because it would be single responsibility principle violation. Main is main, and it will contain mo

[2015-05-17 19:45] #204 closed

[2015-05-17 19:46] steida commented on #207
You didn't mention whole Relay framework, which we can't compare because it wasn't released yet. I am not going to do anything big, before its release.

[2015-05-17 19:47] steida commented on #207
Have you seen that video, did you read gist I posted?

[2015-05-17 19:50] steida commented on #203
I suppose it's worth implementing. Can you create PR please?

[2015-05-17 19:51] steida commented on #199
I agree. Can you send PR please?

[2015-05-17 19:52] giltig commented on #207
I have seen the video and read the gist.
I also can tell you that until I grasped the power and simplicity of observables I was expecting Relay myself.
However now I understand there's a simpler solution and more powerful and without using frameworks and even working with REST API's .
I think it's a better way - even a framework from Facebook - is still a framework and I prefer a flexible library

[2015-05-17 19:52] steida commented on #190
@grabbou can you add it pls? Thank you!

[2015-05-17 19:54] steida commented on #207
Thank you for your opinions, I read them carefully. I can change mine any time. Can you demonstrate it on Este.js fork please?

[2015-05-17 20:41] grabbou commented on #203
Yeah, will send all the PR's tomorrow including other issues as well!

[2015-05-17 20:42] grabbou commented on #204
All righty, thanks for the explanation. Looking forward to see those new features!

[2015-05-17 20:43] grabbou commented on #190
Yeah, already got it working in my last Este.js powered project, will make a PR tomorrow with other features as well

[2015-05-17 20:44] grabbou commented on #55
Flow seems to be in few files already although what keeps me away from using it in production is lack of WebStorm plugin atm (or things may have changed since last Monday)

[2015-05-17 21:36] steida opened #209 "Implement better undo/redo for todos."

[2015-05-18 00:33] steida opened #210 "Split todos style"
Into .new-todo, .todo-list, .todo-item
add requires like require('./foo.styl');

[2015-05-18 00:46] steida opened #211 "Run webpackDevServer in separate process"
There are two annoying issues I blame webpackDevServer is run in the same process as app.

1) Piping with hook: true restarts app, and it is a good thing, but it seems webpackDevServer is restared as well, which makes F5 page reload failing for short period of time.

2) Notifier does not report syntax error for server code.

[2015-05-18 00:47] steida commented on #211
Omg, I can't assign more people. @grabbou, @ronag, @tajo

[2015-05-18 04:36] steida commented on #198
Done :-)

[2015-05-18 04:36] #198 closed

[2015-05-18 04:37] #103 closed

[2015-05-18 04:37] #100 closed

[2015-05-18 04:37] #71 closed

[2015-05-18 06:37] mikker commented on #71
This is probably defunct now with Heroku's new Free plan (6 hours of sleep per day required).

[2015-05-18 08:18] grabbou commented on #210
Yeah, any ideas on what `CSS` pattern should we pick? We can use `BEM` in particular, not sure if you like it or not.

[2015-05-18 08:31] teaegg opened #212 "app.styl"
[code]

remove ` > `
or `#app > .page > header`

[2015-05-18 08:39] grabbou commented on #212
Yeah, feel free to submit PR, if not, I'll take care of it while doing #210

[2015-05-18 10:35] grabbou opened #213 "Buttons are not a page"
Should be under `todo/buttons` imo.

[2015-05-18 11:17] grabbou commented on #209
Need to play around with it later today and will get back with my thoughts :D

[2015-05-18 11:21] grabbou commented on #80
What you think about having translations on per `feature` basis? when the app grows, it's easier to maintain all the stuff (that's what i've done in a big Angular app in the times when I was in love with it) and then, used loader to merge them all into one json.
It can either be a single i18n.json file inside a feature (as long as we want to keep them nested) or a i18n folder with `prefix` (en_US.

[2015-05-18 11:23] grabbou commented on #80
Also this might be worth investigating http://formatjs.io/react/. The current `msg` can be easily tweaked to serve as a proxy to `this.getIntlMessage`.

[2015-05-18 11:25] grabbou commented on #199
Yeah, will clean my code a bit and push something later today.

[2015-05-18 12:44] grabbou opened #218 "Refactor server"
by @steida long time ago

The idea is to take all the goodies and features provided by middlewares and use them wherever possible. Instead of having all files living in the `server` folder which makes it quite hard to add new bits like API endpoints, I suggest using sub-apps which will allow quick spawning of new elements.

Plan:
- Move all React related things (render, html) to a `frontend` direc

[2015-05-18 13:35] grabbou commented on #181
Well, that actually seems pretty cool if you want a quick robust solution to build fully server-rendered no-ajax app (say goodbye to plain `htmls` everywhere). @ronag have you used it already before? Any issues so far?

[2015-05-18 17:56] teaegg commented on #212
Yes. there is a '.page' following the '#app'
the position of header is incorrect on chromium for now.

[2015-05-18 18:38] teaegg commented on #218
Great idea.
The `locales fetching api` will also work.

[2015-05-18 19:33] giltig opened #220 "Internationalization"
Hi, shouldn't everything be internationalized ?
Also menu links ? Home, Todos, Me etc..

[2015-05-18 19:33] vojtatranta commented on #109
+1 for lazy loading

[2015-05-18 19:43] grabbou commented on #220
See #80 :) Feel free to add missing translations, I've added few of them a week ago, but there are still some parts that need loving!

[2015-05-18 19:52] grabbou commented on #109
https://github.com/rackt/react-router/blob/master/examples/partial-app-loading/app.js I think this example is good enough yet provided by react-router authors :)

[2015-05-19 00:21] #109 closed

[2015-05-19 00:23] steida commented on #212
It seems to be ok with last Chrome. Feel free to reopen with PR.

[2015-05-19 00:23] #212 closed

[2015-05-19 00:32] #190 closed

[2015-05-19 00:38] steida commented on #218
Wow. Definitelly makes sense. But please try to avoid huge refactors or redesigns. This task should be divided into smaller logical steps.

[2015-05-19 00:39] #203 closed

[2015-05-19 00:45] steida commented on #80
I investigated it. Msg is simpler imho.

[2015-05-19 00:46] steida commented on #220
Great! We should finish that localization thing.

[2015-05-19 01:02] steida commented on #179
Hmm, it seems gulp-eslint can fail only on error, ok.

[2015-05-19 01:02] #179 closed

[2015-05-19 01:17] steida opened #221 "Fix peer dependencies."
![screen shot 2015-05-19 at 03 08 12](https://cloud.githubusercontent.com/assets/66249/7693615/6aa01e64-fdd4-11e4-8752-3f74c69a19f6.png)

[2015-05-19 03:39] steida opened #222 "Rename PureComponent to Component."

[2015-05-19 04:06] #222 closed

[2015-05-19 07:58] grabbou commented on #218
Shall I try to create an issue for each point of the refactor described above where it makes sense obviously? :) Sounds a bit big, but it's mainly all about making a new folder and exposing one middleware.

[2015-05-19 08:24] grabbou opened #223 "Improve inline todo edit"
- isEditable visual hint, optionally explicit edit button.
    - Optionally save and cancel buttons.
    - Growing textarea for multilines. Probably make a GoogTextarea component.
      https://github.com/google/closure-library/blob/master/closure/goog/ui/textarea.js

[2015-05-19 08:26] grabbou opened #224 "Consider moving `editable.react` to lib"
And prepare it for publishing as a separate module at some point, what you think @steida? Worth doing?

[2015-05-19 11:19] grabbou commented on #218
Part one done. Finally managed to push the stuff I've done over the night to the git repo. Waiting for the feedback from all you guys in the #225. Let me know what you think!

[2015-05-19 11:27] grabbou opened #226 "Update piping to 1.0.8"
Ref: #172

[2015-05-19 11:30] grabbou commented on #148
See https://github.com/andreypopp/react-time/blob/master/src/index.js

[2015-05-19 11:41] grabbou commented on #148
Well, what about doing something we've done with `editable`?

The TimeComponent has in-component immutable State with property `refreshInterval` and `currentTime`. These elements are set via `props` which allows having multiple timers with different settings (no global setting).

Inside `componentDidMount` we setup an interval that we then clear in `componentWillUnmount`. The interval calls a meth

[2015-05-19 11:57] grabbou opened #227 "Remove `linkFavicon` from html.react.js"
No point when using `serve-favicon` imo.

[2015-05-19 13:59] steida commented on #223
I will create GoogTextarea

[2015-05-19 14:00] steida commented on #224
Yes, it is.

[2015-05-19 18:59] grabbou commented on #211
On a side note - maybe worth publishing as a separate module, similar to what Jed done with its `gulp` config https://github.com/JedWatson/react-component-gulp-tasks

[2015-05-19 19:08] grabbou commented on #183
Updating loaders to handle fonts and images (as mentioned elsewhere as well)?

[2015-05-19 19:18] grabbou commented on #211
Well, AFAIK after checking out the `Gulpfile` you already run the `src/server` in the background + `piping` says:

Wasn't able to reproduce it unfortunately.

[2015-05-20 13:28] steida opened #228 "Add this to tips or instalation instructions."
sudo chown -R $USER /usr/local

from http://howtonode.org/introduction-to-npm

[2015-05-21 08:37] steida opened #229 "Este for npm components workflow"
Basically it's the same dev stack, so can be used right now, but I should describe the whole process. I would rather do not create another steida/este-component stack, even though it would be a cleaner solution maybe. As I see it, what we need is a gulp task for "cleaning" project for empty app and empty component.

For component
- split deps to dev and general in package.json
- write component in

[2015-05-21 21:04] teaegg opened #230 "load data when components display on viewport"
can pureComponent extends a high order viewport-binding component that allows loading data when its visible?

[2015-05-21 21:18] teaegg commented on #230
and also works with server-side rendering.

[2015-05-21 21:28] teaegg commented on #230
or kind of image loader.
Loading images blocks the whole page.

[2015-05-21 22:39] steida commented on #230
use gitter please for such questions

[2015-05-21 22:39] #230 closed

[2015-05-23 18:53] steida opened #235 "Consider React Reusable Component Factory"
https://medium.com/javascript-scene/jsx-looks-like-an-abomination-1c1ec351a918

[2015-05-23 19:44] steida opened #236 "Update css-loader"
Review updates, check if everything works, update package.json.

[2015-05-23 20:15] grabbou commented on #236
Yes sir!

[2015-05-24 08:23] TomClarkson opened #237 "Deployment"
Would some server provisioning be in the scope for este? Is it recommended to just use heroku?

[2015-05-24 17:15] steida commented on #237
Heroku is good enough. I have to investigate docker deployment. My friend wrote instructions for it.

http://www.prskavec.net/2015/05/12/migrate-heroku-nodejs-website-to-heroku-docker/

[2015-05-24 20:09] steida opened #238 "Replace Closures in component event handlers with explicit binding."
This pattern seems to be nice:
[code]
but it isn't.

Closure is created everytime component is rendered, which can have a lethal effect to shouldComponentUpdate check therefore rendering performance. Not always, but one of Este design principle is: __Don't make developer think, limit possibilities to achive almost the same behaviour.__

For that reason, the only one correct and recommened approach

[2015-05-24 22:30] #236 closed

[2015-05-24 22:30] #238 closed

[2015-05-24 23:07] steida commented on #238
Hmm, I was wrong. Sorry.
[code]
is ok, if component rerendering is protected by its immutable props.

[2015-05-24 23:52] ilionic commented on #237
Planning to try deployment soon with Docker on Digital Ocean.

[2015-05-25 06:26] XeeD opened #240 "Fix action logging in Chrome"
https://github.com/steida/este/commit/2506dc5d69ea68f19dd23171e58bd2ceaf206a8f

[2015-05-25 06:26] #240 closed

[2015-05-25 18:13] steida opened #241 "Add example for react-transmit"
https://gist.github.com/XeeD/23824f4626bd29673a44

[2015-05-25 21:44] steida commented on #220
Done :-)

[2015-05-25 21:44] #220 closed

[2015-05-25 22:13] steida opened #243 "Migration to Este organization"
este/app - an empty app
este/todos - current app
este/cli - our brand new cli tool
este/site etc.

It's possible to move project with its stars? I hope so.

Discuss @grabbou @tajo @ronag @mikker

[2015-05-25 22:28] grabbou commented on #243
+1
As per Github help, when transferring a repo, all stars and stats are transferred as well (but haven't done it yet so need to ask)
CC: @jedwatson

We will discuss este/app when the repo is created as there are couple of things that need to be sorted to make `este-cli new` command better :)

[2015-05-26 00:18] #213 closed

[2015-05-26 00:59] steida opened #244 "Client side errors reporting to server url endpoint."
I already had such feature in old Este. Google Closure error reporter is powerful.
https://github.com/google/closure-library/blob/master/closure/goog/debug/errorreporter.js

Log and report
-  [ ] all client side errors
-  [ ] all promise uncaught errors
-  [ ] last app state snapshot
-  [ ] last several app actions with data

By default, it should use some server-less db like Firebase

[2015-05-26 06:23] lukas-vlcek commented on #243
AFAIK it is. I did it in the past and worked well.

[2015-05-26 06:32] mikker commented on #243
Big :+1:

[2015-05-26 06:59] XeeD commented on #241
What if I fork Este.js, implement react-transmit in there and link the forked repo from Wiki with explanation of the steps?

[2015-05-26 07:32] grabbou opened #245 "Link to CLI tool"
It's still alpha but the more feedback the better imo.
https://www.npmjs.com/package/este-cli

[2015-05-26 07:49] grabbou commented on #213
That was a part of my PR (one more conflict to resolve) but that's ok haha :)

[2015-05-26 07:49] grabbou commented on #243
@steida is this your account -> https://github.com/este ?

[2015-05-26 07:51] grabbou commented on #243
Imo, once organisation is created, we should set up gh-pages driven website so we have not only a better place for all those `wiki` things that we keep adding all the time but also a nice placeholder for telling people we we are.

[2015-05-26 07:53] grabbou commented on #229
Hm, is this something we can move to `cli` now? `este-cli new myapp --clean`

[2015-05-26 10:55] tajo commented on #243
:+1:

@grabbou yes please, gh-page backed by markdown would be nice. This is a good example how to do it: https://github.com/gaearon/react-dnd

[2015-05-26 13:16] ironer opened #246 "2 more steps for i18n data structure and API"
I would like to continue on the topic of massages.js format and functionality, which could be included directly in the translation file. In previous PR we finished 2 steps:

1) choosing simple way for translation of both text and HTML
2) choosing data structure and API for language specific lists, which are well prepared for React components

But there are 2 more things to solve to have translatio

[2015-05-26 14:16] grabbou opened #247 "Choose style guide to use within the organisation"
There are couple of style guides like `idomatic` or `airbnb`.
Can we choose one and stick to it? It doesn't matter to me as long as it uses 2 spaces (not tabs).
If not, I am gonna pick the one I am comfortable with for the `cli`.

[2015-05-26 14:53] grabbou commented on #243
Good, does anyone can propose some colours or design style Este.js should follow?

[2015-05-26 15:37] ironer commented on #243
I got motto for Este.js: "As rock solid as cutting edge can be." ;-)

[2015-05-26 16:58] steida commented on #243
:-D

[2015-05-26 17:01] steida commented on #247
I am using this one https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml
Pretty good stuff from times when Google was interested in JavaScript.

[2015-05-26 17:28] grabbou commented on #247
I used to be with `airbnb` but recently I am with my own.

[2015-05-26 18:07] grabbou commented on #247
Looks like my dream job is no longer there :( Need to get in touch with Apple recruiters!

[2015-05-26 19:12] PetrSnobelt commented on #35
I hope it also provide generating style in build time, so app don't "flash" after style is applied on client

[2015-05-26 20:58] steida commented on #35
@PetrSnobelt With server side rendering, app will never flash. Without it, inline styles will not help, because css in header is loaded faster then js script in body.

[2015-05-26 20:59] ilionic commented on #241
Yes, Please! Finally looks like decent solution on async data.

[2015-05-26 20:59] steida commented on #247
You already have a dream job. Working on Este.js ;-) We only have to figure out, how to pay you for it :-)

[2015-05-26 21:02] ronag commented on #35
Actually, using react-style the app never flashes. Even in dev. Since the styles are rendered inline into the html on server side. i.e. html and styling arrives at the same time.

[2015-05-26 21:04] steida commented on #213
Oh, sorry!

[2015-05-26 21:06] steida commented on #245
Let's propagate it at sunday. Ok?

[2015-05-26 21:15] grabbou commented on #245
Yes sir :guardsman:

[2015-05-26 21:17] grabbou commented on #35
Looks quite promising but I am still not a huge fan of it. It's cool for creating component-specific stylesheets but looks like fallback is still needed to provide application-wide classes.

[2015-05-26 21:43] steida commented on #35
Same here. I am quite happy with webpack require approach.

[2015-05-26 21:43] steida commented on #245
Use Mocha.

[2015-05-26 21:46] steida commented on #246
Heading to SF, will review in few days. Thank you!

[2015-05-26 21:48] steida commented on #241
@XeeD Wait for recent server refactoring PR. I am going to merge them right now. Then fork makes sense. We will add it to este org as este/app-react-transmit or something like that leter. Thank you very much!

[2015-05-26 21:59] #199 closed

[2015-05-26 22:58] grabbou commented on #241
Been a nightmare to resolve all the conflicts but brand new server PR is waiting for merge again! #248

[2015-05-27 00:09] steida opened #249 "Add HTTP headers X-Powered-By: Este.js"
Let's discuss it.

===

if NODE_ENV !== 'production' && res.getHeader('X-Powered-By') - means it hasn't been disabled manually and we are running development mode, replace it with Este
if NODE_ENV === 'production' - disable x-powered-by at all (and maybe apply some additional security tweaks)

~ @grabbou

[2015-05-27 00:40] steida commented on #241
@XeeD Ok, it's done. Check it please.
[code]

[2015-05-27 00:46] #227 closed

[2015-05-27 05:30] grabbou commented on #249
Yeah, +1 from me, but:

- user should be able to disable tag in a config

Let's use a middleware that I am gonna create in a second!

[2015-05-27 07:04] PetrSnobelt commented on #35
Maybe is problem on my side, but I have not styles rendered in HTML with first page load. They are added by javascript later and it cause "flash"

[2015-05-27 07:10] grabbou commented on #229
Well, I think this is no longer relevant when we have `cli` :)

[2015-05-27 07:10] PetrSnobelt commented on #249
From security perspective it is not recommended to notify attacker about used technologies and versions.

[2015-05-27 08:09] grabbou commented on #249
Well, since Express.js ships with it by default, so should we. If user wants to disable it by writing `app.disable('x-powered-by')`, we just need to make sure we respect this setting as well :)

[2015-05-27 08:37] solcik commented on #35
It is happening only in development mode (webpack), when you start application in production mode - styles are going to be emitted to file, so "flash" will not longer be there.

[2015-05-27 08:56] XeeD commented on #241
I will check it more deeply during weekend and prepare the fork. The server refactoring was definitely a good idea!

[2015-05-27 08:56] ironer commented on #246
Ok. I did some small backward compatible fix on msgs function, which actually solves step 3). I try to prepare PR with solution b) for step 4). It may be possible, that there will be no nice way to have FormattedHTMLMessage as parent for our components. If you find the solution I prepare good enough, then you can consider above mentioned analysis as TL;DR. :-)

[2015-05-27 08:59] grabbou commented on #241
@XeeD there's been one more server refactoring PR + better user state updates as I hate having too many side effects in render function, please wait till it's merged and that's the last refactoring part :)

[2015-05-27 09:01] XeeD commented on #241
@grabbou OK. I am watching all the PRs here :smile:

[2015-05-27 09:36] grabbou commented on #241
I am scared after looking at your avatar #AK47 @XeeD

[2015-05-27 09:44] #221 closed

[2015-05-27 09:45] steida commented on #229
Yes :-)

[2015-05-27 10:35] PetrSnobelt commented on #249
I think devstach should be as secure as possible by default so app.disable('x-powered-by') should be set, but it is up to devstack authors :-)

On secure servers Wappalyzer/bookmarklet return No applications detected ;-D

[2015-05-27 11:39] grabbou commented on #249
Yeah, I agree, but we are talking about overwriting current `x-powered-by` header which is enabled by default anyway.

What we can do is, we can additionally disable that tag when `NODE_ENV === 'production` and put this awesome info to our Readme (one more advantage of Este stack).

[2015-05-27 12:36] PetrSnobelt commented on #249
It sounds great...

[2015-05-27 12:50] grabbou commented on #249
Safety first :+1:

[2015-05-27 13:08] hleumas opened #254 "State class is more general concept"
Let's become familiar with Clojure atom:
http://clojure.org/atoms

It is very similar to este `State`.
**atom**

    (def a (atom value)) // create new atom
    (deref a) // get the value
    (swap! a f arg1 arg2 ... argN) // set the new value to (f value arg1 arg2 ... argN)

**State**

    let a = new State(value); // create new state
    a.get() // get the value
    a.set(newValue) // set the ne

[2015-05-27 14:00] PetrSnobelt commented on #254
Hi, I added undo/redro to `State` in my fork
https://github.com/PetrSnobelt/este/blob/master/src/lib/state.js

Do you think it should be added to `State` or to something like `StateWithHistory` (which wrap `State` or there is a better option?

[2015-05-27 14:08] grabbou commented on #254
I am not entirely sure if this kind of encapsulation is needed here. I am afraid another `general` data structure on top of Immutable might be unnecessary complication. Although I agree `State` is similar to `Atom`, I'd rather say `Atom` is more similar to top-level `Immutable` objects being held in `State`. State is a container for application state, so methods like `set` and `get` are just nice

[2015-05-27 14:13] grabbou commented on #246
What I would love to see working is ability to have `feature` specific translations within, instead of having all of them in messages.json... For example -> `todos/i18n/pl_PL.json` or something similar. Done this in a large-scale Angular app by using angular-translate-file-loader and it worked pretty well!

[2015-05-27 14:57] hleumas commented on #254
@grabbou check the pull request https://github.com/hleumas/este/commit/f3a0b44e6db3cd1ae7a0531392dda17352b1ac8e

You can simply dump the `State` class and use `Atom` instead. And `Atom` is already general enough. It does not contain state specific methods and assumptions. Cursors were factored to separate `Cursor` class and also made more general (now you can create even cursor from cursor). `toCo

[2015-05-27 15:53] grabbou commented on #254
It makes more sense now! Thanks for the example! Atom & Cursor make a lot of sense, unlike Atom & state :) I believe we should refactor this out from Este and publish under separate org repo so others can profit as well!

[2015-05-27 16:16] ironer commented on #246
That's definitely good idea. Were you able to decouple all the translations across features? There might appear some messages, which are better to be kept in different structures than feature specific. Maybe some error messages, which can be thrown in more files, or some form, buttons and menu related placeholders. It may be tempting to have not just date related things (names of months and days)

[2015-05-27 17:05] grabbou commented on #246
Hey!

They can be kept in `app` folder and prefixed with `app.<name>` after merging into one file.

I am pretty sure they will as we gonna write them manually :-) It should be relatively easy, esp. when we have fully featured `cli` tool.

Generally, I would love to see this working as there's definitely a need for Este to allow different custom loaders just because some users might want to ship wi

[2015-05-27 17:08] grabbou commented on #246
Just noticed you left some more questions, will get back to you after having my supper as my gf is going to kill me if I don't close the laptop JUST... RIGHT.. NOW :dash:

[2015-05-27 17:09] grabbou commented on #243
Not sure if already mentioned, but I would love to see `este/discussion` repository (similar to `nodeschool/organizers` so we can chat about organisation related things and some future concepts we might want to consider in all our repos.

[2015-05-27 17:10] grabbou commented on #249
Once @steida gives the green light, I am gonna scaffold a quick PR with this feature.

[2015-05-27 18:47] ironer commented on #246
BTW: Thank you very much for the CLI tool. I used it just for installation, but still 1 simple command just rocks compared to 5 or more and long waiting and watching all those compilation texts. Well, actually I got completely cosmetic, but nice improvement. As it takes more like minutes than seconds to run npm install... so I got those 2 or 3 blue lines and then for minutes nothing (except of my

[2015-05-27 19:07] grabbou commented on #246
<img src="https://cloud.githubusercontent.com/assets/2464966/7845003/59207012-04b4-11e5-8314-a18375fb2f5a.png" width="300" />
Like this? :)

[2015-05-27 19:25] ironer commented on #246
That's better. :-) Would it be too much to ask for simple percent counter (in estimated steps) or simple progress bar (10 chars of block - estimated) and argument --verbose|-v for full NPM output ? Just to have the CLI cool. :-D

[2015-05-27 19:26] grabbou commented on #246
Hm, can put the number at the beginning of each blue line, e.g. "3/6 Installing npm dependencies" + set --v flag for displaying npm output!

[2015-05-27 19:31] grabbou commented on #246
How that sounds? https://github.com/grabbou/este-cli/commit/0beb26ca244b0cb84d67cd0ca042580206015072

[2015-05-27 19:34] PetrSnobelt commented on #35
@solcik OK, thank you

[2015-05-27 19:34] ironer commented on #246
So there is no way to just show line:
Installing npm dependencies: &#9619;&#9619;&#9619;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;&#9617;
where the progress bar will run as in old DOS programs ? As just this step takes so long. So there will be nice to have something much more simple than full npm output, which will show, that the npm installation is running.

[2015-05-27 19:36] grabbou commented on #246
Ah, now I understand... well, I'll investigate!

[2015-05-27 19:38] ironer commented on #246
Fingers crossed, Mr. Holmes. :-)

[2015-05-27 19:48] grabbou commented on #246
For now I've just added old good everywhere hated NPM spinner :D We need to wait till new release is available, they already implemented it :)

[2015-05-27 20:00] ironer commented on #246
Great to hear, both the spinner (relativity shows that hated may be better than nothing :-D) and the news about progress bar output. While I prefer minimalistis GUI as much as possible, in the case of Este.js is CLI much more reasonable solution. I think developers run este on all systems and probably use many different IDEs. I go for hacking. I try find a way for the use of FormattedHTMLMessage,

[2015-05-28 00:22] jamesmanning opened #256 "possible to make yeoman generator?"
cloning the este repo certainly works, just wondering if making a yeoman generator for este would be possible too?  I didn't see one when searching http://yeoman.io/generators/

Thanks!

[2015-05-28 07:29] grabbou commented on #256
Hey, thanks for the suggestion! In fact, I had the same thought 4 days ago. We decided to write our own generator from scratch without using any Yeoman generators so it gives us more flexibility. It's still in alpha stage but it's available here -> `http://github.com/grabbou/este-cli` :)

[2015-05-28 08:14] hleumas commented on #254
@grabbou makes sense. Will create separate repo with more immutable helpers.

[2015-05-28 08:22] grabbou commented on #254
Nice, you can give me link later on so maybe i can help.

[2015-05-28 11:01] grabbou commented on #243
On a side note -> what about adding additional parameter to our `cli` command so users can choose what kind of app to install? Similar to what ionic does by letting users to choose either to install `blank` app or `todo` app :)

[2015-05-28 13:20] jamesmanning commented on #256
Nice, thanks!

Just curious, was there something limiting about Yeoman?  The este-cli description sounds like it would map most things to yeoman sub-generators, and having a yeoman generating would be nice - AFAICT there's a good number of people (myself included) that learn about a new js tech like this by finding the yeoman generator(s) available and using them. :smile:

I'll be giving este-cli

[2015-05-28 14:31] grabbou commented on #256
There were couple of things I was keeping in mind when building a cli tool for Este:
- Este avoids using `overabstracted` frameworks and so do we. Instead of using Yeoman that comes with lots of useful features, we focused on keeping the core relatively small without any additional tools apart from a `task runner` wrapper. (Actually, I think the core will be released as a separate module soon). It

[2015-05-28 14:40] grabbou commented on #256
PS. The core has already ~100% code coverage, but the untested blueprints (generators) are lowering it temporarily.

[2015-05-28 18:26] steida commented on #243
Yes, more repos. Empty app, todo app, empty component, some component :)

[2015-05-28 18:38] grabbou commented on #243
Sarcasm :+1:

[2015-05-28 20:05] hleumas commented on #254
@grabbou Here it is. All suggestions welcome! https://github.com/vacuumlabs/immutable-utils

[2015-05-28 20:20] PetrSnobelt commented on #254
Hi @hleumas, are there benefits of using custom cursor implementation over Immutable contrib cursor? https://github.com/facebook/immutable-js/tree/master/contrib/cursor

[2015-05-28 22:33] hleumas commented on #254
@PetrSnobelt yes, Immutable contrib cursor mixes concepts of `Atom`, `Cursor` and `Collection` together. I don't think this is good. You should be explicit whether you work with immutable data collection or reference to that collection (e.g. `Atom`, or `Cursor`). Also, it is strange that you need to supply `onChange` method to `Cursor` constructor, that the other cursors are not update automatical

[2015-05-29 01:02] steida commented on #254
@hleumas Can you summarize why we should add more abstraction to current solution? Every abstraction has to have pretty good reason to entre. Also https://twitter.com/swannodette/status/603970083870920704 "Next om will have no cursors."

[2015-05-29 06:02] hleumas commented on #254
@steida It is nice to work with immutable data structures, but you need to have something mutable in your code, because our apps have state. Thats the reason you created `State` class in the first place, right?

That's the reason why in Clojure there are `atom`s, `ref`s and `agent`s.

If you take a look at the current `State` class, you can realize it is just polluted `Atom`. You can immediately d

[2015-05-30 23:30] steida opened #257 "Memoize render"

[2015-05-31 00:20] LeZuse commented on #257
:+1:

[2015-05-31 00:31] steida commented on #257
no magic :-)

[2015-05-31 00:31] #257 closed

[2015-05-31 13:17] grabbou commented on #246
What's the `import {FormattedHTMLMessage} from 'react-intl';` in `app/menu.react.js` doing? @steida though you said no react-intl dependency?

[2015-05-31 14:41] ironer commented on #246
He wanted to have some HTML translation example in the App, too, as I understood the translation issue: "translate everything" #220 . Do you propose to build own parser to build HTML tree and/or Link components and insert it from our own component in some optimized way directly from the translation? I was thinking about something like this. Our company runs like 9 branches in 9 different countries

[2015-05-31 14:53] ironer commented on #246
Of course, we can use some kind of Markdown in our translations, which would completely decide the "best" approach for building 2 optimized custom React components, one for 1 item and one for list. But I'm not sure about adding Markdown to boilerplate App. While I'm quite sure adding HTML example in boilerplate is very good idea.

[2015-05-31 17:11] grabbou commented on #246
Well, to me it's completely ok to use `react-intl`, just saying I've proposed this a while ago and got told `no real profit from depending on yet another library`.

Haha, keep going! Would be awesome to see this stuff working in the CLI tool! If you'll have any further questions, feel free to send me a message either here or via Gitter!

[2015-05-31 17:12] grabbou commented on #246
PS. The `intl` stuff works flawlessly in the React Native version of `este` I am currently writing, so just catching up with the latest master commits to update my codebase

[2015-06-03 03:10] adanielyan commented on #237
It looks like the last link is broken.

[2015-06-04 09:17] AlesJiranek commented on #241
@XeeD Hello, Is there any progress with fork? Did you have time for that?

[2015-06-04 12:56] grabbou opened #258 "Add pre-commit hooks"
https://www.npmjs.com/package/pre-commit

Works flawlessly. By default it runs `test` but other scripts can be added. I am using that to ensure tests run before pushing as I've been always tired of running them all manually.

[2015-06-04 20:28] grabbou opened #259 "Refactor login component"
DocumentTitle should be always set only on top most (pages) components. In case of login form, it just seems to be defined twice.

[2015-06-04 21:05] grabbou opened #260 "Consider using pendingActions instead of action.pending"
Might be an unnecessary optimisation, but plays well with top-down data passing and accessing pending actions from props instead of binding to imported `action` directly (less `magical` as we are reading from the props). Not sure how to work around the `auth/login` name (and generally the `setToString` stuff)

WDYT?

[2015-06-05 03:38] steida commented on #237
http://ponyfoo.com/articles/immutable-deployments-packer

[2015-06-05 08:42] #259 closed

[2015-06-05 08:47] XeeD commented on #241
@AlesJiranek Not yet, sorry - we are releasing app to production this week and I didn't have time for this.

[2015-06-05 08:54] steida commented on #260
I think we should use context for that.

No, just kidding :-) Yes, pending getter is magic. We should remove it, because there is a chance it will not work until pendingActions are passed to component as well.

[2015-06-05 08:55] steida commented on #241
@XeeD Finish releasing, then we can add transmit example together.

[2015-06-05 09:01] grabbou commented on #259
THAT WAS MY ISSUE :-1:

[2015-06-06 06:19] #210 closed

[2015-06-06 07:19] #218 closed

[2015-06-06 16:49] rkoberg opened #262 "best way to stay in sync with the project yet make changes (layout/styling)"
What is the recommended way to stay in sync with this project yet change layout and styling? Here is what I have done:
[code]
Created my own github project and added it as the remote origin. To update (on the master branch) I would do:
[code]
And then fix any conflicts (like there was today).

Is there a recommended way to diverge from the este master branch to use our own layout and styles?

My d

[2015-06-06 17:06] rkoberg commented on #262
Btw, here is the repo:
https://github.com/rkoberg/este-test
If you run npm install, bower install, and then gulp, you will see the loader errors for the font-awesome font icons.

[2015-06-06 17:37] ilionic commented on #262
In order to load font-awesome ( I used fa- react module), had to update loader regex:
`      loaders: [{
        loader: 'url-loader?limit=100000',
        test: /\.(gif|jpg|png|woff|woff2|eot|ttf|svg|otf)(\?v=[0-9]\.[0-9]\.[0-9])?$/
      }`

[2015-06-06 18:02] rkoberg commented on #262
Thanks that worked.

[2015-06-06 18:06] rkoberg commented on #262
Another issue I am seeing relates to to requiring the styles in the components. Don't get me wrong, I really like it! However, I am doing things like:
[code]
and
[code]
So I will need to import my settings and functions wherever I need them. Probably not an Este issue (besides the require at the component), but do you know of a way to make reusable scss (for example, the foundation functions and t

[2015-06-06 18:23] ilionic commented on #262
Scope of mixins/functions is isolated if you do it este way of loading styles. You have to import variables/mixins per component.

[2015-06-06 18:48] rkoberg commented on #262
Perhaps something like this exists, and there porbably is a better way, but what about adding a 'service' (don't know the react/flux name) that uses two new files:
- settings-service
--- upstream-settings.json
--- downstream-settings.json.example (committed to este master)

upstream-settings.json could contain, for example:
[code]
and downstream-settings.json (local implementation) could contain:

[2015-06-06 19:11] grabbou commented on #262
http://git-scm.com/docs/git-cherry-pick

or

[code]

[2015-06-06 19:13] grabbou commented on #262
As per Este.js updates and keepin repositories in sync, this will be easier with the new organisation repositories where we are going to have the `core` and the `todomvc` example.

I agree it would be cool to update the project with the latest Este.js changes, but my advice that I found useful is - just pick few changes manually as the rest is usually related to the `todomvc` content which is not

[2015-06-06 19:16] rkoberg commented on #262
Thanks, grabbou and ilionic. Yes a new organization of the repo seems necessary for Este being a framework.

Regarding  the settings, it would be a store. Perhaps twos stores: one for the client and one for the server. This would help bringing it more in line with being a framework. What do you think?

[2015-06-06 19:19] grabbou commented on #262
@rkoberg no worries, just updated my last comment with more detailed answer regarding your question.

[2015-06-06 19:37] rkoberg commented on #262
OK, makes sense. Could have sworn I saw this described as a framework somewhere. I really like how the whole app is structured after looking through several other boilerplates.

[2015-06-06 19:37] #262 closed

[2015-06-06 19:55] rkoberg opened #263 "modular/componentized routes"
I really like the modularization/componentization of Este. One thing that seems to be missing is putting the routes at the component level. I suppose this is a matter of taste, but I would like to keep the route definition at the component level. For example in Angular you can do something like at a module level:
[code]
The route becomes available only if the module (component) is present. If not,

[2015-06-06 22:28] ilionic commented on #262
With Bootstrap is easier in sense that stylus port is well maintainable and no need to keep it in original less, not mentioning loads of react-bootstrap goodies.
With Foundation is a bit different story unfortunately.

[2015-06-07 08:03] steida commented on #263
All routes belong to routes.js because they provides global app structure overview.

[2015-06-07 08:03] #263 closed

[2015-06-07 08:07] steida commented on #260
Fixed.

[2015-06-07 08:07] #260 closed

[2015-06-07 08:19] steida commented on #254
Sorry, but I don't really see an advantage of this abstraction.

[2015-06-07 08:19] #254 closed

[2015-06-07 08:39] steida opened #265 "este web"
- [ ] simple html web
- [ ] some copyrighting for it

[2015-06-07 08:40] steida opened #266 "undo redo for todos"

[2015-06-07 08:48] grabbou commented on #265
My +1 goes to `basscss` that has awesome clean components we can use to write a really nice yet simple website

[2015-06-07 08:49] grabbou commented on #256
Closing, please feel free to comment in case of further questions. Otherwise, just go to the `este-cli` repo :)

[2015-06-07 08:49] #256 closed

[2015-06-07 08:51] grabbou commented on #249
Just to clean it up a bit, I've added the approach we are going with to the first comment. To be submitted later today.

[2015-06-07 08:52] grabbou commented on #244
` all promise uncaught errors ` shall we put that into the app cursor and listen to uncaught errors/promises and send `app/actions/uncaughtError` action automatically via dispatcher so store can save the information about that?

[2015-06-07 08:54] grabbou commented on #223
Any updates? Otherwise I am just gonna give it a go.

[2015-06-07 08:54] grabbou commented on #266
Yes.

[2015-06-07 09:00] grabbou commented on #247
Would be cool to list that somewhere so others know what we are up to (including alphabetical order of imports that you keep fixing all the time!).

Jed recently crated his own styleguide by forking the `standard` style (https://github.com/feross/standard) which might be worth investigating. A really simple CLI tool that does the `eslint` on your project with the current `este` config would be rea

[2015-06-07 09:03] tajo commented on #265
`github.com/este` needed

[2015-06-07 09:26] hleumas commented on #254
@steida let's say I renamed `Atom` and called it `State`. Would it be more acceptable?

[2015-06-07 09:37] steida commented on #244
Yep.

[2015-06-07 09:39] steida commented on #223
I will port code from my another project, so I think you can ignore it for now.

[2015-06-07 09:39] steida commented on #266
+1

[2015-06-07 09:41] steida commented on #247
@grabbou Here I started https://github.com/steida/este/wiki/Patterns

[2015-06-07 09:56] steida commented on #254
I like design principle behind PR, but overal it's too noisy for Este. We really don't want such facades like https://github.com/vacuumlabs/immutable-utils/blob/master/src/functions.js Would you force developer to debug/think about it? What if immutable api will change? This is no go.

Also, there is no reason to change current api (like deref), for sake of familiarity with David's OM.

Current gl

[2015-06-07 10:13] steida opened #267 "Move lib into client/lib"
Move lib into client/lib, because separate dir is misleading, and all its content belongs to /client anyway.
Move all /client stable stuff into lib.

- intl store
- requireAuth with overridable isAuthenticated method
- expose router
- dispatcher
- /lib files like state.js or validation.js

Discuss.

[2015-06-07 10:16] grabbou commented on #267
LGTM, that's something I was suggesting on Gitter anyway, happy to see the intl store going to `lib`. Way easier to stay in sync with Este by just merging the lib folder.

[2015-06-07 10:17] grabbou commented on #247
Ok.

[2015-06-07 10:18] grabbou commented on #223
All righty

[2015-06-07 10:18] grabbou commented on #244
Cool, will send over the updates.

[2015-06-07 10:20] grabbou commented on #254
+1, basically what I said before, I just don't think this kind of abstraction is needed here, we aim to avoid `over-abstracted` patterns and frameworks so let's stick with something that's easy to debug yet to tweak in developers intended way.

[2015-06-07 10:22] grabbou commented on #191
`este/firebase` or whatever ? Not sure if worth including in the core as Firebase although being awesome is something not everyone can profit from ;(

[2015-06-07 10:23] #245 closed

[2015-06-07 10:24] #57 closed

[2015-06-07 10:30] steida commented on #191
Definitely not including any potentially useless stuff. But we should have a way to share our Este related snippets somehow. Maybe example subdir or only wiki with links to gists? Not sure yet.

[2015-06-07 10:32] grabbou opened #268 "auth/data --> user/user"
Generally, in the projects I've done so far I've been rewriting that part so that the `initialstate` looks like below:

[code]

Generally, I think it's a bit clearer and more obvious to have the `user` data in the user store and state instead of referring to the `auth/form`.

What do you think?

[2015-06-07 10:35] steida commented on #268
I agree.

[2015-06-07 10:35] grabbou commented on #268
Reserved

[2015-06-07 10:37] grabbou commented on #191
Yeah, `examples` might end up being huge when we will be about to present a working example of a given component. I would've just placed them either in the `contrib` root folder (not even sure if that's the purpose of it, but that's kinda what Immutable does) or in the gists + link in the Wiki with a few sentences regarding the most simple use case.

[2015-06-07 10:37] steida opened #269 "Move initial todos into user state."
Move initial todos into user state to demonstrate initial and user custom state merge.

https://github.com/steida/este/blob/master/src/server/initialstate.js#L27

[2015-06-07 10:45] grabbou commented on #269
Well, maybe leave them up there and add a custom TODO on per request basis (on every refresh)? Something displaying request data, so it's clear that it's coming from the server, e.g. "Change your user agent from <req.user_agent>"

[2015-06-07 10:48] grabbou commented on #269
Or, even better... let's make the `isLogged` undefined by default and set it in the server middleware here (which is actually demonstrating the `authentication` middleware -> https://github.com/steida/este/blob/master/src/server/frontend/index.js#L28-L31).

[2015-06-07 10:51] steida commented on #269
No : ), just move them into custom state. Must be super simple.

[2015-06-07 10:52] grabbou opened #270 "Changelog"
Would be cool to have a changelog (I am still not sure if the decision to resign from releases was a good move). Recently, there was a question from somebody on how to merge the master changes to its project. As there are so many patterns changing frequently, it would be awesome to list them all in the single file so when somebody visits the repo after one month and has already started an Este.js

[2015-06-07 10:54] grabbou commented on #269
All righty, will just add them to the line https://github.com/steida/este/blob/master/src/server/frontend/index.js#L25

[2015-06-07 10:56] steida commented on #270
Yes, changelog is must. Please add some and I promise I will use it.

[2015-06-07 10:57] steida commented on #269
ok

[2015-06-07 10:58] grabbou commented on #270
But as long as there are no releases, shall we just try to publish the weekly changes?

E.g.
[code]
?

[2015-06-07 11:03] steida commented on #270
Good question. We need to use semver. So, maybe we should switch back to releases. And link them instead of changelog file. Ok :-)

[2015-06-07 11:06] grabbou commented on #270
Yeah, but we don't have any breaking changes as we do not provide any API, so maybe:
- major - a big rewrite/structure changes/purification/whatever
- minor - a small update (e.g. pendingActions are now accessed differently, user merging state example)
- patch - fix, typo, everything else

I am planning to feature each release on my medium channel describing what we've change which might be benefi

[2015-06-07 11:08] steida commented on #270
Agreed.

[2015-06-07 11:09] grabbou commented on #270
A note like this in Readme.md describing the semver we follow?
https://github.com/rackt/react-router#semver

[2015-06-07 11:22] steida commented on #265
Here is it https://github.com/este. I added you and @grabbou as admins.

[2015-06-07 14:20] ilionic commented on #191
Yes please, rise the awareness of Firebase implementation with Este. Maybe separate branch would work.

[2015-06-07 16:07] hleumas commented on #254
@steida https://github.com/vacuumlabs/immutable-utils/blob/master/src/functions.js is separate thing. They are not needed for the PR, I just think it is convenient to have function equivalents for Immutable methods, but it is separate issue and I can separate this to distinct repositories if you like.

If we discard functions.js, you can think about the resulting code as a refactor of `State` clas

[2015-06-07 16:51] grabbou commented on #265
Let's move discussion over there.
https://github.com/este/web

[2015-06-07 16:51] #265 closed

[2015-06-07 19:45] obimod opened #272 "makeconfig.js over-engineeering and bad for general scm"
Just a general comment that having functions w/in configuration (makeConfig.js) is bad for SCM (increases complexity and moving parts into configuration). Depending on the application this can make things more difficult to accomplish in the long run.

[2015-06-07 19:48] steida commented on #272
Send PR with better code, then we can discuss. Thank you.

[2015-06-07 19:48] #272 closed

[2015-06-08 04:51] #249 closed

[2015-06-08 04:51] #267 closed

[2015-06-08 04:51] #268 closed

[2015-06-08 04:51] #269 closed

[2015-06-08 07:38] frol commented on #270
@grabbou Let me put my two cents on this matter.

That is true, but a breaking change in any of the used projects will be a breaking change in Este.js!

[2015-06-08 08:29] grabbou commented on #270
@frol thanks for that, you are 100% right, that's why we are planning to describe what each version release means when it comes down to Este.js code. We are mainly focusing on letting you know if the changes are easy/hard to back port to your project. Moreover, we will be describing them as a blogposts or something similar so you can read what were the ideas behind particular changes to indicate w

[2015-06-08 08:34] frol commented on #270
@grabbou Sounds like an absolute dream :) I can't wait for that!

[2015-06-08 09:30] steida commented on #116
So I have tried Closure Compiler instead of Uglify. The output file size is slightly better for Closure: 102/365 vs 103/380. (gzipped size, size).
And Closure Compiler compilation (standard mode ofc) is 2x faster.
steida 2 minutes ago
But requiring Java is no-go, so let's stuck with Uglify.

https://gist.github.com/steida/4f6d45c25814f8a1ea84

[2015-06-08 09:30] #116 closed

[2015-06-08 09:40] grabbou commented on #116
Moving to wiki page.

[2015-06-08 09:48] #247 closed

[2015-06-08 09:49] grabbou commented on #237
Wiki?

[2015-06-08 09:52] steida commented on #237
Sure.

[2015-06-08 09:53] grabbou commented on #80
I am still not sure if keeping all the translations in a `state` is a right decision. Especially when we will be about to do serialisation and history keeping. Saving this kind of data which in real life is relatively big just seems like an unnecessary overheat to me.

[2015-06-08 09:54] grabbou commented on #68
I think #244 is a duplicate of this one. But since this one is longer and contains less data, I'd rather close this one.

[2015-06-08 09:57] grabbou commented on #56
Let's just write an invariant for direct accessing the `pending` property of an action?
`Although accessing pending property of <actionName> in <componentName> works, it may cause hard to debug issues. It is advisable to keep your components pure and use pendingActions instead`

[2015-06-08 09:59] grabbou commented on #31
Because it comes from `piping`?

[2015-06-08 10:00] grabbou commented on #43
I am experiencing `Cannot setState on an unmounted component` after couple of refreshes. Weird, but hard refresh fixes the issue in all cases.

[2015-06-08 10:00] steida commented on #80
Messages belong to global app state, because they can (and will) be changed without app reload. Error reporter can filter them.

[2015-06-08 10:00] grabbou commented on #237
Also -> http://odewahn.github.io/docker-jumpstart/

[2015-06-08 10:01] steida commented on #80
History keeping is ok, remember unchanged immutables are preserved.

[2015-06-08 10:01] grabbou commented on #80
All righty

[2015-06-08 10:01] steida commented on #68
Agreed.

[2015-06-08 10:01] #68 closed

[2015-06-08 10:04] steida commented on #43
Same here. @gaearon will update rules for hot reloading everything after conf.

[2015-06-08 10:05] steida commented on #31
Not sure. Just investigating.

[2015-06-08 10:09] steida commented on #56
Pending prop is gone :)
I think we don't need invariant example in Este since it's app. Invariant checks belong to libraries.

[2015-06-08 10:09] #56 closed

[2015-06-08 10:26] grabbou commented on #56
Yet...

[2015-06-08 10:37] steida commented on #211
It doesn't work unless server is compiled with webpack too.

[2015-06-08 10:37] #211 closed

[2015-06-08 15:29] maspwr opened #273 "Add webpack-dev-server polling example"
I just filed https://github.com/webpack/webpack-dev-server/issues/194, to ensure this actually works, but once that is fixed (if it is indeed a bug), an example here to show how to have webpack-dev-server detect file changes using polling would be cool.

[2015-06-09 14:59] grabbou opened #274 "[Idea] move appState listener to componentWIllMount"
Because `app.react.js` componentDidMount is called after all underlaying children's componentDidMount are called and all children are mounted.

Use case:
`homepage.react.js` in componentDidMount checks for a length of a given array. If it equals to 0, it issues the API request. Because API request action is being dispatched just before parent mounts, the listener for appState changes skips that ac

[2015-06-09 15:56] obimod opened #275 "decide on a test framework"
Tests are pretty critical for disciplined application development.

Decision to make: which test framework to use.

Best options i.m.o.: Jest or Mocha

Mocha is a pretty mature test framework. Considering my experience with it, I think it's the way to go.

I think integrating it within the webpack dev server is the way to go.

Thoughts? I'd like to have a general consensus that this is the way we

[2015-06-09 15:57] obimod commented on #275
@steida ^^

[2015-06-09 16:12] grabbou commented on #275
#180, we have already brought this few times in several discussions, we are considering using `mocha` over `jest`.

My two cents are - I prefer Mocha just because it's a simple test runner. No auto mocking, no magic. Choosing other bits of testing process is something I like having under control.

[2015-06-09 23:15] steida commented on #275
Jest sucks. I will add Mocha support asap.

[2015-06-09 23:43] steida commented on #274
I see. Ok, let's use componentWillMount with IS_BROWSER check.

[2015-06-10 06:03] steida opened #276 "Rename user to users"
Store, dir, etc. add loggedInUserId, and pass logged in user as another app.react state

[2015-06-10 08:02] grabbou commented on #276
What's the deal in passing user as another app state? We have it under `user.data`. Sounds clear enough to me. The rest #ok.

[2015-06-10 08:26] ironer commented on #276
Maybe without passing logged user to App state would "undo" step mean change the App in state back in time, where things are as before logging, but the user is still logged? Not sure about this. :-D

[2015-06-10 21:34] steida commented on #55
@grabbou Flow will be driven mainly from command line, but plugin for WebStorm would be a nice addtion as well.

[2015-06-10 21:35] grabbou commented on #55
Switched to `Atom` recently so might revisit it soonish in one of the projects.

[2015-06-10 22:03] steida opened #277 "Use destructuring assignment for props in render methods"
Like const {auth, user, isLoggedIn, pendingActions} = this.props;

[2015-06-10 22:15] grabbou commented on #277
Nice, haven't thought about that to be fair. My weird rule of thumb is - define everything explicitly as `const` and avoid using `this.props` in render as much as possible. Reads easier and you have clear overview of what your method is using.

[2015-06-10 23:00] steida opened #278 "REPL for Este in developer toolbar"
For example, it would be pretty useful to be able to call Seq and experiment with appState data somehow. It's possible to import something explicitly with webpack in dev mode?

[2015-06-10 23:02] steida commented on #277
Exactly!

[2015-06-12 02:55] steida opened #279 "Wait for new react-router api, consider putting router state into global app state"
@grabbou WDYT?

https://github.com/steida/comm/commit/df9bc24d3a2955bc6b432de6fa3d7807adcefea0

[2015-06-12 16:43] grabbou commented on #279
LGTM

AFAIK it's going to be discussed during React Europe, so we will have the ability to brainstorm our ideas with Ryan and Michael.

PS. A really simple props-state driven Router is what I would've died for! No more `transitionTo` just an action `goToRoute` issued from any place you want. This gives me a great inspiration to implement this for React Native as its still missing a really lightwei

[2015-06-12 16:44] grabbou commented on #278
Let's start with this one:
<img src="https://cloud.githubusercontent.com/assets/2464966/8134868/10e9eea0-1133-11e5-999b-6e1c9f26a9c3.png" width="500" />

[2015-06-13 00:44] steida commented on #80
Consider even more easy approach to localizations.
1) Don't create dictionary manually
2) Put whole message into msg function. (second argument can help distinguish msg place).
3) Write tool for extracting all messages.

Why? People (me) have to think about messages.js structure, which sucks.

[2015-06-13 02:57] steida opened #280 "requireAuth should pass authenticated user object"

[2015-06-13 02:58] #280 closed

[2015-06-13 11:51] #274 closed

[2015-06-13 12:54] steida commented on #277
sure

[2015-06-13 12:54] #277 closed

[2015-06-14 04:27] #278 closed

[2015-06-14 05:01] #276 closed

[2015-06-14 12:08] steida commented on #223
Can you finish it please? https://github.com/steida/este/commit/3352151cc487650136bf8f4438040f5bff18b79d

I refactored editable component and added growing textarea. Now we only need optional save cancel buttons for textarea edit.

[2015-06-14 22:53] rkoberg opened #282 "sass (re)imports breaks webpack"
Just spent a lot of time tracking down this issue and posting for anyone else running into this (occurred after merging changes today):
https://github.com/jtangelder/sass-loader/issues/100

Basically, for example, if you have a reusable settings.scss and include that in multiple imported scss, webpack hangs in producing the CSS and JS with no error or message given. I am unfortunately loading them

[2015-06-15 00:10] steida commented on #282
Thank you for reporting.

[2015-06-15 00:10] #282 closed

[2015-06-15 08:55] ironer commented on #80
@steida: I used the approach with texts directly in "views" wrapped by function. It's amazing, if you are building the app yourself, and still you end up with some way of extracting longer texts in some "messages" storage. That wouldn't be much of practical problem and I would even tell, that there are really nice approaches to this: Function wrapped texts for shorter texts and Markdown based data

[2015-06-15 23:26] rkoberg opened #283 "Strange validation bug when navigating to Me page"
The code for this is at: https://github.com/rkoberg/este-test

I have changed the behavior of the Me page to get a (new) name property:
[code]
If I add back the email variable. The validation error goes away:
[code]
So, without the email variable defined and after logging in or refreshing the page for an authenticated user (or refreshing with an authenticated one), then navigating to the Me page,

[2015-06-15 23:47] rkoberg opened #284 "How to create an Este form page?"
I want to outline what it takes to create a page that includes a form to ensure I am covering everything and to bring up some issues for discussion. I am new to this project, React/Flux, and ES6 in general, so take what I say with a grain of salt. Mainly I am posting this to hopefully gain a better understanding of Este and the patterns used. The code for this is at: https://github.com/rkoberg/est

[2015-06-16 08:15] grabbou commented on #284
Hey! Sorry for my partial response, but just woke up and wanted to address couple of bits (will get back later with more observations).

This is done only once, when you create a new feature. Once you have let's say `orders` feature, and you are about to create `newOrder` you just add it to state, create a record, write some actions and do the views. Agreed it takes longer than in Angular, but the

[2015-06-16 09:47] steida opened #285 "Proposal for new messages translation"
What's wrong with current approach:
- developer has to think about weird messages paths
- whole `messages.js` file is injected into app state, no dead code removal

Suggested approach:
- every message is wrapped by msg function: `msg('message text')` or `msg('message text', 'uiContext')`,
- cli tool can extract messages from compiled code into json dictionary `{msgText: {uiContext: 'translatedMsgT

[2015-06-16 09:47] steida commented on #284
https://github.com/steida/este/issues/285

[2015-06-16 09:56] grabbou commented on #285
Ideally there could've been a `webpack` pipeline that merge all the translations along the stylesheets as well, wdyt?

[2015-06-16 10:00] steida commented on #285
Why webpack should do that? Msg function is using real message for dev (and first language), module will be hot reloaded, no need for merging. Merging is usefull only for production, so for cli tool in gulp.

[2015-06-16 10:02] ironer commented on #285
The approach is somehow exactly, what I was discussing with @grabbou except of using some kind of translation files in ./i18n folder. I just don't trust function wrapped texts as translation keys for developed system in production. So I would use ```msg('_messageKey_', 'message text')``` version to specify the key for the translation explicitly and use it as 1st argument for better code readabilit

[2015-06-16 10:06] steida opened #286 "Changing locale"
https://github.com/steida/este/pull/135

[2015-06-16 10:08] steida commented on #285
Why? We can enforce consistency via cli tool.

[2015-06-16 10:18] ironer commented on #285
What about situation like this:
[code]
The wrong Helo is translated to other languages correctly by translators and there are some language files with data like czech one with ```'_keyMd5OfHeloWith1L_': 'Ahoj',```
After few days I fix it to:
[code]
After changing the ```Helo``` to ```Hello``` all translations stop working. Do you know some reliable way to prevent it?

[2015-06-16 10:25] steida opened #287 "CDN"
https://github.com/steida/este/pull/95

[2015-06-16 10:30] #183 closed

[2015-06-16 10:30] steida commented on #163
We will remove jest.

[2015-06-16 10:30] #163 closed

[2015-06-16 10:31] steida commented on #180
Jest will be removed.

[2015-06-16 10:31] #180 closed

[2015-06-16 10:32] steida commented on #273
Please explain what it means for este, and feel free to reopen issue.

[2015-06-16 10:32] #273 closed

[2015-06-16 10:33] steida commented on #258
Hmm, it's really useful for Este? Feel free to reopen issue.

[2015-06-16 10:33] #258 closed

[2015-06-16 10:33] steida commented on #246
Feel free to open a new issue.

[2015-06-16 10:33] #246 closed

[2015-06-16 10:34] #235 closed

[2015-06-16 10:35] #224 closed

[2015-06-16 10:35] #209 closed

[2015-06-16 10:35] #172 closed

[2015-06-16 10:36] #126 closed

[2015-06-16 10:36] XeeD commented on #241
Release finished, now I can take a look at this. I'll fork the repo and add Transmit.

[2015-06-16 10:36] #157 closed

[2015-06-16 10:37] #123 closed

[2015-06-16 10:38] #72 closed

[2015-06-16 10:38] #70 closed

[2015-06-16 10:38] #67 closed

[2015-06-16 10:39] #69 closed

[2015-06-16 10:41] steida commented on #241
I'm suggesting to use some public rest api, and add it into examples.
And congrats to release.

[2015-06-16 10:42] steida commented on #80
Feel free to send any PR or complain on any issue :-)

[2015-06-16 10:42] #80 closed

[2015-06-16 10:42] #43 closed

[2015-06-16 10:43] #45 closed

[2015-06-16 10:43] #40 closed

[2015-06-16 10:44] #35 closed

[2015-06-16 10:44] #33 closed

[2015-06-16 10:45] #31 closed

[2015-06-16 10:46] steida commented on #270
Just make a releases from now. Minimal ftw.

[2015-06-16 10:46] #229 closed

[2015-06-16 10:47] steida commented on #228
Can you close it pls?

[2015-06-16 11:16] steida commented on #283
Sorry, I can't fix code for you.

[2015-06-16 11:16] #283 closed

[2015-06-16 15:02] rkoberg commented on #283
Did not notice that msg() was doing a substitution. Thanks for the help...

[2015-06-16 20:16] rkoberg opened #288 "brittleness -- the me page and other stuff"
This was closed: https://github.com/steida/este/issues/283
But it indicates a brittleness the maintainer fails to acknowledge. I spent more time than I probably should have tracking down the bug, but due to an unintuitive and opaque system I did waste time. The issue here is that an explicitly and mapped named variable (I guess) needs to be present for a 'variable' replacement to occur -- WTF is t

[2015-06-17 01:54] steida commented on #288
Ok, sorry then. I will recheck the message code. Anyway, we proposed better msg approach, so code will be refactored any way.

[2015-06-17 01:54] #288 closed

[2015-06-17 02:03] steida opened #289 "Asserts"
Like closure library or React PropTypes, removed in compiled code.

[2015-06-17 07:14] steida commented on #288
@rkoberg And remember: https://twitter.com/ryanflorence/status/611028089154478080

[2015-06-18 09:56] steida commented on #223
Done.

[2015-06-18 09:56] #223 closed

[2015-06-18 10:54] PetrSnobelt commented on #241
If you need public rest Api, you can try
http://jsonplaceholder.typicode.com/

[2015-06-18 13:00] mareksuscak commented on #241
worth looking at: http://httpbin.org/

[2015-06-18 13:20] mareksuscak commented on #237
Guys, maybe I'll be a bit offtopic but this issue is the closest to what I'd like to suggest. We decided to use este.js as our dev stack for new applications. Our deployment scenario is very specific though. We don't want to deploy it as a server-side node app because we use a different backend technology and we don't want to mix the two (our devops guys actually would rather not use it). Moreover

[2015-06-19 08:35] grabbou commented on #237
Hey, as there are going to be multiple deployment scenarios, I would suggest we keep them in Wiki page so others can take a look? Something like a quick break down of all the use cases we have tried and we are outlining necessary changes that need to be done in order to make the deployment flawless.

Use cases to feature:
- Heroku deployment
- "Part-of-framework" deployment, where no Node.js app i

[2015-06-19 09:18] mareksuscak commented on #237
Ok is I still have to figure out a few things one of which is what is the best way to generate index.html into the build folder because one thing is to serve the assets properly but another thing is you need this index.html and you don't want to download it manually in order to perform a fresh deploy - the best way is probably to reuse existing render function. That's point one. My second point is

[2015-06-19 10:00] grabbou commented on #237
Well, nope! This is something we've done two weeks ago. That's true we avoid putting the staging and production config in the bundle files so you can easily give your code to other developers without worrying they have been given the database write access.

In order to do that, please check the config.js descriptions (there are a lot of them at the top of the file), basically.. in order to overrid

[2015-06-19 10:36] mareksuscak commented on #237
I see. It has to work during the build though so it can inject the proper base URI value (to be included yet) during the build of static `index.html` (explained in RFC below). If that's possible then we are good here.

I have prepared extensive explanation in a form of RFC text [here](https://gist.github.com/mareksuscak/49626aeee0363b5ab77d). Could you take a look at it?

[2015-06-20 00:33] steida opened #291 "Add service worker example"

[2015-06-20 00:35] steida opened #292 "Add web manifest"
http://html5doctor.com/web-manifest-specification/
https://developer.mozilla.org/en-US/Apps/Build/Manifest

[2015-06-20 07:47] steida opened #293 "react-native"

[2015-06-20 12:06] grabbou commented on #293
Yeah, need to finish my exams this weekend and going back to work!

[2015-06-20 14:56] dmitry commented on #282
@steida have you found how to fix that issue?

[2015-06-21 00:12] steida commented on #282
No, but I am not creator of webpack nor sass-loader, so it's not up to me to fix it.

[2015-06-21 01:03] steida commented on #285
@ironer Hmm, good point. No. As I see it, it's trade-off between not having to write keys, and having to update keys for all translated languages once any message is changed, which is no go. We can workaround it by CLI tool, to ensure there are no clashes between keys, but it adds another level of complexity. Because suggested solution is not 10x better than current, I am closing issue.

[2015-06-21 01:33] steida opened #294 "Consider more concise syntax for store action handlers"
[code]

or even

[code]

@grabbou WDYT?

Also, this will be easy testable once we allow to override mock imports (dispach for actions and register for stores). Let's discuss.

[2015-06-21 05:17] steida commented on #226
As for piping hook, server must be restarted, so hook is required.
Piping 1.0.8 with updated chodidar reports more updates for just one change. Retest it last chokidar, or release 1.0.9 with old chokidar.

[2015-06-21 07:14] steida opened #295 "Wet dream: Hide semicolons in Sublime/Atom, automatically add them before commit."
Man can only dream.

[2015-06-21 07:37] steida commented on #275
Done!

[2015-06-21 07:37] #275 closed

[2015-06-21 07:38] steida commented on #55
@ronag Can you add Flow to Este please?

[2015-06-21 08:25] ronag commented on #55
They don't support let/const yet as far as I know?

[2015-06-21 08:32] steida opened #296 "Hot reload for messages"
Yes.

[2015-06-21 08:34] steida commented on #55
Hmm, it seems you are correct :-/

[2015-06-21 08:34] steida commented on #55
@ronag Btw, what do you think about https://github.com/steida/este/issues/294?

[2015-06-21 08:43] ronag commented on #294
#1 is similar to what I suggested in the past.

Though I kind of like #2 more, assuming that you would only ever update a single cursor in an action. But I guess that is a reasonable assumption?

[2015-06-21 08:45] ronag commented on #55
I'm keeping a watch. As soon as I start using Flow myself I'll let you guys know.

[2015-06-21 08:46] ronag commented on #55
One possible solution (which I've found to complicated to bother with) could be to run only the const/let transforms in babel and then pipe the results to flow.

[2015-06-21 08:53] steida commented on #294
I remember, that's why I'm asking you for advice now. Finally I have found time for that :)

[2015-06-21 09:52] tajo commented on #294
Why? I update multiple cursors in a single action handler.

[2015-06-21 10:16] ronag commented on #294
If you want to be really picky. Updating multiple cursors in the same action handler means that you have bad encapsulation. Each cursor should correspond to one domain/store and each action handler should work in a single domain/store.

This is why I don't like having state cursor globally accessible. You can easily end up with a spaghetti of figuring out who modifies which cursor and when.

[2015-06-21 10:33] ronag opened #297 "react-stampit"
https://github.com/stampit-org/react-stampit

I love it. Though I understand people prefer the somewhat broken/incomplete classes.

[2015-06-21 10:36] ronag commented on #294
Um, sorry for the wall of text :)

[2015-06-21 10:43] steida commented on #297
Sorry, mixins are no go. Feel free to convice me to opposite.

[2015-06-21 10:43] #297 closed

[2015-06-21 10:44] ronag commented on #297
In order to do that I would need to know why they are no go?

[2015-06-21 10:44] ronag commented on #297
For me classes + higher order component is a no go since statics are not forwarded.

[2015-06-21 10:51] grabbou commented on #297
As long as we keep using higher order components to approach the same thing as with mixins, I can't see any point of stopping mixins usage in React Native. Components composition is something I really like when using mixins, it's also less boilerplate to write. Waiting for the official solution made specifically for ES6.

Some examples:
- `AnimateMixin` - adds animation to a component when state c

[2015-06-21 10:58] grabbou commented on #294
How can we address this use case with new pattern:

[code]

[2015-06-21 11:00] ronag commented on #297
Mixins is composition...

[2015-06-21 11:09] steida commented on #297
Mixing is merging, HOC is composition. What does not work for you with higher order components? Mixings is super brittle, once someone will use handleChanges or similar method. React ES6 classes are ok, they allow you to add local state, which is ok for experimenting.

[2015-06-21 11:15] grabbou commented on #292
este/website

[2015-06-21 11:16] ironer commented on #297
Mixins are anti-functional approach, exactly as Dan wrote. There are many most of the time "nice" features in any programming language, but the task of constant/linear development complexity system is to prefer pure funtional before any "nice" features whenever possible. If it's not possible due to environment, then that's the right place for low level abstraction to keep the app as functional as

[2015-06-21 11:21] ronag commented on #297
As I wrote, HOC does not forward statics.

[2015-06-21 11:23] ironer commented on #297
If you already use statics, then is your "functional" level messed already so much, that you can copy/paste them. :-D

[2015-06-21 11:24] ronag commented on #297
I'll refer to Eric Elliot to debate mixins. I'm not qualified further than having an opinion.

http://ericleads.com/2013/06/classical-inheritance-is-obsolete-how-to-think-in-prototypal-oo/
https://github.com/stampit-org/stampit
http://ericleads.com/2014/02/prototypal-inheritance-with-stamps/

[2015-06-21 11:24] ronag commented on #297
I don't quite understand this.

[2015-06-21 11:30] ironer commented on #297
I've read those things about stampit. And I actually like it. But I would need more time to study it. About the statics - did you mean that higher order component doesn't automatically get the static properties of the wapped one?

[2015-06-21 11:32] ronag commented on #297
Yes.

[2015-06-21 11:37] ironer commented on #297
From functional view it would be better to have "utility object" injected in constructor, which would pass without problems. But if you really want static methods then it's better to create higher order component factory, which can copy the static props to the HoC. It kind of sucks, but static properties kind of suck themselves. ;-)

[2015-06-21 11:42] grabbou commented on #285
It's just a matter of writing few clever AST checks with CLI that will act as a `linter`, e.g. `rule number 1` - validate translations, check for either missing translations or defined translations for similar keys.

[2015-06-21 11:43] grabbou commented on #293
Around Wednesday probably.

[2015-06-21 11:44] grabbou commented on #55
I think you should pipe all the things to flow first and then, to babel. Babel gets rid of all Flow specific annotations.

[2015-06-21 12:34] ronag commented on #55
It is possible to tell babel to just run specific transforms. The whole point of going through babel first is to remove const/let from the code since flow doesn't support it...

[2015-06-22 06:15] #284 closed

[2015-06-22 06:16] steida commented on #151
done

[2015-06-22 06:16] #151 closed

[2015-06-22 06:25] steida commented on #270
As I see it, all we need for now, is manually described releases. Choose last dozens commits, and describe what and why happen. Then add link to readme. Thank you!!!

[2015-06-22 06:51] steida opened #299 "Do we really need Karma?"
I think, with upcoming Shallow Rendering, we should be able to run all tests in Node.js.

[2015-06-22 07:47] grabbou commented on #270
YES SIR

[2015-06-22 10:59] steida opened #300 "Add example tests for actions and store."
Mock dispatch for actions, and register and cursor for stores. https://github.com/speedskater/babel-plugin-rewire

or

Make actions and store reducers side effects free, and use composition. Then we will have to pass actions, probably like `this.props.actions.auth.login`, then we can probably put back .isPending getter, because actions will be one nested map. TODO: Consider.

[2015-06-23 07:46] #270 closed

[2015-06-23 10:26] andykenward opened #303 "process.env.CONTINUOUS_INTEGRATION is always undefined"
Hey,

`process.env.CONTINUOUS_INTEGRATION` seems to always been `undefined` regardless of gulp task. Unless i am missing something.

[2015-06-23 12:10] ilionic commented on #191
Any plans regarding this one? Very interested to see how you guys are using it.

[2015-06-23 12:17] grabbou commented on #303
If you are talking about referring to this env from within the app, consider using `__`.

E.g. `process.env.ci__whatever` becomes `import {ci} from 'config.js'; console.log(ci.whatever);`

[2015-06-23 12:22] andykenward commented on #303
Nah I am talking about the use in `makeconfig.js` and `karma.conf.js`

[2015-06-23 12:23] grabbou commented on #303
But the config is standalone, so you can freely refer to it in order to gain nice env overloading and `default values` settings ;)

[2015-06-23 18:55] ronag commented on #297
Ran into this problem again today. I can't use `willTransitionTo` in a component that is wrapped by a `exposeRouter`.

[2015-06-24 00:16] fabriciocolombo commented on #297
I ran into the same problem @ronag. I need prevent user closes the form while inserting data, like the docs

    willTransitionFrom: function (transition, component) {
      if (component.formHasUnsavedData()) {
        if (!confirm('You have unsaved information,'+
                     'are you sure you want to leave this page?')) {
          transition.abort();
        }
      }
    }

then when

[2015-06-24 01:24] steida commented on #191
@ilionic I updated gist for you. I will publish some simple web tomorrow, so you will see.

[2015-06-24 01:24] steida commented on #191
@grabbou Maybe contrib should be separate repo on este org.

[2015-06-24 01:35] steida commented on #297
willTransitionTo will not be static method with new react-router api anyway, so 1) wait for new api 2) use some temp workaround 3) don't use willTransitionTo. Anyway, I guess you can not prevent accidental leaving through browser back button, so there is no point to use confirm for that. I would just save all data into global app state, then data will be never lost, and you can use onBeforeUnload

[2015-06-24 05:42] ronag commented on #297
My work around is to in exposeRouter do:
[code]
Ugly, but it works until I personally switch to react-stampit.

[2015-06-24 13:20] XeeD commented on #241
I've chosen the GitHub API for demonstration purposes. You can look at the implementation here: https://github.com/steida/este/compare/master...XeeD:react-transmit

Next step: server rendering.

Comments are of course welcome.

[2015-06-24 21:51] grabbou commented on #191
Yeah, that's what I suggested. Examples should be kept elsewhere, on per folder basis in one repo. Shall I make one?

[2015-06-24 22:43] steida commented on #191
yes please

[2015-06-24 23:38] steida commented on #191
TODO: Firebase auth into este-cli.

[2015-06-24 23:48] steida commented on #285
Maybe, when we update message as key, we have to update translations as well, and it's could be done via este-cli tool.

[2015-06-25 00:31] steida opened #306 "Find tool for cyclic dependencies detection for ES6."
The terrible thing is, some cyclic dependencies are ok, and some can tear you down for hours for no obvious reason.

[2015-06-25 09:06] steida opened #307 "Memoize component render. Discuss."

[2015-06-25 09:16] ironer commented on #285
1) By my experience it wouldn't be wise to trust in the changed text similarity. Messages can be long and change heavily. Creating simple AI is a bit "overengineering", IMHO.
2) This way will mean that you got 2 different data structures - one for default language - second for all other languages. I think, that's not the optimal final way to store one domain of data.
3) Your "default" (english) la

[2015-06-25 09:37] grabbou commented on #307
Why? React diffs anyway.

[2015-06-25 09:38] grabbou commented on #306
But you will be warned anyway by either Webpack or Node that cyclic dependencies are found. Usually they are the result of mixed concerns in the modules, but with Node.js, they can be easily fixed by early exporting the needed elements.

[2015-06-25 09:41] grabbou commented on #191
@steida why authenticate in CLI?

[2015-06-25 10:31] #307 closed

[2015-06-25 10:32] steida commented on #306
https://github.com/webpack/webpack/issues/631

[2015-06-25 10:35] steida commented on #285
+ for last btw :)

[2015-06-25 10:45] grabbou commented on #306
LOL, thought it's been already there.

[2015-06-25 12:38] hmeerlo opened #309 "How to debug"
Hi Guys,

I am trying to run this in IntelliJ so I can debug it and see what is going on. But I can not get it to debug correctly. I run a standard 'node server/index.js' with debug options. It hits breakpoints but on other lines than where my breakpoints were defined. It probably has to do with the babel ES6 translation and source maps etc. But I have no clue how to fix this. Any hint, tips?

/He

[2015-06-25 20:35] steida opened #311 "Check Nuclide and Flow with Este.js"
https://code.facebook.com/posts/397706937084869/
https://github.com/facebook/nuclide

[2015-06-25 20:43] grabbou commented on #311
CPU goes crazy for now, I recommend cloning and running `scripts/dev/setup` manually.

[2015-06-25 21:57] grabbou commented on #311
Can we think of making a plugin like this for Atom?
https://atom.io/packages/js-autoimport

Basically all CLI features out of the box, all gets included and inserted were applicable by default. (You create new state in initialstate, cursor and state are made automatically).

[2015-06-25 23:55] steida commented on #309
Sorry, I don't know.

[2015-06-26 06:55] grabbou commented on #309
Been using WebStorm in the past but moved to Atom. If you will be struggling with that, I can try to check it later today.

[2015-06-26 07:12] hmeerlo commented on #309
If you could give it a look that would be great.

[2015-06-26 09:02] steida commented on #309
I don't always debug my server code but when i do i do it with https://github.com/node-inspector/node-inspector

[2015-06-26 09:03] hmeerlo commented on #309
Yes I could do that as well, but I've got this great expensive IDE so I was hoping I could use that :-)

[2015-06-26 11:08] mareksuscak opened #312 "Revert to css-loader 14.5 because of numerous issues in 0.15.1."
I suggest to temporarily revert to using css-loader 0.14.5 until [all the issues](https://github.com/webpack/css-loader/issues) introduced in the latest version are fixed. I'm having trouble getting CSS keyframe animations to work properly.

[2015-06-26 20:27] steida commented on #312
Ok, send PR please.

[2015-06-27 02:38] #312 closed

[2015-06-27 08:09] grabbou opened #314 "Consider making the whole cursor a record"
Assume I have a carousel with all todos and I keep `currentIndex` in state, which is used by Carousel component to decide which todo to render.

Moreover, below the carousel I have the button `Buy` that fires the action. I need to pass the current `todo` to it.

What if, instead of:
[code]
we just could've written:
[code]
By making the whole cursor defined as a record, we are able to control all t

[2015-06-27 16:25] grabbou commented on #293
Home screen to be published tomorrow (hopefully)

[2015-06-28 00:01] steida opened #315 "Wait for css-loader 0.15.1 to be fixed."
Related #312

[2015-06-28 10:17] jonaswindey opened #316 "Token/Localstorage-based authentication"
It would be nice if authentication could be stored in a token like JWT, so that when we refresh the page, the /me page still returns the current user.

https://github.com/auth0/express-jwt
https://github.com/auth0/react-flux-jwt-authentication-sample

[2015-06-28 17:04] ronag opened #318 "custom webpack-dev-server not required?"
https://github.com/gaearon/react-hot-boilerplate/pull/27

[2015-06-29 10:22] ronag commented on #311
Keep an eye on:

https://github.com/facebook/flow/issues/560
https://github.com/facebook/flow/pull/431

[2015-06-29 15:27] christophediprima opened #320 "IE 10 unable to get property 'getCurrentRoutes' of undefined or null reference."
Hello,

My app is not working at all on IE 10 seems that "this.context" is not available in the app component.

[2015-06-29 23:35] steida commented on #318
And? Should i use or should I go?

[2015-06-29 23:38] steida commented on #311
@ronag Thank you for keeping eye on.

[2015-06-29 23:45] steida commented on #320
Thank you for reporting. Can you please investigate it, and send PR?

[2015-06-30 09:20] dipdipdip84 commented on #320
Seems to come from react-router

https://github.com/rackt/react-router/blob/master/UPGRADE_GUIDE.md#0132---0133

[2015-06-30 09:21] dipdipdip84 commented on #320
https://github.com/rackt/react-router/issues/1281

[2015-06-30 09:42] steida commented on #320
Thank you very much. That's how open source work - we all participate :-) I wish I had a time to investigage and fix IE10 right now, but I haven't.

[2015-07-01 22:12] grabbou commented on #320
Ha, I thought my native code leaked to Este.js somehow as I had this error earlier today as well :D

[2015-07-02 08:13] tanner-agi opened #323 "Styles in node_modules are only loading while in develop"
I'm using the [bootstrap](https://www.npmjs.com/package/bootstrap) npm library in my este app. In development, the app is loading the css fine. I have the following in my `src/client/app/app.styl`:
`@import '../../../node_modules/bootstrap/dist/css/bootstrap.css'`

But when my app's `NODE_ENV` is set to `production`, the bootstrap css isn't being loaded. Do you know why it would fail to load the c

[2015-07-03 14:23] grabbou opened #324 "Update readme"
Repo no longer under /steida namespace so "I am in SanFransisco now" is quite confusing ;)

[2015-07-04 11:47] #324 closed

[2015-07-04 11:48] grabbou commented on #243
Can be closed imo. BTW - I am still for renaming `este` to `web` to play nicely with `native` repo.

[2015-07-04 12:52] steida commented on #243
But soon native will be web-able as well I suppose. Also, not sure whether all steida/este redirections would work.

[2015-07-04 12:52] #243 closed

[2015-07-04 19:20] tsm91 commented on #309
Hmm I could not do it :D

`node-inspector` then `gulp` then `kill -s USR1 $(lsof -i:8000 -t)` then open up `http://127.0.0.1:8080/?ws=127.0.0.1:8080&port=5858` wait until project loads, set a breakpoint to the login post route and the * route, navigate around on the website, nothing happens.

[2015-07-04 21:14] steida commented on #309
Never give up a good thing, and then send a PR to readme with right steps. Thank you ;-)

[2015-07-04 21:21] tsm91 commented on #309
you have never tried to debug este with node-inspector?
Actually i console logged the information that i was curious about, but if i'd have to guess maybe the runtime babel/register inject messes up something.

[2015-07-04 22:01] steida commented on #309
I'm using it occasionally, but not often because ctrl-save-s with actions logging is good enough for most issue. As I remember, it works. You just have to read instructions attentively.

[2015-07-05 02:27] steida commented on #323
Sorry, no. But feel free to send PR if you found error in Este.

[2015-07-05 02:27] #323 closed

[2015-07-05 02:28] steida commented on #318
@ronag Can you please explain why we should use it?

[2015-07-05 02:29] steida commented on #316
Please write short wiki article about it https://github.com/este/este/wiki
Thank you!

[2015-07-05 02:29] #316 closed

[2015-07-05 02:30] #295 closed

[2015-07-05 02:39] steida commented on #314
I probably overlooked something. Why your are writting the same getters? You should write reusable mappers. Remember, props determine shouldComponentUpdate. We should not pass intermediate helpers records. Feel free to correct, it's late ; )

[2015-07-05 02:39] #226 closed

[2015-07-05 13:54] grabbou commented on #314
Whatever, will tell you via Skype. Man can only dream >^

[2015-07-06 09:14] XeeD commented on #307
Had it something to do with this? https://github.com/facebook/react/issues/3226

[2015-07-06 09:49] steida commented on #307
Yes. This and something else. I closed it since I am waiting for stable webpack solution. No need to discuss this anymore :-)

[2015-07-07 00:03] steida opened #327 "Even simpler Flux"

[2015-07-07 12:50] mirimCZ opened #331 "Put tests into folders in src/client | server"
We should couple context ("users" / "todos") not function ("showing" / "testing" / "controlling" / "storing"). Considering that remove /src/test and create tests folders in matching folders in client / server directory.

Eg.: https://github.com/este/este/blob/master/src/test/client/todos/actions.spec.js

Should be in
https://github.com/este/este/tree/feature/translations/src/client/todos ```/__tes

[2015-07-07 13:21] grabbou commented on #331
Worth taking a look at my current `i18n` approach were I addressed similar problem.

[2015-07-07 14:04] mirimCZ commented on #331
I decided to go with __tests__ (plural), since it was already ommited in gulp file in bulding tasks.

https://github.com/mirimCZ/este/commit/3d5a81722eda072a0a3b263a4227b0fe10aef188

There is two problems:
1) I still dont like that I need to have src/test. When I tried to define specs in karma file, I get errors of using reserved word on first line, that would be "import". Gues its problem with ES

[2015-07-07 14:33] grabbou commented on #303
Have you set it actually in your environment?
[code]
These `process.env` are just direct bindings to the system env, no magic here :)

[2015-07-07 14:33] #303 closed

[2015-07-07 14:38] #293 closed

[2015-07-07 14:43] grabbou commented on #306
Let's write one then.

[2015-07-07 14:45] XeeD commented on #279
#325 is implementation of the new Router API.

[2015-07-07 14:48] grabbou commented on #279
This is barely mergable, too many changes. I mean it's all righty but other PRs will break it in the meantime! :(

[2015-07-07 14:51] XeeD commented on #279
@grabbou No problem with rebasing on my side, I am trying to keep the PR minimal and only make the new Router work without warnings.

[2015-07-07 15:05] steida commented on #306
I think it will be solved with new Flux design, where actions will be exported as object. Much less brittle for cyclic dependencies.

[2015-07-07 15:05] #306 closed

[2015-07-07 15:15] grabbou commented on #306
But still a good place for some nice algorithms to be applied.

[2015-07-07 15:18] steida commented on #279
@XeeD Keep doing awesome work Lukáš! So glad you came to training to discover beauty of React and JS ecosystem :-)

[2015-07-07 15:22] XeeD commented on #279
@steida Thanks! Coming to the training was the best decision I've made in a long while :smile:

[2015-07-07 15:26] steida commented on #279
I will use it for http://www.learn-reactjs.com "What People Are Saying", can I? :-)

[2015-07-07 15:34] steida commented on #279
@XeeD And don't forget to write article please, thank you!

[2015-07-07 15:56] grabbou commented on #331
Can you submit a PR to the repo and we can then move discussion over there?

[2015-07-07 16:04] grabbou commented on #279
Yes, please, will bring you some vodka when I am in Prague soon :dancers:

[2015-07-07 16:05] grabbou commented on #316
Let's keep that on track, will write something about that as I keep using that.

[2015-07-07 16:07] grabbou opened #333 "async/await"
Would be cool as we use other proposals as well. Let's discuss.

[2015-07-07 16:12] grabbou commented on #291
For what? Can implement ;)

[2015-07-07 16:13] grabbou commented on #244
That's really handy, a global request handler that receives this stuff on every exception and it's up to user to e.g. transmit the things to Sentry or New Relic. On the other hand, they can just use them on client.

[2015-07-07 16:14] grabbou commented on #191
There's new plugin for that. https://github.com/tylermcginnis/re-base

[2015-07-07 17:01] mirimCZ commented on #331
https://github.com/este/este/pull/334

Like that? :)

[2015-07-07 19:57] steida commented on #191
No need to add it into cli since I will release example project for Este.
Btw, re-base is no-go https://github.com/tylermcginnis/re-base/issues/21

[2015-07-07 19:57] #191 closed

[2015-07-07 20:26] steida commented on #333
Not sure, as far I know there is still huge overload of babel core, cca 60kb gzipped.

[2015-07-07 21:42] grabbou opened #335 "Keep console.log warning less"
Imo we can safely leave that so ESLint leaves us alone when debugging in development. Let's use this instead when generating a dist: https://github.com/babel-plugins/babel-plugin-remove-console

[2015-07-07 21:43] grabbou opened #336 "Disable undefined eslint warning"
https://github.com/babel-plugins/babel-plugin-undefined-to-void - I quite prefer writing undefined than void 0. More idiomatic to me.

[2015-07-08 07:27] steida commented on #336
Working in JS for 10 years I never had a problem with someone overriding undefined.

[2015-07-08 07:28] steida commented on #335
No, console.log is mess which should never be in source control.

[2015-07-08 07:28] #335 closed

[2015-07-08 08:29] grabbou commented on #336
Me too, but still ESLint `no-undefined` is turned on as an error. So I'd rather add this plugin & switch the warning off. If we can have a plugin that will solve some problems for us and make developers more idiomatic, then - let's go for it.

[2015-07-08 10:02] steida commented on #336
Hmm, makes sense. Ok, send PR.

[2015-07-08 13:50] steida opened #338 "planned examples"
este/bitcoin
este/webrtc
este/relay
este/rethinkdb

...

[2015-07-08 17:05] grabbou commented on #338
este/sony_smart_tv :dancers:

[2015-07-09 09:32] mirimCZ opened #339 "Pages per feature?"
Related to issue #311 and PR #330

Same aproach - we should couple context, not functionality. What is now in "pages" should be in feature folder. Yes? If not, why?

[2015-07-09 10:35] grabbou commented on #339
I don't know to be fair. I think of pages as a "C" in "MVC". They serve slightly different purpose for me, they carry out pretty important business logic, including routing (like this.transitionTo). That said, I'd like to keep ALL components and smaller parts living in `features` reusable and atomic w/o any side effects.

[2015-07-09 11:26] steida commented on #338
Definitely!

[2015-07-09 11:29] grabbou opened #340 "Clean up editable"
https://github.com/este/este/blob/master/src/client/components/editable.react.js#L54-L60 remove?

[2015-07-09 11:30] mirimCZ commented on #339
I think of every ```feature``` as kind of ```module```... Lets say that ```page``` is ```controller``` - still, for me makes more sense to keep ```controller``` and stuff that it controlls together, in one place, one context. Rather than have one place for controllers. It's same logic I apllied on ```test``` folder.

I see a point... what is in ```feature``` is clean and reusable, and in ```pages`

[2015-07-09 13:00] steida commented on #340
yes please

[2015-07-09 14:17] grabbou commented on #339
As per latest point:

You can create TodosPage & UsersPage and make reusable component TableView that will render given array of objects? Just wondering ;) By convention pages should render mainly other reusable components or feature specific elements (of course you can skip that for pages like `aboutUs` where it does not make any sense)

[2015-07-09 14:40] kojilab opened #341 "ReferenceError: locale is not defined"
Hi

I cloned the este-app and followed the instructions but am getting ReferenceError: locale is not defined when I start the server using gulp.

Thanks

[2015-07-09 14:47] steida commented on #341
Thank you for reporting. Will be fixed now. cc @grabbou

[2015-07-09 14:48] grabbou commented on #341
Ah, we've just merged a pull request with translations, let me check that.

[2015-07-09 14:53] #341 closed

[2015-07-09 14:55] mirimCZ commented on #339
TableView is ofc possible, this was maybe a bad example. I've lost my original point, too bad :) But this chat helped me understand why it is in pages, thanks.

I'm closing this, alho I might reopen this one day :) I'm currently working on two projects separately and I have space to try both way, if I come across any problems I will let you know :)

[2015-07-09 15:12] steida commented on #339
Yes, you are correct. Feel free to send PR ;-)

[2015-07-09 15:31] kojilab commented on #341
Thanks. Works now!

[2015-07-11 15:46] frol commented on #270
Really?

[2015-07-11 16:57] steida commented on #270
You can always send pull request ;) Yeah, I will updated it once I update Este Flux.

[2015-07-12 20:37] luckylooke opened #342 "No gulpfile found"
After fresh and without errors install.
I have tried: "gulp" and it throws: No gulpfile found

I can see there is gulpfile.babel.js so I have updated gulp to newest version and still same error.
[code]
I am on ubuntu 14.04, thanks ;)

[2015-07-12 20:51] luckylooke commented on #342
OK, I have realized that this issue should be posted to gulp issues rather then este issues ;)

[2015-07-12 20:51] #342 closed

[2015-07-12 20:54] steida commented on #342
Yes, nothing fancy in Este, I hope :-)

[2015-07-13 09:26] AugustinLF commented on #300
Wouldn't the way [proposed](http://facebook.github.io/react/blog/2014/09/24/testing-flux-applications.html) by Facebook work?

[2015-07-13 10:20] steida commented on #300
Jest is nogo.

[2015-07-13 10:21] AugustinLF commented on #300
Yeah yeah, saw the discussion on gitter after that.

[2015-07-14 15:59] andykenward opened #345 "ReferenceError: Can't find variable: IntlPolyfill"
Using Safari 8.0.7 and running gulp or gulp -p the console outputs

`[Error] ReferenceError: Can't find variable: IntlPolyfill
	(anonymous function) (undefined, line 1)`

Latest commit
https://github.com/este/este/commit/5acc2b3a810d8e4abcf952b3bc1bd4d7a59ce7b5

[2015-07-14 16:10] andykenward commented on #345
Currently I have downgraded to `intl v0.1.4` in my project. And revert the `makeconfig.js` to the old folder structure of `intl v0.1.4`. To solve the issue for me.

[2015-07-14 18:58] steida commented on #345
Can you fix it and send pull request please? Thank you!

[2015-07-14 19:00] andykenward commented on #345
Yeah sure. Just assign it to me and will do it later today.

[2015-07-14 19:02] grabbou commented on #333
Yeah, also, no point in using strawman, but I am pretty sure this gets accepted.

[2015-07-14 19:02] grabbou opened #347 "Make changelog and sync with `cli`"
CLI is really out of date with latest structure changes yet it also lacks few features. I'll try to close them all tomorrow morning and make the changelog in the evening.

[2015-07-14 19:13] steida commented on #347
:+1:

[2015-07-14 20:03] StevenLangbroek commented on #340
Is there a reason for removing this? If we don't like this syntax, consider using `@autobind` from [core-decorators](/jayphelps/core-decorators.js)?

[2015-07-14 21:47] steida commented on #340
It's not needed, can be bind within render method.

[2015-07-14 22:02] StevenLangbroek commented on #340
True, but this will cause a re-bind every time `render` is invoked. If that's not an issue, clean away :)

[2015-07-15 18:36] grabbou commented on #347
CLI kinda cleaned up, will need a huge rewrite to be up to date. Main focus for today/tomorrow - changelog.

[2015-07-16 20:39] steida commented on #345
@andykenward friendly reminder here ;-)

[2015-07-17 01:47] gmethvin commented on #294
I agree with @ronag that we should avoid having mutable state cursors be globally accessible. One possibility is to have each store export its action handler function:

[code]

Then, somewhere else you would register your stores with the dispatcher:
[code]

Then we can eliminate the explicit cursors completely except for rare situations where we need state that isn't passed through props.

[2015-07-17 02:58] steida commented on #294
@gmethvin Huge simplification is comming. No side effects no boilerplates.

[2015-07-17 07:54] grabbou commented on #294
So this can be closed?

[2015-07-17 12:33] #294 closed

[2015-07-18 17:39] reggi opened #350 "Errors on running gulp"
First time install here and when I `clone`, `install`, and `gulp` I get the following errors.

[code]

[2015-07-18 18:02] findjashua commented on #207
One of the biggest benefits of Observables is how easy it becomes to understand the data flow in an application. Instead of repeatedly searching for `foo.set` or `Bus.trigger(foo)`, you have `foo$ = Observable.merge(bar$, baz$)`. This way, you instantly know that foo depends on bar and baz.

Since channels allow values to be pushed to them, won't we end up with the same situation, searching for `C

[2015-07-18 19:39] steida commented on #350
Try this `npm update -g`

[2015-07-19 00:19] gonzalocasas commented on #350
I'm getting the same thing. I tried `npm update -g`, also deleted `node_modules` and re-run `npm install`. I also installed node 0.10 (was running 0.12 initially), but no luck.

Basically seems to come down to this error:
`WARN [preprocess]: Can not load "webpack"!
  Error: Can not resolve circular dependency! (Resolving: preprocess -> preprocessor:webpack -> webpackPlugin -> fileList -> preproces

[2015-07-19 01:20] steida commented on #350
I see. Sorry for that. https://circleci.com/gh/este/este returned false positive builds, until I manually reset cache. Damn. Thank you for reporting.

[2015-07-19 01:26] steida commented on #350
Run stack without karma for now. Just type `gulp server`.

[2015-07-19 01:28] steida commented on #350
Related https://github.com/karma-runner/karma/issues/1497

[2015-07-19 06:41] steida commented on #350
Karma tmp disabled. Will be replaced pretty soon anyway.

[2015-07-19 06:41] steida commented on #340
in progress

[2015-07-19 06:41] #340 closed

[2015-07-19 06:42] steida commented on #339
done

[2015-07-19 06:42] #339 closed

[2015-07-19 06:42] steida commented on #336
no activity

[2015-07-19 06:42] #336 closed

[2015-07-19 06:42] #338 closed

[2015-07-19 06:45] steida commented on #333
on activity

[2015-07-19 06:45] #333 closed

[2015-07-19 06:45] steida commented on #327
done :100:

[2015-07-19 06:45] #327 closed